//ANIMATIONS
@include keyframes(sideWays)
    0%
        margin-left: 0px
    100%
        margin-left: 50px
@include keyframes(gradient)
    0%
        background-position: 0% 50%
    50%
        background-position: 20% 100%
    100%
        background-position: 50% 200%
@include keyframes(blinkAnim)
    0%
        transform: scale(1)
    50%
        transform: scale(-1)
    100%
        transform: scale(1)
@include keyframes(beat)
    to
        transform: scale(1.1)
@include keyframes (in-top)
    from
        transform: rotate3d(-1, 0, 0, 90deg)
    to
        transform: rotate3d(0, 0, 0, 0deg)
@include keyframes (in-right)
    from
        transform: rotate3d(0, -1, 0, 90deg)
    to
        transform: rotate3d(0, 0, 0, 0deg)
@include keyframes (in-bottom)
    from
        transform: rotate3d(1, 0, 0, 90deg)
    to
        transform: rotate3d(0, 0, 0, 0deg)
@include keyframes(in-left)
    from
        transform: rotate3d(0, 1, 0, 90deg)
    to
        transform: rotate3d(0, 0, 0, 0deg)
@include keyframes(out-top)
    from
        transform: rotate3d(0, 0, 0, 0deg)
    to
        transform: rotate3d(-1, 0, 0, 104deg)
@include keyframes(out-right)
    from
        transform: rotate3d(0, 0, 0, 0deg)
    to
        transform: rotate3d(0, -1, 0, 104deg)
@include keyframes(out-bottom)
    from
        transform: rotate3d(0, 0, 0, 0deg)
    to
        transform: rotate3d(1, 0, 0, 104deg)
@include keyframes(out-left)
    from
        transform: rotate3d(0, 0, 0, 0deg)
    to
        transform: rotate3d(0, 1, 0, 104deg)