.container
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  @media only screen and (min-width: 992px)
    max-width: 1050px

  @media only screen and (min-width: 1200px)
    max-width: 1180px

  @media only screen and (min-width: 1441px)
    max-width: 1350px

  @media only screen and (min-width: 1551px)
    max-width: 1458px

  @media (max-width: 992px) and (min-width: 768px)
    max-width: 95%

  @media only screen and (max-width: 768px)
    max-width: none
.sp-container
  width: 100%
  max-width: calc(100% - ((100% - 975px)/ 2))
  @media only screen and (min-width: 992px)
    max-width: calc(100% - ((100% - 1050px)/ 2))
  @media only screen and (min-width: 1200px)
    max-width: calc(100% - ((100% - 1180px)/ 2))
  @media only screen and (min-width: 1441px)
    max-width: calc(100% - ((100% - 1350px)/ 2))
  @media only screen and (min-width: 1551px)
    max-width: calc(100% - ((100% - 1440px)/ 2))
  @media (max-width: 992px) and (min-width: 768px)
    max-width: calc(100% - ((100% - 95%)/ 2))
  @media only screen and (max-width: 768px)
    max-width: none
  &.lft
    margin-left: 0
    margin-right: auto
  &.rigt
    margin-left: auto
    margin-right: 0
