//MODULES
/******* SCROLL UP *******/
.scrollup
    width: 35px
    position: fixed
    right: 10px
    bottom: 55px
    display: none
    z-index: 5
    color: $basecolor
    text-transform: uppercase
    text-align: center
    font-size: 10px
    @media only screen and (min-width: 468px)
        font-size: 12px
        bottom: 45px
    @media only screen and (min-width: 576px)
        width: 40px
        right: 20px
    svg
        fill: $basecolor
        margin-bottom: 10px
        width: 28px
        height: 28px
        @media only screen and (min-width: 468px)
            width: 37px
            height: 37px
    &:hover
        color: $basecolor

/*******FIXED*******/
.fixedRit
    position: fixed
    z-index: 3
    right: 0px 
    top: calc(var(--app-height) - 66%)
    transform: translateY(-50%)
    background: transparent
    -webkit-transition: .8s ease-in-out
    transition: .8s ease-in-out
    @media only screen and (min-width:992px)
        right: 20px 
        top: 300px
        bottom: initial
    @media (orientation: landscape)
        top: 120px
        transform: none

    ul
        li
            margin-bottom: 6px
            @media only screen and (min-width:992px)
                margin-bottom: 8px
            .floatBx
                width: 40px
                height: 40px
                background-color: $white
                -webkit-transition: .8s ease-in-out
                transition: .8s ease-in-out
                @include center
                @media only screen and (min-width:576px)
                    width: 50px
                    height: 45px
                @media only screen and (min-width:992px)
                    width: 60px
                    height: 55px
                &:hover
                    transform: translateX(6px)
                .bxIcon
                    svg
                        fill: $white
                        width: 20px
                        height: 20px
                        @media only screen and (min-width:992px)
                            width: 30px
                            height: 30px
            &:nth-child(1)
                .floatBx
                    background-color: $basecolor2
                    .bxIcon
                        svg
                            fill: $black
            &:nth-child(2)
                .floatBx
                    background-color: $basecolor
            &:nth-child(3)
                .floatBx
                    background-color: #B38D4F
            &:nth-child(4)
                .floatBx
                    background-color: #18B897
            &:nth-child(5)
                margin-bottom: 0
                .floatBx
                    background-color: $white
                    .bxIcon
                        svg
                            fill: $black
    &.show        
        @media only screen and (min-width:992px)
            top: 50%
        ul
            li
                &:nth-child(5)
                    .floatBx
                        background-color: $basecolor2
/*******HEADER SEARCH*******/
.SearchModal
    z-index: 9999
    background: #fff
    .modal-dialog
        margin: 0
        max-width: 100%
    .modal-content
        border-radius: 0
        border: none
    .modal-header
        padding: 0
        align-items: center
        border-radius: 0
        [data-bs-dismiss="modal"]
            width: 55px
            display: flex
            align-items: center
            justify-content: center
            background: transparent
            border: none
            outline: none
            box-shadow: none
            height: 45px
            @media only screen and (min-width: 468px)
                height: 55px
            svg
                width: 24px
                height: 24px
        .searchBox
            width: calc(100% - 55px)
            overflow: hidden
            align-items: center
            display: none
            @include display
            form
                width: 100%
                position: unset
            .form-group
                border: none
                overflow: hidden
                border-radius: 3px
                @include display
                position: unset
            .form-control
                background-color: rgb(255, 255, 255)
                width: calc(100% - 63px)
                border: none
                font-size: 16px
                color: rgb(58, 58, 58)
                padding: 10px 0px
                height: 45px
                @media only screen and (min-width: 468px)
                    height: 55px
                &::placeholder
                    color: rgb(58, 58, 58)
            input[type="search"]
                &::-webkit-search-cancel-button
                    -webkit-appearance: none
                    height: 17px
                    width: 17px
                    border-radius: 50em
                    background-size: contain
                    position: relative
                    right: 0
                    z-index: 100
                    cursor: pointer
            .sendBtn
                width: 63px
                border: none
                background: transparent
                background-color: rgb(255, 255, 255)
                height: 45px
                @media only screen and (min-width: 468px)
                    height: 55px
                svg
                    width: 24px
                    fill: $basecolor

        .SearchBtn
            display: flex
            align-items: center
            svg
                fill: $white
                width: 25px
    .modal-body
        .results
            height: auto
            width: 100%
            background: #fff
            margin-top: 20px
            z-index: 999
            @include display
            &::-webkit-scrollbar
                width: 0px
            li
                width: 50%
                .flxBx
                    display: flex
                    align-items: center
                    padding-bottom: 8px
                    margin-bottom: 10px
                    // visibility: hidden
                    cursor: pointer
                    .imgBx
                        margin-right: 10px
                        svg
                            width: 24px
                            height: 24px
                            fill: $basecolor
                    .txtBx
                        .name
                            font-size: 14px
                            color: $black
                            font-weight: 400
.Scroll
    font-weight: 300
    letter-spacing: 3px
    color: #fff
    text-transform: uppercase
    cursor: pointer
    position: absolute
    width: 88px
    height: 28px
    bottom: 20px
    right: 20px
    z-index: 2
    @media only screen and (min-width: 992px)
        width: 100px
    @media only screen and (min-width: 992px)
        height: 170px
        width: 22px
        bottom: -30px
        right: 112px
    &:hover
        .Txt
            color: $basecolor2
    .ScrollWrap
        display: flex
        align-items: center
        width: 100%
        height: auto
        @media only screen and (min-width: 992px)
            width: 170px
            height: 22px
            transform: rotate(90deg)
    .Txt
        width: 100%
        font-size: 12px
        line-height: 1
        color: $white
        font-weight: 400
        -webkit-transition: .4s ease-in-out
        transition: .4s ease-in-out
        @media only screen and (min-width: 576px)
            font-size: 14px
        @media only screen and (min-width: 992px)
            font-size: 16px
            margin-right: 10px
    svg
        width: 25px
        fill: $white
        rotate: 90deg
        animation: animate 3s linear infinite
        @keyframes animate
            0%
                transform: translateX(4px)
                opacity: 0.5
            60%
                transform: translateX(0px)
                opacity: 1
            100%
                transform: translateX(6px)
                opacity: 0        
        @media only screen and (min-width: 992px)
            rotate: 0deg
            width: 30px

/******* BLOG BOX *******/
.blog-box
    display: block
    .image_box
        position: relative
        overflow: hidden
        height: 230px
        @media only screen and (min-width: 576px)
            height: 238px
        @media only screen and (min-width: 1551px)
            height: 238px
        img
            width: 100%
            height: 100%
            object-fit: cover
            -webkit-transform: scale(1)
            transform: scale(1)
            -webkit-transition: .8s ease-in-out
            transition: .8s ease-in-out
    .content_box
        padding: 30px 0 20px
        border-bottom: 1px solid #E6E6E6
        .title_box
            display: flex
            justify-content: space-between
            padding: 0 0 10px
            @media only screen and (min-width: 468px)
                padding: 0 0 15px
            @media only screen and (min-width: 1200px)
                padding: 0 0 20px
            @media only screen and (min-width: 1551px)
                padding: 0 0 25px
            .post-date
                color: $text
                font-size: 15px 
                font-weight: 500
                line-height: 24px
                @media only screen and (min-width: 468px)
                    font-size: 16px 
                @media only screen and (min-width: 1551px)
                    font-size: 18px
            .post-ttl
                color: $basecolor2
                font-size: 15px
                font-weight: 500
                line-height: 24px
                -webkit-transition: all .5s ease-out
                -moz-transition: all .5s ease-out
                -ms-transition: all .5s ease-out
                -o-transition: all .5s ease-out
                transition: all .5s ease-out
                @media only screen and (min-width: 468px)
                    font-size: 16px 
                @media only screen and (min-width: 1551px)
                    font-size: 18px
        .details_sec
            .post-title
                color: $text
                font-size: 17px
                line-height: 30px
                font-weight: 700
                padding-bottom: 10px
                -webkit-transition: all .5s ease-out
                -moz-transition: all .5s ease-out
                -ms-transition: all .5s ease-out
                -o-transition: all .5s ease-out
                transition: all .5s ease-out
                @media only screen and (min-width: 468px)
                    font-size: 18px
                @media only screen and (min-width: 1551px)
                    font-size: 20px
            .post-description
                color: $black
                font-size: 14px
                font-weight: 400
                line-height: 24px
                @media only screen and (min-width: 468px)
                    font-size: 15px
                @media only screen and (min-width: 1551px)
                    font-size: 16px

    &:hover
        .image_box
            img
                -webkit-transform: scale(1.2)
                transform: scale(1.2)
        .content_box
            .title_box
                .post-ttl
                    color: $basecolor
            .details_sec
                .post-title
                    color:  $basecolor2

/******* BLOG DETAIL *******/
#news-detail
    .row
        margin: 0
        &>*
            padding: 0
        .News-Lft
            position: relative
            padding: 50px 0 0px 0
            @media only screen and (min-width: 468px)
                padding: 60px 0 0px 0
            @media only screen and (min-width: 768px)
                padding: 80px 45px 0px 0
            @media only screen and (min-width: 992px)
                padding: 100px 55px 0px 0
            @media only screen and (min-width: 1551px)
                padding: 130px 60px 0px 0
            .news-detail-img_box
                overflow: hidden
                width: 100%
                height: 230px
                @media only screen and (min-width: 468px)
                    height: 250px
                @media only screen and (min-width: 768px)
                    height: 290px
                @media only screen and (min-width: 992px)
                    height: 390px
                @media only screen and (min-width: 1551px)
                    height: 490px
                img
                    @include imgFit
                    -webkit-transform: scale(1)
                    transform: scale(1)
                    -webkit-transition: .8s ease-in-out
                    transition: .8s ease-in-out
                &:hover
                    img
                        -webkit-transform: scale(1.2)
                        transform: scale(1.2)
            .news-detail-content_box
                padding: 20px 0 0
                @media only screen and (min-width: 468px)
                    padding: 25px 0 0px
                @media only screen and (min-width: 768px)
                    padding: 28px 0 0px
                @media only screen and (min-width: 992px)
                    padding: 30px 0 0px
                @media only screen and (min-width: 1551px)
                    padding: 35px 0 0px
                .news-detail-head
                    display: flex
                    justify-content: space-between
                    padding: 0 0 20px
                    @media only screen and (min-width: 468px)
                        padding: 0 0 30px
                    @media only screen and (min-width: 768px)
                        padding: 0 0 40px
                    @media only screen and (min-width: 992px)
                        padding: 0 0 45px
                    @media only screen and (min-width: 1551px)
                        padding: 0 0 50px
                    .news-dtl-post_date
                        color: $text
                        font-size: 15px
                        font-weight: 500
                        line-height: 24px
                        @media only screen and (min-width: 468px)
                            font-size: 16px
                        @media only screen and (min-width: 1551px)
                            font-size: 18px
                    .news-dtl-post_ttl
                        color: $basecolor2
                        font-size: 15px
                        font-weight: 500
                        line-height: 24px
                        -webkit-transition: all .5s ease-out
                        -moz-transition: all .5s ease-out
                        -ms-transition: all .5s ease-out
                        -o-transition: all .5s ease-out
                        transition: all .5s ease-out
                        @media only screen and (min-width: 468px)
                            font-size: 16px
                        @media only screen and (min-width: 1551px)
                            font-size: 18px
                .news-detail-title
                    font-family: $fontstack2
                    font-size: 20px
                    font-weight: 700
                    line-height: 26px
                    border-bottom: 1px solid #E6E6E6
                    padding: 0 0 25px
                    @media only screen and (min-width: 468px)
                        font-size: 24px
                        line-height: 30px
                    @media only screen and (min-width: 768px)
                        padding: 0 0 35px
                        font-size: 28px
                        line-height: 33px
                    @media only screen and (min-width: 992px)
                        padding: 0 0 45px
                        font-size: 30px
                        line-height: 43px
                    @media only screen and (min-width: 1551px)
                        padding: 0 0 85px
                        font-size: 40px
                        line-height: 53px
                .news-detail-content
                    padding: 10px 0 0
                    @media only screen and (min-width: 468px)
                        padding: 20px 0 0
                    @media only screen and (min-width: 768px)
                        padding: 25px 0 0
                    @media only screen and (min-width: 992px)
                        padding: 30px 0 0
                    @media only screen and (min-width: 1551px)
                        padding: 40px 0 0
                    p
                        color: $black
                        font-size: 14px
                        font-weight: 400
                        line-height: 24px
                        padding: 0 0 10px
                        margin: 0
                        @media only screen and (min-width: 468px)
                            font-size: 15px
                            padding: 0 0 20px
                        @media only screen and (min-width: 768px)
                            padding: 0 0 25px
                        @media only screen and (min-width: 992px)
                            padding: 0 0 30px
                        @media only screen and (min-width: 1551px)
                            padding: 0 0 40px
                            font-size: 16px
                            line-height: 27px
             
            
        .News-Rgt
            position: relative
            background: #F8F9FB
            padding: 50px 0
            @media only screen and (min-width: 468px)
                padding: 60px 0
            @media only screen and (min-width: 768px)
                padding: 80px 0
            @media only screen and (min-width: 992px)
                padding: 100px 0 0px 40px
            @media only screen and (min-width: 1551px)
                padding: 130px 0 0px 45px
            &::before
                content: ''
                background: #F8F9FB
                display: block
                position: absolute
                top: 0
                bottom: 0
                right: 0
                width: 100vw
                z-index: -1
                @media only screen and (min-width: 468px)
                    content: ''
                    background: #F8F9FB
                    display: block
                    position: absolute
                    top: 0
                    bottom: 0
                    right: 0
                    width: 100vw
                    z-index: -1
                @media only screen and (min-width: 992px)
                    content: ''
                    background: #F8F9FB
                    display: block
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    width: 50vw
                    z-index: -1
                @media only screen and (min-width: 1551px)
                    content: ''
                    background: #F8F9FB
                    display: block
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    width: 50vw
                    z-index: -1
            &::after
                content: ''
                background: #F8F9FB
                display: block
                position: absolute
                top: 0
                bottom: 0
                left: 0
                width: 100vw
                z-index: -1
                @media only screen and (min-width: 468px)
                    content: ''
                    background: #F8F9FB
                    display: block
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    width: 100vw
                    z-index: -1
                @media only screen and (min-width: 992px)
                    content: ''
                    background: #F8F9FB
                    display: block
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    width: 50vw
                    z-index: -1
                @media only screen and (min-width: 1551px)
                    content: ''
                    background: #F8F9FB
                    display: block
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    width: 50vw
                    z-index: -1

            .news-dtl_ttl, h1, h2, h3, h4, h5, h6
                font-family: $fontstack2
                font-size: 20px
                font-weight: 700
                line-height: 26px
                padding: 0 0 15px
                @media only screen and (min-width: 468px)
                    padding: 0 0 20px
                    font-size: 24px
                    line-height: 30px
                @media only screen and (min-width: 768px)
                    padding: 0 0 30px
                    font-size: 28px
                    line-height: 33px
                @media only screen and (min-width: 992px)
                    padding: 0 0 40px
                    font-size: 30px
                    line-height: 43px
                @media only screen and (min-width: 1551px)
                    padding: 0 0 50px
                    font-size: 40px
                    line-height: 53px
            .row
                margin: -15px
                @media only screen and (min-width:468px)
                    margin: -15px
                @media only screen and (min-width:992px)
                    margin: 0
                &>*
                    padding: 15px
                    @media only screen and (min-width:468px)
                        padding: 15px
                    @media only screen and (min-width:992px)
                        padding: 0
                a
                    .NewsBox
                        display: flex
                        flex-wrap: wrap
                        padding-bottom: 10px
                        margin-bottom: 0px
                        border-bottom: 1px solid #E6E6E6
                        @media only screen and (min-width:468px)
                            padding-bottom: 15px
                            margin-bottom: 5px
                        @media only screen and (min-width:992px)
                            padding-bottom: 25px
                            margin-bottom: 20px
                        @media only screen and (min-width:1300px)
                            padding-bottom: 30px
                            margin-bottom: 20px
                        .Lft_News
                            width: 100%
                            height: 100%
                            overflow: hidden
                            margin-bottom: 15px
                            @media only screen and (min-width:992px)
                                width: 120px
                                height: 100%
                                margin-bottom: 0
                            @media only screen and (min-width:1200px)
                                width: 130px
                                height: 102px
                                margin-bottom: 0
                            @media only screen and (min-width:1300px)
                                width: 150px
                                height: 102px
                            .Img_Box
                                width: 100%
                                height: 100%
                                overflow: hidden
                                @media only screen and (min-width:992px)
                                    height: 100%
                                @media only screen and (min-width:1200px)
                                    height: 102px
                                @media only screen and (min-width:1300px)
                                    height: 102px
                                img
                                    -webkit-transform: scale(1)
                                    transform: scale(1)
                                    -webkit-transition: .8s ease-in-out
                                    transition: .8s ease-in-out
                                    @include imgFit
                        .Rgt_News
                            width: 100%
                            @media only screen and (min-width:992px)
                                width: calc(100% - 120px)
                                padding-left: 20px
                            @media only screen and (min-width:1200px)
                                width: calc(100% - 130px)
                            @media only screen and (min-width:1300px)
                                width: calc(100% - 150px)
                            .SubTitle
                                font-size: 14px
                                font-weight: 700
                                line-height: 23px
                                color: $text
                                margin-bottom: 10px
                                -webkit-transition: all .5s ease-out
                                -moz-transition: all .5s ease-out
                                -ms-transition: all .5s ease-out
                                -o-transition: all .5s ease-out
                                transition: all .5s ease-out
                                @media only screen and (min-width: 468px)
                                    font-size: 15px
                                    margin-bottom: 20px
                                @media only screen and (min-width: 768px)
                                    font-size: 16px
                                @media only screen and (min-width: 992px)
                                    font-size: 17px
                                @media only screen and (min-width: 1551px)
                                    font-size: 18px
                                    line-height: 26px
                                    margin-bottom: 25px
                            .News-flxbx
                                display: flex
                                align-items: center
                                justify-content: space-between
                                .News-dtl-date
                                    font-size: 12px
                                    font-weight: 500
                                    color: $text
                                    @media only screen and (min-width: 468px)
                                        font-size: 13px
                                    @media only screen and (min-width: 768px)
                                        font-size: 14px
                                    @media only screen and (min-width: 992px)
                                        font-size: 15px
                                    @media only screen and (min-width: 1551px)
                                        font-size: 16px
                                .News-dtl-tag
                                    font-size: 12px
                                    font-weight: 600
                                    color: $hover
                                    -webkit-transition: all .5s ease-out
                                    -moz-transition: all .5s ease-out
                                    -ms-transition: all .5s ease-out
                                    -o-transition: all .5s ease-out
                                    transition: all .5s ease-out
                                    @media only screen and (min-width: 468px)
                                        font-size: 13px
                                    @media only screen and (min-width: 768px)
                                        font-size: 14px
                                    @media only screen and (min-width: 992px)
                                        font-size: 15px
                                    @media only screen and (min-width: 1551px)
                                        font-size: 16px
                    &:hover
                        .Lft_News
                            .Img_Box
                                img
                                    -webkit-transform: scale(1.1)
                                    transform: scale(1.1)
                        .Rgt_News
                            .SubTitle
                                color: $basecolor2
                            .News-flxbx
                                .News-dtl-tag
                                    color: $basecolor
// Modal
#applyModal
    .modal-dialog
        @include mq('phablet')
            max-width: 600px
    .modal-content
        background-color: #F8F9FB
        border-radius: 0
        padding: 20px
        @include mq('phablet')
            padding: 40px
    .modal-header
        padding: 0
        border: 0
        .btn-close
            padding: 0
            width: 20px
            height: 20px
            opacity: 1
            &:focus
                box-shadow: none
    .modal-body
        @include mq('phablet')
            padding: 30px

/******* DEPARTMENT BOX *******/
.DepartmentBox
    display: block
    height: 100%
    border-bottom: 1px solid rgba(112, 112, 112, 0.20)
    .ImgBox
        height: 220px
        overflow: hidden
        background: $basecolor2
        img
            transform-origin: center
            transition: all .5s
            @include imgFit
    .CntnBox
        padding: 20px 0 25px
        @media only screen and (min-width: 992px)
            padding: 40px 0
        @media only screen and (min-width: 1551px)
            padding: 50px 0
        .ServTitle
            font-family: $fontstack2
            transition: all .3s
            color: #1C1C1C
            font-weight: 600
            margin-bottom: 10px
            font-size: 20px
            @media only screen and (min-width: 576px)
                font-size: 22px
            @media only screen and (min-width: 992px)
                font-size: 24px
            @media only screen and (min-width: 1200px)
                margin-bottom: 20px
            @media only screen and (min-width: 1551px)
                margin-bottom: 25px
                font-size: 28px
        .ServInfo
            p
                margin: 0
                color: #000000
                @media only screen and (min-width: 768px)
                    font-size: 16px
                    line-height: 24px
                @media only screen and (min-width: 992px)
                    font-size: 18px
                    line-height: 26px
                @media only screen and (min-width: 1551px)
                    font-size: 20px
                    line-height: 28px
    &:hover
        .ImgBox
            img
                opacity: 0.8
                transform: scale(1.2)

        .CntnBox
            .ServTitle
                color: $basecolor

/******* OUR FEATURES BOX *******/
.FeaturesBox
    display: block
    transition: all .3s
    height: 100%
    padding: 20px 20px 45px
    @media only screen and (min-width: 992px)
        padding: 28px 30px 60px
    @media only screen and (min-width: 1551px)
        padding: 33px 33px 80px
    .IconWrp
        display: flex
        justify-content: end
        flex-wrap: wrap
        margin-bottom: 20px
        @media only screen and (min-width: 1551px)
            margin-bottom: 30px
        #Arrow
            width: 19px
            height: 19px
            fill: #ffffff
            transition: all .3s
            transform: rotate(0deg)
            @media only screen and (min-width: 468px)
                width: 25px
                height: 25px
            @media only screen and (min-width: 1200px)
                width: 32px
                height: 32px
        .Icon
            width: 100%
            height: 50px
            display: flex
            align-items: center
            @media only screen and (min-width: 468px)
                height: 60px
            @media only screen and (min-width: 1551px)
                height: 73px
            img
                max-width: 50px
                max-height: 50px
                width: fit-content
                width: -moz-fit-content
                @media only screen and (min-width: 468px)
                    max-width: 60px
                    max-height: 60px
                @media only screen and (min-width: 1551px)
                    max-width: 75px
                    max-height: 75px
    .CntntWrp
        .Title
            font-weight: 500
            font-family: $fontstack2
            color: #fff
            margin-bottom: 10px
            transition: all .3s
            font-size: 20px
            @media only screen and (min-width: 576px)
                font-size: 22px
            @media only screen and (min-width: 992px)
                font-size: 24px
            @media only screen and (min-width: 1551px)
                font-size: 28px

        .Info
            color: #fff
            transition: all .3s
            font-size: 14px
            line-height: 20px
            @media only screen and (min-width: 768px)
                font-size: 16px
            @media only screen and (min-width: 992px)
                font-size: 18px
            @media only screen and (min-width: 1551px)
                font-size: 20px
    &.Bg1
        background: $basecolor
    &.Bg2
        background: $basecolor2
    &.Bg3
        background: $basecolor3
    &:hover
        transform: scale(.9)
        .IconWrp
            #Arrow
                transform: rotate(60deg)
