//MEDICAL BLOGS_PAGE
/************** ******* **************/
/************* MEDICAL BLOGS_PAGE *************/
/************** ******* **************/
#blog-list
    position: relative
    padding: 50px 0 30px
    @media only screen and (min-width: 468px)
        padding: 60px 0 40px
    @media only screen and (min-width: 768px)
        padding: 80px 0 60px
    @media only screen and (min-width: 992px)
        padding: 100px 0 70px
    @media only screen and (min-width: 1551px)
        padding: 130px 0 95px
    .row
        &>*
            padding: 5px 5px 10px
            @media only screen and (min-width: 468px)
                padding: 10px 10px 15px
            @media only screen and (min-width: 768px)
                padding: 15px 15px 20px
            @media only screen and (min-width: 992px)
                padding: 10px 10px 15px
            @media only screen and (min-width: 1551px)
                padding: 15px 15px 25px