//MEDICAL BLOGS DETAIL_PAGE
/************** ******* **************/
/************* MEDICAL BLOGS DETAIL_PAGE *************/
/************** ******* **************/

#news-detail
    position: relative
    padding: 0px 0 0px
    @media only screen and (min-width: 468px)
        padding: 0px 0 0px
    .News-Lft
        .news-detail-content_box
            .news-detail-title
                padding: 0 0 25px
                @media only screen and (min-width: 468px)
                    padding: 0 0 30px !important
                @media only screen and (min-width: 768px)
                    padding: 0 0 35px !important
                @media only screen and (min-width: 992px)
                    padding: 0 0 40px !important
                @media only screen and (min-width: 1551px)
                    padding: 0 0 45px !important
    .News-Rgt 
        .row
            div[class*="col-"]
                &:nth-last-child(1)
                    a 
                        .NewsBox
                            border-bottom: 1px solid #E6E6E6
                            @media only screen and (min-width: 468px)
                                border-bottom: 1px solid #E6E6E6
                            @media only screen and (min-width: 768px)
                                border-bottom: 1px solid #E6E6E6
                            @media only screen and (min-width: 992px)
                                border-bottom: 0
                            @media only screen and (min-width: 1551px)
                                border-bottom: 0