//careerPage
/************** ******* **************/
/************* careerPage *************/
/************** ******* **************/

#careerSec
    position: relative
    .designBxElemntOuter
        position: absolute
        top: 40px
        left: auto
        right: 2vw
        z-index: -1
        -webkit-animation: blinkAnim 12s ease infinite
        animation: blinkAnim 12s ease infinite
        @include mq('tablet-lg')
            left: 2vw
            right: auto
        &.rgt
            left: auto
            right: 2vw
            top: auto
            bottom: 0
        .elementOne
            width: 26px
            height: 26px
            background-color: $basecolor2
        .elementTwo
            width: 26px
            height: 26px
            background-color: $basecolor
            margin-left: 26px
    .secTitleWrap
        margin-bottom: 0
        @include mq('tablet-lg')
            margin-bottom: 20px
        .secSubTitle
            @include mq('tablet-lg')
                font-size: 20px
                max-width: 1100px
                margin-left: auto
                margin-right: auto
    .ulList
        margin-bottom: 15px
        li
            font-size: 14px
            padding-left: 25px
            margin-bottom: 14px
            position: relative
            @include mq('tablet')
                font-size: 15px
            @include mq('tablet-lg')
                font-size: 16px
            &::before
                content: ""
                position: absolute
                top: 5px
                left: 0
                width: 11px
                height: 11px
                border: 2px solid $basecolor
                border-radius: 50%
                margin-right: 10px
    .contentBx
        max-width: 100%
        @include mq('tablet-lg')
            max-width: 600px
        .secTitleWrap
            @include mq('tablet-lg')
                margin-bottom: 15px
    .topSec
        position: relative
        padding-top: 40px
        padding-bottom: 40px
        @include mq('phablet')
            padding-top: 60px
            padding-bottom: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 100px
            padding-bottom: 100px
        .lftWrap
            p
                text-align: justify
                line-height: 1.5
                @include mq('tablet-lg')
                    margin-bottom: 0
                @include mq('desktop')
                    font-size: 20px
        .rgtWrap
            @include mq('tablet-lg', max)
                padding-top: 0
                padding-bottom: 0
            .contntImg
                width: 100%
                max-width: 100%
                height: 100%
                img
                    @include imgFit
    .bttmSec
        background-color: #F8F9FB
        padding-top: 40px
        padding-bottom: 40px
        @include mq('phablet')
            padding-top: 60px
            padding-bottom: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 100px
            padding-bottom: 100px
        .secTitleWrap
            margin-bottom: 20px
            @include mq('tablet-lg')
                margin-bottom: 40px
        .accoWrap
            .accordion-item
                margin-bottom: 15px
                border-bottom: 0
                padding: 15px
                @include mq('tablet')
                    padding: 30px
                .accordion-header
                    align-items: center
                    @include display
                    &.Current>.aplyBtn
                        display: none
                        @include mq('tablet')
                            display: block
                            visibility: hidden
                    .aplyBtn
                        font-family: $fontstack2
                        font-size: 14px
                        font-weight: 600
                        margin: 0
                        line-height: 1
                        color: $white
                        width: 120px
                        height: 40px
                        text-align: center
                        background-color: #B38D4F
                        text-transform: uppercase
                        margin-top: 10px
                        @include center
                        @include mq('phablet')
                            font-size: 16px
                            width: 130px
                            margin-top: 0
                        @include mq('tablet-lg')
                            font-size: 18px
                            width: 160px
                            height: 60px
                    .accordion-button
                        display: flex
                        justify-content: space-between
                        flex-wrap: wrap
                        flex-direction: column
                        padding: 0
                        width: 100%
                        @include mq('phablet')
                            flex-direction: row
                            width: calc( 100% - 130px )
                        @include mq('tablet-lg')
                            width: calc( 100% - 160px )
                        &::after
                            display: none
                        .jobTle
                            font-weight: 700
                            font-family: $fontstack2
                            color: $text
                            font-size: 16px
                            width: 100%
                            @include mq('phablet')
                                font-size: 18px
                            @include mq('tablet')
                                font-size: 24px
                                width: 50%
                            @include mq('tablet-lg')
                                font-size: 28px
                        .jobLctn
                            width: 100%
                            margin: 5px 0
                            @include display
                            @include mq('phablet')
                                width: 50%
                            @include mq('tablet')
                                width: 20%
                            svg
                                width: 20px
                                height: 17px
                                fill: $black
                                margin-right: 8px
                            p
                                line-height: 1
                                margin-bottom: 0
                                @include mq('tablet-lg')
                                    font-size: 18px
                        .jobExp
                            width: 100%                            
                            margin: 5px 0
                            @include display
                            @include mq('phablet')
                                width: 50%
                            @include mq('tablet')
                                width: 30%
                            svg
                                width: 20px
                                height: 17px
                                fill: $black
                                margin-right: 8px
                            p
                                line-height: 1
                                margin-bottom: 0
                                @include mq('tablet-lg')
                                    font-size: 18px
                        &:not(.collapsed)
                            background-color: transparent
                            box-shadow: none
                        &:focus
                            box-shadow: none
                .accordion-collapse
                    .accordion-body
                        margin-top: 15px
                        padding-top: 15px
                        padding-right: 10px
                        padding-bottom: 10px
                        padding-left: 0
                        border-top: solid 1px #e2e2e2
                        @include mq('tablet')
                            margin-top: 30px
                            padding-top: 30px
                            padding-right: 15px
                            padding-bottom: 15px
                        .discTle
                            color: $basecolor
                            font-weight: 700
                            font-family: $fontstack2
                            margin-bottom: 10px
                        p
                            color: $black
                            margin-bottom: 15px
                        ul
                            margin-bottom: 15px
                            li
                                font-size: 14px
                                padding-left: 25px
                                margin-bottom: 14px
                                position: relative
                                @include mq('tablet')
                                    font-size: 15px
                                @include mq('tablet-lg')
                                    font-size: 16px
                                &::before
                                    content: ""
                                    position: absolute
                                    top: 5px
                                    left: 0
                                    width: 11px
                                    height: 11px
                                    border: 2px solid $basecolor
                                    border-radius: 50%
                                    margin-right: 10px
                        .aplyBtn
                            font-family: $fontstack2
                            font-size: 14px
                            font-weight: 600
                            margin: 0
                            line-height: 1
                            color: $white
                            width: 120px
                            height: 40px
                            text-align: center
                            background-color: $basecolor
                            text-transform: uppercase
                            margin-top: 20px
                            @include center
                            @include mq('phablet')
                                font-size: 16px
                                width: 130px
                            @include mq('tablet-lg')
                                font-size: 18px
                                width: 150px
                                height: 50px



