//CME DETAIL_PAGE
/************** ******* **************/
/************* CME DETAIL_PAGE *************/
/************** ******* **************/

#news-detail
    position: relative
    padding: 0px 0 0px
    @media only screen and (min-width: 468px)
        padding: 0px 0 0px
    .News-Lft
        .news-detail-content_box
            padding: 10px 0 0 !important
            @media only screen and (min-width: 468px)
                padding: 10px 0 0px !important
            @media only screen and (min-width: 768px)
                padding: 15px 0 0px !important
            @media only screen and (min-width: 992px)
                padding: 20px 0 0px !important
            @media only screen and (min-width: 1551px)
                padding: 25px 0 0px !important
            .news-detail-title
                padding: 0 0 25px
                @media only screen and (min-width: 468px)
                    padding: 0 0 30px !important
                @media only screen and (min-width: 768px)
                    padding: 0 0 35px !important
                @media only screen and (min-width: 992px)
                    padding: 0 0 40px !important
                @media only screen and (min-width: 1551px)
                    padding: 0 0 45px !important
        .grid-section
            padding: 0 0px 20px
            @media only screen and (min-width: 468px)
                padding: 0 0px 20px
            @media only screen and (min-width: 768px)
                padding: 0 0px 40px
            @media only screen and (min-width: 992px)
                padding: 0 0px 0px
            @media only screen and (min-width: 1200px)
                padding: 0 0px
            @media only screen and (min-width: 1551px)
                padding: 0 0px
            .grid-products
                margin: -4px
                @include display
                @media only screen and (min-width: 468px)
                    margin: -4px
                @media only screen and (min-width: 768px)
                    margin: -4px
                @media only screen and (min-width: 992px)
                    margin: -7px
                @media only screen and (min-width: 1200px)
                    margin: -7px
                @media only screen and (min-width: 1551px)
                    margin: -7px
                .product-grid
                    width: calc(100% / 3)
                    padding: 4px
                    @media only screen and (min-width: 468px)
                        width: calc(100% / 3)
                        padding: 4px
                    @media only screen and (min-width: 768px)
                        width: calc(100% / 3)
                        padding: 4px
                    @media only screen and (min-width: 992px)
                        width: calc(100% / 3)
                        padding: 7px
                    @media only screen and (min-width: 1200px)
                        width: calc(100% / 3)
                        padding: 7px
                    @media only screen and (min-width: 1551px)
                        width: calc(100% / 3)
                        padding: 7px
                    .product_img
                        height: 120px
                        background: $black
                        display: block
                        overflow: hidden
                        @inclide center
                        @media only screen and (min-width: 468px)
                            height: 150px
                        @media only screen and (min-width: 768px)
                            height: 160px
                        @media only screen and (min-width: 992px)
                            height: 180px
                        @media only screen and (min-width: 1200px)
                            height: 190px
                        @media only screen and (min-width: 1551px)
                            height: 238px
                        img
                            // -webkit-transform: scale(1)
                            // transform: scale(1)
                            transform-origin: center
                            -webkit-transition: .3s ease-in-out
                            transition: .3s ease-in-out
                            object-position: center
                            @include imgFit
                        svg
                            margin: 0
                            padding: 0
                            position: absolute
                            top: 40%
                            left: 40%
                            text-align: center
                            width: 32px
                            transition: all .3s ease
                            @media only screen and (min-width: 468px)
                                width: 42px
                            @media only screen and (min-width: 1551px)
                                width: 55px
                        &:hover
                            svg
                                box-shadow: 0 0 0 rgba(204,169,44, 0.4)
                                animation: pulse 2s infinite
                                width: 32px
                                border-radius: 50%
                                @media only screen and (min-width: 468px)
                                    width: 42px
                                @media only screen and (min-width: 1551px)
                                    width: 55px
                                @keyframes pulse
                                    0%
                                        -moz-box-shadow: 0 0 0 0 #ffffffbb
                                        box-shadow: 0 0 0 0 #ffffffbb
                                    70%
                                        -moz-box-shadow: 0 0 0 20px #ffffff00
                                        box-shadow: 0 0 0 20px #ffffff00
                                    100%
                                        -moz-box-shadow: 0 0 0 0 #ffffff00
                                        box-shadow: 0 0 0 0 #ffffff00
                        &:hover
                            img
                                background: $black
                                opacity: 0.5
                                -webkit-transform: scale(1.1)
                                transform: scale(1.1)
    .News-Rgt 
        .row
            div[class*="col-"]
                &:nth-last-child(1)
                    a 
                        .NewsBox
                            border-bottom: 1px solid #E6E6E6
                            @media only screen and (min-width: 468px)
                                border-bottom: 1px solid #E6E6E6
                            @media only screen and (min-width: 768px)
                                border-bottom: 1px solid #E6E6E6
                            @media only screen and (min-width: 992px)
                                border-bottom: 0
                            @media only screen and (min-width: 1551px)
                                border-bottom: 0