.conferencePage
    #conferenceSec
        padding: 32px 0
        @media only screen and (min-width: 576px)
            padding: 45px 0
        @media only screen and (min-width: 992px)
            padding: 55px 0 50px
        @media only screen and (min-width: 1200px)
            padding: 65px 0 70px
        @media only screen and (min-width: 1441px)
            padding: 85px 0 80px
        .headingSec
            margin-bottom: 15px
            @include display
            align-items: center
            @media only screen and (min-width: 576px)
                margin-bottom: 20px
            @media only screen and (min-width: 1200px)
                margin-bottom: 25px
            @media only screen and (min-width: 1441px)
                margin-bottom: 35px
            @media only screen and (min-width: 1551px)
                margin-bottom: 55px
            .lftSec
                width: 100%
                @media only screen and (min-width: 768px)
                    width: 45%
                .mainHeading
                    font-size: 24px
                    color: #1C1C1C
                    font-family: $fontstack2
                    font-weight: 700
                    @media only screen and (min-width: 576px)
                        font-size: 26px
                    @media only screen and (min-width: 992px)
                        font-size: 28px
                    @media only screen and (min-width: 1200px)
                        font-size: 32px
                    @media only screen and (min-width: 1441px)
                        font-size: 36px
                    @media only screen and (min-width: 1551px)
                        font-size: 40px
                    @media only screen and (max-width: 768px)
                        text-align: center
                        margin-bottom: 5px
            .ritSec
                width: 100%
                text-align: end
                @media only screen and (min-width: 768px)
                    width: 55%
                p
                    font-size: 14px
                    line-height: 18px
                    color: $black
                    font-family: $fontstack2
                    font-weight: 500
                    margin-bottom: 0
                    @media only screen and (min-width: 576px)
                        font-size: 16px
                        line-height: 20px
                    @media only screen and (min-width: 768px)
                        font-size: 17px
                        line-height: 22px
                    @media only screen and (min-width: 992px)
                        font-size: 18px
                        line-height: 24px
                    @media only screen and (min-width: 1200px)
                        font-size: 20px
                        line-height: 26px
                    @media only screen and (min-width: 1441px)
                        font-size: 22px
                        line-height: 28px
                    @media only screen and (min-width: 1551px)
                        font-size: 24px
                        line-height: 30px
                    @media only screen and (max-width: 768px)
                        text-align: center
                        br
                            display: none
        .infoBx
            p
                font-size: 14px
                line-height: 20px
                margin-bottom: 0
                @media only screen and (min-width: 576px)
                    font-size: 16px
                    line-height: 24px
                @media only screen and (min-width: 992px)
                    font-size: 17px
                    line-height: 25px
                @media only screen and (min-width: 1200px)
                    font-size: 18px
                    line-height: 26px
                @media only screen and (min-width: 1441px)
                    font-size: 19px
                    line-height: 28px
                @media only screen and (min-width: 1551px)
                    font-size: 20px
                    line-height: 30px
                @media only screen and (max-width: 768px)
                    text-align: center

    #EventSec
        background-color: #F8F9FB
        padding: 45px 0 55px
        @media only screen and (min-width: 576px)
            padding: 65px 0 75px
        @media only screen and (min-width: 992px)
            padding: 90px 0 95px
        @media only screen and (min-width: 1200px)
            padding: 90px 0 105px
        @media only screen and (min-width: 1441px)
            padding: 90px 0 125px
        .headingMain
            margin-bottom: 18px
            @media only screen and (min-width: 468px)
                margin-bottom: 25px
            @media only screen and (min-width: 576px)
                margin-bottom: 35px
            @media only screen and (min-width: 992px)
                margin-bottom: 50px

        .item
            height: 100%
        .evntBx
            background-color: $white
            padding: 50px 15px 20px
            position: relative
            height: 100%
            @media only screen and (min-width: 576px)
                padding: 60px 20px 25px
            @media only screen and (min-width: 1200px)
                padding: 75px 20px 30px
            @media only screen and (min-width: 1441px)
                padding: 90px 25px 35px
            @media only screen and (min-width: 1551px)
                padding: 110px 28px 40px 34px
            &::after
                position: absolute
                content: ""
                top: 14px
                right: 14px
                width: 14px
                height: 14px
                background-image: url("../images/arrow-event.svg")
                background-repeat: no-repeat
                background-size: cover
                transform: rotate(132deg)
                transition: 0.5s all
                @media only screen and (min-width: 576px)
                    top: 18px
                    right: 18px
                    width: 18px
                    height: 18px
                @media only screen and (min-width: 1200px)
                    top: 22px
                    right: 22px
                    width: 22px
                    height: 22px
                @media only screen and (min-width: 1441px)
                    top: 25px
                    right: 25px
                    width: 25px
                    height: 25px
                @media only screen and (min-width: 1551px)
                    top: 30px
                    right: 28px
                    width: 30px
                    height: 30px
            .title
                font-size: 18px
                margin-bottom: 8px
                font-weight: 600
                font-family: $fontstack2
                color: $text
                @media only screen and (min-width: 576px)
                    font-size: 20px
                    margin-bottom: 10px
                @media only screen and (min-width: 1200px)
                    font-size: 24px
                    margin-bottom: 15px
                @media only screen and (min-width: 1441px)
                    font-size: 26px
                    margin-bottom: 20px
                @media only screen and (min-width: 1551px)
                    font-size: 28px
                    margin-bottom: 26px
            .date
                font-size: 14px
                font-weight: 500
                font-family: $fontstack2
                color: $black
                @media only screen and (min-width: 576px)
                    font-size: 16px
                @media only screen and (min-width: 1200px)
                    font-size: 18px
                @media only screen and (min-width: 1441px)
                    font-size: 20px
                @media only screen and (min-width: 1551px)
                    font-size: 22px
            &.greyBg
                background-color: #F9EFDD
            &.blueBg
                background-color: #DFEDF2
            &:hover
                &::after
                    transform: rotate(180deg)

        .eventsSlider
            .owl-stage-outer
                overflow: visible
                .owl-item
                    opacity: 0
                    transition: 0.4s all
                    &.active
                        opacity: 1
            .owl-nav
                position: absolute
                top: -30px
                width: 100%
                @media only screen and (min-width: 468px)
                    top: -38px
                @media only screen and (min-width: 576px)
                    top: -50px
                @media only screen and (min-width: 992px)
                    max-width: 1050px
                    top: -68px
                @media only screen and (min-width: 1200px)
                    max-width: 1180px
                @media only screen and (min-width: 1441px)
                    max-width: 1350px
                @media only screen and (min-width: 1551px)
                    max-width: 1458px
                button
                    background-color: transparent !important
                    box-shadow: none
                    width: 30px
                    height: 30px
                    padding: 0
                    margin: 0
                    background-size: cover
                    background-repeat: no-repeat
                    border-radius: 0
                    span
                        display: none
                .owl-prev
                    position: absolute
                    display: flex
                    align-content: center
                    font-size: 12px
                    right: 24%
                    color: $text
                    left: inherit
                    @media only screen and (min-width: 468px)
                        font-size: 16px
                        right: 24%
                    @media only screen and (min-width: 576px)
                        right: 20%
                    @media only screen and (min-width: 992px)
                        right: 17%
                        font-size: 20px
                    @media only screen and (min-width: 1200px)
                        right: 15%
                    @media only screen and (min-width: 1441px)
                        font-size: 26px
                    img
                        width: 12px
                        height: 12px
                        margin-right: 8px
                        margin-top: 3px
                        @media only screen and (min-width: 468px)
                            width: 16px
                            height: 16px
                            margin-right: 12px
                        @media only screen and (min-width: 992px)
                            width: 22px
                            height: 22px
                            margin-right: 20px
                        @media only screen and (min-width: 1441px)
                            width: 30px
                            height: 30px
                            margin-right: 25px
                .owl-next
                    position: absolute
                    display: flex
                    align-items: center
                    font-size: 12px
                    color: $text
                    right: 15px
                    @media only screen and (min-width: 468px)
                        font-size: 16px
                        right: 20px
                    @media only screen and (min-width: 992px)
                        font-size: 20px
                        right: 30px
                    @media only screen and (min-width: 1441px)
                        font-size: 26px
                    img
                        width: 12px
                        height: 12px
                        margin-left: 8px
                        margin-top: 3px
                        @media only screen and (min-width: 468px)
                            width: 16px
                            height: 16px
                            margin-left: 12px
                        @media only screen and (min-width: 992px)
                            width: 22px
                            height: 22px
                            margin-left: 20px
                        @media only screen and (min-width: 1441px)
                            width: 30px
                            height: 30px
                            margin-left: 25px

    .custom_container
        padding-right: 0
        padding-left: 15px
        width: 100%
        max-width: none
        margin-left: auto
        @media only screen and ( min-width: 768px )
            max-width: 95%
        @media only screen and ( min-width: 992px )
            max-width: inherit
            width: calc(100% - ((100% - 1050px)/ 2))
        @media only screen and ( min-width: 1200px )
            width: calc(100% - ((100% - 1180px)/ 2))
        @media only screen and ( min-width: 1441px )
            width: calc(100% - ((100% - 1350px)/ 2))
        @media only screen and ( min-width: 1551px )
            width: calc(100% - ((100% - 1458px)/ 2))

    #ConferenceSliderSec
        padding: 45px 0
        @media only screen and ( min-width: 576px )
            padding: 65px 0
        @media only screen and ( min-width: 992px )
            padding: 90px 0
        .headingMain
            margin-bottom: 18px
            @media only screen and ( min-width: 468px )
                margin-bottom: 25px
            @media only screen and ( min-width: 576px )
                margin-bottom: 35px
            @media only screen and ( min-width: 992px )
                margin-bottom: 45px
            @media only screen and ( min-width: 1200px )
                margin-bottom: 55px
        .conferenceBx
            .imgBx
                overflow: hidden
                img
                    transition: 0.6s all
                    @include imgFit
            .cntBx
                padding: 20px 0 15px
                border-bottom: 1px solid #E2E2E2
                @media only screen and ( min-width: 576px )
                    padding: 25px 0 20px
                @media only screen and ( min-width: 992px )
                    padding: 35px 0 30px
                @media only screen and ( min-width: 1441px )
                    padding: 40px 0 35px
                @media only screen and ( min-width: 1551px )
                    padding: 50px 0 45px
                .title
                    font-size: 18px
                    margin-bottom: 10px
                    font-family: $fontstack2
                    color: $text
                    font-weight: 600
                    @media only screen and ( min-width: 576px )
                        font-size: 21px
                        margin-bottom: 15px
                    @media only screen and ( min-width: 992px )
                        font-size: 24px
                        margin-bottom: 20px
                    @media only screen and ( min-width: 1441px )
                        font-size: 26px
                        margin-bottom: 25px
                    @media only screen and ( min-width: 1551px )
                        font-size: 28px
                        margin-bottom: 32px
                .infoBx
                    overflow: hidden
                    text-overflow: ellipsis
                    display: -webkit-box
                    -webkit-line-clamp: 3
                    line-clamp: 3
                    -webkit-box-orient: vertical
                    p
                        font-size: 14px
                        line-height: 20px
                        color: $black
                        margin-bottom: 0
                        @media only screen and ( min-width: 576px )
                            font-size: 16px
                            line-height: 22px
                        @media only screen and ( min-width: 992px )
                            font-size: 18px
                            line-height: 24px
                        @media only screen and ( min-width: 1551px )
                            font-size: 20px
                            line-height: 28px
            &:hover
                .imgBx
                    img
                        transform: scale(1.08)
