//CONFERENCE DETAILED_PAGE
/************** ******* **************/
/************* CONFERENCE DETAILED_PAGE *************/
/************** ******* **************/
#Conference_Detailed
    padding: 40px 0
    @media only screen and (min-width: 468px)
        padding: 50px 0
    @media only screen and (min-width: 768px)
        padding: 60px 0
    @media only screen and (min-width: 992px)
        padding: 70px 0 80px
    @media only screen and (min-width: 1200px)
        padding: 80px 0 90px
    @media only screen and (min-width: 1551px)
        padding: 90px 0 100px
    .core_v-ttl
        display: block
        text-align: center
        margin-bottom: 20px
        @media only screen and (min-width: 468px)
            display: block
            text-align: center
            margin-bottom: 20px
        @media only screen and (min-width: 830px)
            display: flex
            justify-content: space-between
        @media only screen and (min-width: 992px)
            display: flex
            justify-content: space-between
        @media only screen and (min-width: 1200px)
            display: flex
            justify-content: space-between
        @media only screen and (min-width: 1551px)
            display: flex
            justify-content: space-between
        .core_title
            font-family: $fontstack2
            color: $text
            font-size: 24px
            line-height: 26px
            font-weight: 700
            margin-bottom: 10px
            @media only screen and (min-width: 468px)
                font-size: 26px
                line-height: 28px
                margin-bottom: 10px
            @media only screen and (min-width: 768px)
                font-size: 28px
                line-height: 30px
            @media only screen and (min-width: 992px)
                font-size: 32px
                line-height: 38px
                margin-bottom: 15px
            @media only screen and (min-width: 1200px)
                font-size: 36px
                line-height: 40px
                margin-bottom: 20px
            @media only screen and (min-width: 1551px)
                font-size: 40px
                line-height: 48px
                margin-bottom: 25px
        .core_subtitle
            font-size: 16px
            color: $black
            line-height: 25px
            text-align: center
            font-weight: 400
            @media only screen and (min-width: 468px)
                font-size: 18px
                line-height: 26px
                text-align: center
            @media only screen and (max-width: 768px)   
                br
                    display: none
            @media only screen and (min-width: 830px)
                font-size: 20px
                line-height: 28px
                text-align: right
            @media only screen and (min-width: 1200px)
                font-size: 22px
                line-height: 30px
                text-align: right
            @media only screen and (min-width: 1551px)
                font-size: 24px
                line-height: 34px
                text-align: right
    .conference-dtl-img
        overflow: hidden
        width: 95%
        height: 100%
        display: flex
        justify-content: flex-end
        align-items: flex-end
        @media only screen and (max-width: 468px)
            width: 95%
        @media only screen and (min-width: 468px)
            height: 100%
            width: 100%
        @media only screen and (min-width: 768px)
            height: 100%
        @media only screen and (min-width: 992px)
            height: 100%
        @media only screen and (min-width: 1551px)
            height: 100%
        img
            @include imgFit
            -webkit-transform: scale(1)
            transform: scale(1)
            -webkit-transition: 1.5s ease-in-out
            transition: 1.5s ease-in-out
        &:hover
            img
                -webkit-transform: scale(1.2)
                transform: scale(1.2) 
    .conference-dtl-content
        padding-left: 0px
        @media only screen and (min-width: 768px)
            padding-left: 10px
        @media only screen and (min-width: 992px)
            padding-left: 30px
        @media only screen and (min-width: 1551px)
            padding-left: 30px
        p
            color: $text
            font-size: 14px
            font-weight: 400
            line-height: 26px
            margin-bottom: 20px
            @media only screen and (min-width: 468px)
                font-size: 15px
            @media only screen and (min-width: 768px)
                font-size: 16px
                line-height: 26px
                margin-bottom: 25px
            @media only screen and (min-width: 992px)
                font-size: 18px
                line-height: 28px
                margin-bottom: 30px
            @media only screen and (min-width: 1551px)
                font-size: 20px
                line-height: 32px
                margin-bottom: 35px
            &:last-child
                margin-bottom: 0px
#queFormSec
    padding-bottom: 40px
    @include mq('phablet')
        padding-bottom: 60px
    @include mq('tablet-lg')
        padding-bottom: 80px
    @include mq('desktop')
        padding-bottom: 120px    
    &>.container
        @include mq('tablet-lg')
            padding-left: 15px
            padding-right:  15px
    .queFormWrap
        width: 100%
        background-color: #F8F9FB
        flex-direction: column-reverse
        @include display
        @include mq('phablet')
            flex-direction: row
        .formOuter
            width: 100%
            padding: 25px
            @include mq('phablet')
                width: 45%
            @include mq('tablet')
                width: 45%
            @include mq('tablet-lg')
                padding: 50px
                margin: auto
            @include mq('desktop-lg')
                padding: 100px
            .customForm
                max-width: 100%
                @include mq('tablet-lg')
                    max-width: 400px
                .formTle
                    margin-bottom: 15px
                    @include mq('phablet')
                        margin-bottom: 30px
                    @include mq('tablet-lg')
                        font-size: 35px
        .contntImg
            width: 100%
            @include mq('phablet')
                width: 55%
            @include mq('tablet')
                width: 55%
            @include mq('phablet', max)
                height: 200px
            img
                @include imgFit