//contactPage
/************** ******* **************/
/************* contactPage *************/
/************** ******* **************/
#getTouchSec
    padding-top: 40px
    padding-bottom: 0
    position: relative
    @include mq('phablet')
        padding-top: 60px
        padding-bottom: 20px
    @include mq('tablet-lg')
        padding-top: 80px
        padding-bottom: 60px
    @include mq('desktop')
        padding-top: 120px
        padding-bottom: 80px
    .designBxElemntOuter
        position: absolute
        top: 40px
        left: auto
        right: 2vw
        z-index: -1
        -webkit-animation: blinkAnim 12s ease infinite
        animation: blinkAnim 12s ease infinite
        @include mq('tablet-lg')
            left: 2vw
            right: auto
        &.rgt
            left: auto
            right: 2vw
            top: auto
            bottom: 0
        .elementOne
            width: 26px
            height: 26px
            background-color: $basecolor2
        .elementTwo
            width: 26px
            height: 26px
            background-color: $basecolor
            margin-left: 26px
    &>.container
        @include mq('tablet-lg')
            padding-left: 100px
            padding-right:  100px
    .lftSide
        width: 100%
        @include mq('tablet')
            width: 30%
        @include mq('tablet-lg')
            width: 38%
        .contentBx
            max-width: 100%
            @include mq('tablet-lg')
                max-width: 300px
            p
                font-weight: 500
                @include mq('tablet-lg')
                    font-size: 18px
    .rgtSide
        width: 100%
        @include mq('tablet')
            width: 70%
        @include mq('tablet-lg')
            width: 62%
    .gTouchCardWrap
        width: 100%
        @include display
        .gTouchCard
            width: 100%
            padding: 0
            margin-bottom: 40px
            @include mq('phablet')
                width: 50%
                padding: 10px
                padding-right: 20px
            @include mq('desktop')
                padding-right: 60px
            .cardIcon
                margin-bottom: 10px
                position: relative
                @include display
                @include mq('tablet')
                    margin-bottom: 20px
                .iconBg
                    width: 46px
                    height: 46px
                    background-color: $basecolor2
                    opacity: 22%
                    position: absolute
                    bottom: 0
                    left: 15px
                svg
                    width: 30px
                    height: 30px
            .cardCnt
                .cntTle
                    margin-bottom: 5px
                    color: $basecolor
                    font-weight: 700
                    font-family: $fontstack2
                    @include mq('phablet')
                        margin-bottom: 10px
                p, a
                    line-height: 1.6
                    font-weight: 500
                    font-family: $fontstack2
                    margin-bottom: 0
                    display: block
                    text-decoration: none
                    color: $black
                    word-break: break-word
                    @include mq('desktop')                        
                        font-size: 18px
                p
                    a
                        display: inline-block
                        margin-bottom: 0
                    span
                        font-weight: 400
                        color: $basecolor
#queFormSec
    padding-bottom: 40px
    @include mq('phablet')
        padding-bottom: 60px
    @include mq('tablet-lg')
        padding-bottom: 80px
    @include mq('desktop')
        padding-bottom: 120px    
    &>.container
        @include mq('tablet-lg')
            padding-left: 100px
            padding-right:  100px
    .queFormWrap
        width: 100%
        background-color: #F8F9FB
        flex-direction: column-reverse
        @include display
        @include mq('phablet')
            flex-direction: row
        .formOuter
            width: 100%
            padding: 25px
            @include mq('phablet')
                width: 60%
            @include mq('tablet')
                width: 50%
            @include mq('tablet-lg')
                padding: 50px
                margin: auto
            @include mq('desktop-lg')
                padding: 100px
            .customForm
                max-width: 100%
                @include mq('tablet-lg')
                    max-width: 400px
                .formTle
                    margin-bottom: 15px
                    @include mq('phablet')
                        margin-bottom: 30px
                    @include mq('tablet-lg')
                        font-size: 35px
        .contntImg
            width: 100%
            @include mq('phablet')
                width: 40%
            @include mq('tablet')
                width: 50%
            @include mq('phablet', max)
                height: 200px
            img
                @include imgFit
#loctnSec
    background-color: #F8F9FB
    .row>*
        padding: 0
    .secTitleWrap
        margin-bottom: 0
        @include mq('tablet-lg')
            margin-bottom: 20px
    .mapWrap
        min-height: 300px
    .loctnListWrap
        @include display
        @include mq('tablet')
            padding-right: 15px
        .contentBx
            width: 100%
            margin-top: 40px
            margin-bottom: 25px
            display: inline-block
            padding-right: 15px
            padding-left: 15px
            max-width: 600px
            margin-left: auto
            margin-right: auto
            @include mq('phablet')
                margin-top: 70px
                margin-bottom: 55px
            @include mq('tablet')
                max-width: 100%
                padding-right: 7px
                padding-left: 70px
            @include mq('desktop')
                margin-bottom: 40px
            .nearLctnCard
                width: 100%
                padding: 15px
                margin-bottom: 15px
                background-color: $white
                border: 1px solid #F8F9FB
                align-items: center
                @include display
                @include mq('desktop')
                    margin-bottom: 30px
                .cardIcon
                    width: 60px
                    height: 60px
                    margin-right: 16px
                    background-color: #F8F9FB
                    @include center
                    @include mq('phablet')
                        width: 70px
                        height: 70px
                        margin-right: 26px
                    img
                        width: 40px
                        height: 40px
                .cardCnt
                    width: calc( 100% - 76px )                    
                    @include mq('phablet')
                        width: calc( 100% - 96px )
                    .cntTle
                        margin-bottom: 5px
                        color: $basecolor
                        font-weight: 600
                        font-family: $fontstack2
                        @include mq('phablet')
                            margin-bottom: 10px
                        @include mq('desktop')
                            font-size: 24px
                    p, a
                        line-height: 1.3
                        font-weight: 500
                        font-family: $fontstack2
                        margin-bottom: 0
                        display: block
                        text-decoration: none
                        color: #5B5A5A
                        word-break: break-word
                        @include mq('desktop')
                            font-size: 18px


