//CORE VALUES_PAGE
/************** ******* **************/
/************* CORE VALUES_PAGE *************/
/************** ******* **************/
#Breadcrumb-Nav
    .row
        margin: 0
        &>*
            padding: 0
        .breadcrumb
            padding: 30px 0px
            // margin-bottom: 0px
            margin: 0 -22.5px
            list-style: none
            @media only screen and (min-width: 568px)
                padding: 40px 0px
            @media only screen and (min-width: 1200px)
                padding: 50px 0px 45px
            li
                display: inline-block
                // padding-right: 20px
                color: #262626
                font-size: 16px
                font-family: $fontstack2
                padding: 0 22.5px
                position: relative
                @media only screen and (min-width: 1200px)
                    font-size: 20px
                a
                    color: #262626
                    font-size: 16px
                    @media only screen and (min-width: 1200px)
                        font-size: 20px
                    &:hover
                        color: $hover
                &:not(:last-of-type)
                    &::after
                        content: ""
                        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.389 14.28'%3e%3cg id='Group_1937' data-name='Group 1937' transform='translate(0 0)'%3e%3cpath id='Path_1006' data-name='Path 1006' d='M107.05%2c7.143%2c101.708%2c1.8a.783.783%2c0%2c0%2c1%2c0-1.1l.468-.468a.782.782%2c0%2c0%2c1%2c1.1%2c0l6.361%2c6.36a.788.788%2c0%2c0%2c1%2c0%2c1.109l-6.355%2c6.354a.783.783%2c0%2c0%2c1-1.1%2c0l-.468-.468a.782.782%2c0%2c0%2c1%2c0-1.1Z' transform='translate(-101.48 0)' fill='%23a7a7a7'/%3e%3c/g%3e%3c/svg%3e")
                        background-repeat: no-repeat
                        width: 6px
                        height: 14px
                        position: absolute
                        right: -4px
                        top: 5px
                        @media only screen and (min-width: 568px)
                            width: 6px
                            height: 14px
                        @media only screen and (min-width: 1200px)
                            width: 8px
                            height: 14px

            .active
                color: #000000 !important
                font-family: $fontstack2
                font-size: 16px
                @media only screen and (min-width: 1200px)
                    font-size: 20px

#core_values
    padding: 20px 0 45px
    @media only screen and (min-width: 468px)
        padding: 25px 0 50px
    @media only screen and (min-width: 768px)
        padding: 30px 0 60px
    @media only screen and (min-width: 992px)
        padding: 35px 0 70px
    @media only screen and (min-width: 1200px)
        padding: 40px 0 90px
    @media only screen and (min-width: 1551px)
        padding: 45px 0 135px
    .Icon_3
        position: relative
        right: auto
        z-index: -1
        -webkit-animation: blinkAnim 12s ease infinite
        animation: blinkAnim 12s ease infinite
        margin-top: -70px
        float: right
        @media only screen and (min-width: 600px)
            margin-top: -70px
        @media only screen and (min-width: 601px)
            margin-top: -90px
        @media only screen and (min-width: 1200px)
            margin-top: -90px
        @media only screen and (min-width: 1551px)
            margin-top: -90px
        @include mq('tablet-lg')
            right: auto
            margin-top: -90px
            margin-right: -20px
            float: right
        .elementOne
            width: 18px
            height: 18px
            margin-left: 18px
            background-color: $basecolor2
            @media only screen and (min-width: 468px)
                width: 18px
                height: 18px
                margin-left: 18px
            @media only screen and (min-width: 1200px)
                width: 21px
                height: 21px
                margin-left: 21px
            @media only screen and (min-width: 1551px)
                width: 21px
                height: 21px
                margin-left: 21px
        .elementTwo
            width: 18px
            height: 18px
            background-color: $basecolor
            @media only screen and (min-width: 468px)
                width: 18px
                height: 18px
            @media only screen and (min-width: 1200px)
                width: 21px
                height: 21px
            @media only screen and (min-width: 1551px)
                width: 21px
                height: 21px
    .core_v-ttl
        display: block
        text-align: center
        margin-bottom: 20px
        @media only screen and (min-width: 468px)
            display: block
            text-align: center
            margin-bottom: 20px
        @media only screen and (min-width: 830px)
            display: flex
            justify-content: space-between
        @media only screen and (min-width: 992px)
            display: flex
            justify-content: space-between
        @media only screen and (min-width: 1200px)
            display: flex
            justify-content: space-between
        @media only screen and (min-width: 1551px)
            display: flex
            justify-content: space-between
        .core_title
            font-family: $fontstack2
            color: $text
            font-size: 24px
            line-height: 26px
            font-weight: 700
            margin-bottom: 10px
            @media only screen and (min-width: 468px)
                font-size: 26px
                line-height: 28px
                margin-bottom: 10px
            @media only screen and (min-width: 768px)
                font-size: 28px
                line-height: 30px
            @media only screen and (min-width: 992px)
                font-size: 32px
                line-height: 38px
                margin-bottom: 15px
            @media only screen and (min-width: 1200px)
                font-size: 36px
                line-height: 40px
                margin-bottom: 20px
            @media only screen and (min-width: 1551px)
                font-size: 40px
                line-height: 48px
                margin-bottom: 25px
        .core_subtitle
            font-size: 16px
            color: $black
            line-height: 25px
            text-align: center
            font-weight: 400
            @media only screen and (min-width: 468px)
                font-size: 18px
                line-height: 26px
                text-align: center
            @media only screen and (max-width: 768px)   
                br
                    display: none
            @media only screen and (min-width: 830px)
                font-size: 20px
                line-height: 28px
                text-align: right
            @media only screen and (min-width: 1200px)
                font-size: 22px
                line-height: 30px
                text-align: right
            @media only screen and (min-width: 1551px)
                font-size: 24px
                line-height: 34px
                text-align: right
            
    .row
        margin: -15px -55px
        &>*
            padding: 15px 55px    
    .core_Value-details
        padding: 0
        @media only screen and (min-width: 468px)
            padding: 0
        @media only screen and (min-width: 768px)
            padding: 0
        @media only screen and (min-width: 992px)
            padding: 45px 0 0
        @media only screen and (min-width: 1200px)
            padding: 55px 0 0
        @media only screen and (min-width: 1551px)
            padding: 65px 0 0
        .core_sub-title
            color: #262626
            font-size: 18px
            line-height: 24px
            font-weight: 600
            margin-bottom: 10px
            @media only screen and (min-width: 468px)
                font-size: 20px
                line-height: 26px
                margin-bottom: 15px
            @media only screen and (min-width: 768px)
                font-size: 21px
                line-height: 26px
                margin-bottom: 20px
            @media only screen and (min-width: 992px)
                font-size: 22px
                line-height: 26px
                margin-bottom: 25px
            @media only screen and (min-width: 1200px)
                font-size: 24px
                line-height: 28px
                margin-bottom: 30px
            @media only screen and (min-width: 1551px)
                font-size: 26px
                line-height: 34px
                margin-bottom: 35px
        .core_Dtl        
            font-size: 15px
            color: #262626
            line-height: 25px
            font-weight: 400
            margin-bottom: 20px
            @media only screen and (min-width: 468px)
                font-size: 16px
                line-height: 26px
                margin-bottom: 20px
            @media only screen and (min-width: 768px)
                font-size: 18px
                line-height: 28px
                margin-bottom: 25px
            @media only screen and (min-width: 1200px)
                font-size: 20px
                line-height: 30px
                margin-bottom: 35px
            @media only screen and (min-width: 1551px)
                font-size: 22px
                line-height: 34px
                margin-bottom: 45px
            &:last-child
                margin-bottom: 0px
        .Icon_4
            position: absolute
            right: auto
            z-index: -1
            -webkit-animation: blinkAnim 12s ease infinite
            animation: blinkAnim 12s ease infinite
            @include mq('tablet-lg')
                right: auto
            .elementOne
                width: 18px
                height: 18px
                background-color: $basecolor2
                @media only screen and (min-width: 468px)
                    width: 18px
                    height: 18px
                @media only screen and (min-width: 1200px)
                    width: 21px
                    height: 21px
                @media only screen and (min-width: 1551px)
                    width: 35px
                    height: 35px
            .elementTwo
                width: 18px
                height: 18px
                background-color: $basecolor
                margin-left: 18px
                @media only screen and (min-width: 468px)
                    width: 18px
                    height: 18px
                    margin-left: 18px
                @media only screen and (min-width: 1200px)
                    width: 21px
                    height: 21px
                    margin-left: 21px
                @media only screen and (min-width: 1551px)
                    width: 35px
                    height: 35px
                    margin-left: 35px

#our_values
    background: #F8F9FB
    padding: 30px 0
    @media only screen and (min-width: 468px)
        padding: 40px 0
    @media only screen and (min-width: 768px)
        padding: 60px 0
    @media only screen and (min-width: 992px)
        padding: 90px 0
    @media only screen and (min-width: 1200px)
        padding: 100px 0
    @media only screen and (min-width: 1551px)
        padding: 130px 0
    .row
        margin: 0 -15px
        @media only screen and (min-width: 768px)
            margin: 0 -15px
        @media only screen and (min-width: 1551px)
            margin: 0 -30px
            
        &>*
            padding: 0 15px
            @media only screen and (min-width: 768px)
                padding: 0 15px
            @media only screen and (min-width: 1551px)
                padding: 0 30px
        .value_box
            @media (min-width: 320px) and (max-width: 991px)
                margin-bottom: 30px
            .imG-Box
                overflow: hidden
                width: 100%
                height: 180px
                @media only screen and (min-width: 468px)
                    height: 210px
                @media only screen and (min-width: 768px)
                    height: 250px
                @media only screen and (min-width: 1200px)
                    height: 280px
                @media only screen and (min-width: 1551px)
                    height: 310px
                img
                    @include imgFit
                    -webkit-transform: scale(1)
                    transform: scale(1)
                    -webkit-transition: .7s ease-in-out
                    transition: .7s ease-in-out
            .CnT_Box
                padding: 25px 0 0
                -webkit-transition: .3s ease-in-out
                transition: .3s ease-in-out
                @media only screen and (min-width: 468px)
                    padding: 30px 0 0
                @media only screen and (min-width: 768px)
                    padding: 35px 0 0
                @media only screen and (min-width: 992px)
                    padding: 40px 0 0
                @media only screen and (min-width: 1200px)
                    padding: 50px 0 0
                .value_TtL
                    font-family: $fontstack2
                    color: $text
                    font-weight: 800
                    font-size: 18px
                    line-height: 26px
                    margin-bottom: 15px
                    @media only screen and (min-width: 468px)
                        font-size: 24px
                        line-height: 30px
                    @media only screen and (min-width: 768px)
                        font-size: 28px
                        line-height: 36px
                    @media only screen and (min-width: 992px)
                        font-size: 30px
                        line-height: 40px
                    @media only screen and (min-width: 1200px)
                        font-size: 34px
                        line-height: 46px
                .value_DtL
                    color: $text
                    font-size: 14px
                    font-weight: 400
                    line-height: 26px
                    margin-bottom: 25px
                    @media only screen and (min-width: 468px)
                        font-size: 15px
                    @media only screen and (min-width: 768px)
                        font-size: 16px
                        line-height: 26px
                    @media only screen and (min-width: 992px)
                        font-size: 18px
                        line-height: 28px
                    @media only screen and (min-width: 1551px)
                        font-size: 20px
                        line-height: 30px
                .value_Btn
                    a
                        .KnowMore_Btn
                            color: $text
                            font-size: 14px
                            font-weight: 400
                            line-height: 26px
                            margin-bottom: 25px
                            margin-right: 25px
                            transition: all .3s
                            @media only screen and (min-width: 468px)
                                font-size: 16px
                            @media only screen and (min-width: 768px)
                                font-size: 18px
                                line-height: 26px
                            @media only screen and (min-width: 992px)
                                font-size: 20px
                                line-height: 28px
                            @media only screen and (min-width: 1551px)
                                font-size: 22px
                                line-height: 30px

                        svg
                            width: 16px
                            fill: $basecolor2
                            vertical-align: middle
                            @media only screen and (min-width: 468px)
                                width: 18px
                            @media only screen and (min-width: 768px)
                                width: 20px
                            @media only screen and (min-width: 992px)
                                width: 25px
                            @media only screen and (min-width: 1551px)
                                width: 31px

            &:hover
                padding: 0px
                .CnT_Box
                    // background: $white
                    // padding: 50px 20px
                    .value_Btn
                        a
                            // padding: 15px 20px
                            // background: $basecolor2
                            .KnowMore_Btn
                                color: $basecolor2
                                letter-spacing: 1px
                            svg
                                fill: $basecolor2
                                animation: arrow-right .8s cubic-bezier(.36,.07,.57,.99) infinite
                                @keyframes arrow-right
                                    0%
                                        transform: scale(1) translateX(0)
                                    33%
                                        transform: scale(1) translateX(-5px)
                                    66%
                                        transform: scale(1) translateX(5px)
                                    100%
                                        transform: scale(1) translateX(0)
                .imG-Box
                    img
                        -webkit-transform: scale(1.2)
                        transform: scale(1.2)
