//doctorsPage
/************** ******* **************/
/************* doctorsPage *************/
/************** ******* **************/
.doctorsPage
    .inrCntSec
        padding-top: 40px
        padding-bottom: 40px
        @include mq('phablet')
            padding-bottom: 60px
            padding-top: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 110px
            padding-bottom: 110px
    #doctorsSec
        .secTitleWrap
            margin-bottom: 0
            .secTitle
                margin-bottom: 0
        .docCarouselSec
            margin-bottom: 40px
            @include mq('tablet-lg')
                margin-bottom: 60px
            &:nth-last-child(1)
                margin-bottom: 0
            .docCarousel
                .item
                    padding-left: 2px
                    .docCard
                        width: 100%
                        background-color: $white
                        border: 1px solid #E2E2E2
                        &:hover
                            .cImg
                                img
                                    -webkit-transform: scale(1.1)
                                    transform: scale(1.1)
                        .cImg
                            width: 100%
                            height: 260px
                            border-bottom: 1px solid #E2E2E2
                            overflow: hidden
                            @include mq('tablet-lg')
                                height: 380px
                            img
                                -webkit-transform: scale(1)
                                transform: scale(1)
                                -webkit-transition: .6s ease-in-out
                                transition: .6s ease-in-out
                                @include imgFit
                        .cCnt
                            width: 100%
                            height: auto
                            padding: 15px
                            border-bottom: 1px solid #E2E2E2
                            @include mq('tablet-lg')
                                padding: 20px
                            .dName
                                font-weight: 600
                                font-family: $fontstack2
                                color: $text
                                margin-bottom: 2px
                                white-space: nowrap
                                text-overflow: ellipsis
                                overflow: hidden
                                @include mq('tablet-lg')
                                    margin-bottom: 15px
                                    font-size: 25px
                            .dDprt
                                font-weight: 600
                                margin-bottom: 5px
                                color: $basecolor
                                @include mq('tablet-lg')
                                    margin-bottom: 10px
                                    font-size: 18px
                            .dDisc
                                color: $black
                                margin-bottom: 0
                                -webkit-line-clamp: 2
                                -webkit-box-orient: vertical
                                overflow: hidden
                                text-overflow: ellipsis
                                display: block
                                display: -webkit-box
                        .cBttm
                            @include display
                            .docBtn
                                width: 100%
                                font-size: 14px
                                line-height: 1
                                font-weight: 600
                                color: #8B8B8B
                                border-radius: 0
                                border: 0
                                padding: 0 10px
                                height: 45px
                                margin: 0
                                text-align: center
                                text-transform: capitalize
                                justify-content: center
                                align-items: center
                                display: flex
                                @include mq('tablet-lg')
                                    height: 60px
                                    font-size: 18px
                            .lftBtn
                                width: 30%
                                border-right: 1px solid #E2E2E2
                                .docBtn
                                    &:hover
                                        color: $white
                                    &::before
                                        background-color: #B38D4F
                            .rgtBtn
                                width: 70%
                                .docBtn
                                    &:hover
                                        color: $white
                                    &::before
                                        background-color: $basecolor
    #doctorDtlsSec
        position: relative
        z-index: 1
        padding-top: 15px
        padding-bottom: 15px
        .designBxElemntOuter
            position: absolute
            left: auto
            right: 2vw
            z-index: -1
            -webkit-animation: blinkAnim 12s ease infinite
            animation: blinkAnim 12s ease infinite
            @include mq('tablet-lg')
                left: 2vw
                right: auto
            &.rgt
                left: auto
                right: 2vw
                bottom: 60px
            .elementOne
                width: 26px
                height: 26px
                background-color: $basecolor2
            .elementTwo
                width: 26px
                height: 26px
                background-color: $basecolor
                margin-left: 26px
        .lftWrap
            position: relative
            padding-top: 40px
            padding-bottom: 0
            @include mq('phablet')
                padding-top: 60px
            @include mq('tablet-lg')
                padding-top: 80px
                padding-bottom: 80px
            @include mq('desktop')
                padding-top: 110px
                padding-bottom: 110px
            &::after
                content: ""
                background: #f8f9fb
                display: block
                position: absolute
                top: 0
                bottom: 0
                right: 15px
                left: 15px
                width: auto
                height: 180px
                z-index: -2
                @include mq('tablet-lg')
                    top: 0
                    right: 0
                    left: auto
                    bottom: 0
                    width: 50vw
                    height: 100%
                @include mq(1200px)
                    right: 10px
                @include mq(1441px)
                    right: 50px

            .bookAppoiWrap
                max-width: 340px
                margin-left: auto
                margin-right: auto
                @include mq('tablet-lg')
                    margin-left: 0
                &:hover
                    .cImg
                        img
                            -webkit-transform: scale(1.1)
                            transform: scale(1.1)
                .cImg
                    width: 100%
                    height: 260px
                    overflow: hidden
                    @include mq('tablet-lg')
                        height: 380px
                    img
                        -webkit-transform: scale(1)
                        transform: scale(1)
                        -webkit-transition: .6s ease-in-out
                        transition: .6s ease-in-out
                        @include imgFit
                .btnWrap
                    margin-top: 17px
                    justify-content: space-between
                    @include display
                    .btnAppoi
                        font-size: 14px
                        line-height: 1
                        font-weight: 600
                        font-family: $fontstack2
                        background-color: $basecolor
                        color: $white
                        border-radius: 0
                        border: 0
                        padding: 0 10px
                        letter-spacing: 0
                        height: 45px
                        width: 100%
                        margin: 0
                        text-transform: uppercase
                        @include mq('phablet')
                            font-size: 16px
                        @include mq('tablet-lg')
                            height: 60px
                            font-size: 18px
        .rgtWrap
            padding-top: 40px
            padding-bottom: 40px
            @include mq('phablet')
                padding-bottom: 60px
                padding-top: 60px
            @include mq('tablet-lg')
                padding-top: 80px
                padding-bottom: 80px
            @include mq('desktop')
                padding-top: 110px
                padding-bottom: 110px
            .cntWrap
                .topSec
                    margin-bottom: 30px                    
                    text-align: center
                    @include mq('tablet-lg')
                        text-align: left
                    .dName
                        font-weight: 700
                        font-family: $fontstack2
                        color: $text
                        margin-bottom: 10px
                        @include mq('tablet-lg')
                            margin-bottom: 15px
                            font-size: 40px
                    .dDprt
                        font-weight: 600
                        margin-bottom: 10px
                        color: $basecolor
                        @include mq('tablet-lg')
                            margin-bottom: 20px
                            font-size: 18px
                    .dDisc
                        color: $black
                        margin-bottom: 0
                .accoWrap
                    .accordion-button
                        display: flex
                        justify-content: space-between
                        &::after
                            background-image: none
                            content: "+"
                            font-size: 30px
                            margin: 0
                            line-height: 15px
                            color: $black
                            width: 18px
                            text-align: center
                            height: 15px
                            -webkit-transform: rotate(90deg)
                            -ms-transform: rotate(90deg)
                            transform: rotate(90deg)
                            -webkit-transition: -webkit-transform .2s ease-in
                            transition: -webkit-transform .2s ease-in
                            -o-transition: transform .2s ease-in
                        &:not(.collapsed)::after
                            background-image: none
                            content: "-"
                            font-size: 40px
                            -webkit-transform: rotate(0deg)
                            -ms-transform: rotate(0deg)
                            transform: rotate(0deg)
                    .accordion-item
                        background-color: transparent
                        border-top: solid 1px #e2e2e2
                        &:nth-last-child(1)
                            border-bottom: solid 1px #E2E2E2
                        .accordion-header
                            .accordion-button
                                font-weight: 700
                                font-family: $fontstack2
                                color: $text
                                padding: 15px 0
                                font-size: 16px
                                gap: 10px
                                @include mq('phablet')
                                    font-size: 18px
                                @include mq('tablet')
                                    font-size: 24px
                                @include mq('tablet-lg')
                                    font-size: 30px
                                    padding: 30px 0
                                &:not(.collapsed)
                                    background-color: transparent
                                    box-shadow: none
                                &:focus
                                    box-shadow: none
                        .accordion-collapse
                            .accordion-body
                                padding: 0
                                padding-right: 15px
                                padding-bottom: 15px
                                p
                                    color: $black
                                    margin-bottom: 15px
                                ul
                                    margin-bottom: 15px
                                    li
                                        font-size: 14px
                                        padding-left: 25px
                                        margin-bottom: 14px
                                        position: relative
                                        @include mq('tablet')
                                            font-size: 15px
                                        @include mq('tablet-lg')
                                            font-size: 16px
                                        &::before
                                            content: ""
                                            position: absolute
                                            top: 5px
                                            left: 0
                                            width: 11px
                                            height: 11px
                                            border: 2px solid $basecolor
                                            border-radius: 50%
                                            margin-right: 10px
                .vdoSec
                    .secTle
                        font-weight: 700
                        font-family: $fontstack2
                        color: $text
                        padding: 20px 0
                        font-size: 16px
                        gap: 10px
                        margin-bottom: 0
                        @include mq('phablet')
                            font-size: 18px
                        @include mq('tablet')
                            font-size: 24px
                        @include mq('tablet-lg')
                            font-size: 30px
                            padding: 40px 0
                    .docVdoCard
                        .vdoThumb
                            position: relative
                            overflow: hidden
                            height: 220px
                            img
                                -webkit-transform: scale(1)
                                transform: scale(1)
                                -webkit-transition: .6s ease-in-out
                                transition: .6s ease-in-out
                                @include imgFit
                            .video-icon
                                position: absolute
                                top: 50%
                                left: 50%
                                opacity: 1
                                transform: translate(-50%, -50%)
                                background-color: transparent
                                transition: all .3s ease
                                svg
                                    width: 30px
                                    height: 22px
                                    border-radius: 4px
                        &:hover
                            .vdoThumb
                                img
                                    -webkit-transform: scale(1.1)
                                    transform: scale(1.1)
                                .video-icon
                                    svg
                                        animation: pulse 2s infinite
                                        @keyframes pulse
                                            0%
                                                -moz-box-shadow: 0 0 0 0 rgb(255 0 0 / 20%)
                                                box-shadow: 0 0 0 0 rgb(255 0 0 / 20%)
                                            70%
                                                -moz-box-shadow: 0 0 0 20px #ffffff00
                                                box-shadow: 0 0 0 20px #ffffff00
                                            100%
                                                -moz-box-shadow: 0 0 0 0 #ffffff00
                                                box-shadow: 0 0 0 0 #ffffff00
                        .vdoCnt
                            padding: 15px 0
                            @include mq('tablet-lg')
                                padding: 20px 0
                            .vTle
                                font-weight: 600
                                font-family: $fontstack2
                                color: $text
                                margin-bottom: 0
                                