//feedbackPage
/************** ******* **************/
/************* feedbackPage *************/
/************** ******* **************/

#fbckSec
    padding-top: 40px
    padding-bottom: 40px
    position: relative
    @include mq('phablet')
        padding-top: 60px
        padding-bottom: 60px
    @include mq('tablet-lg')
        padding-top: 80px
        padding-bottom: 80px
    @include mq('desktop')
        padding-top: 120px
        padding-bottom: 120px
    .designBxElemntOuter
        position: absolute
        top: 40px
        left: 2vw
        right: auto
        z-index: -1
        -webkit-animation: blinkAnim 12s ease infinite
        animation: blinkAnim 12s ease infinite
        &.btmLft
            left: 3vw
            top: auto            
            bottom: 30%
        &.rgt
            left: auto
            right: 2vw
            top: auto
            bottom: 0
        &.topRgt
            top: 40px
            left: auto
            right: 2vw
            bottom: auto
        .elementOne
            width: 26px
            height: 26px
            background-color: $basecolor2
        .elementTwo
            width: 26px
            height: 26px
            background-color: $basecolor
            margin-left: 26px
    &>.container
        @include mq('tablet-lg')
            padding-left: 100px
            padding-right:  100px
    .queFormWrap
        width: 100%
        background-color: #F8F9FB
        flex-direction: column-reverse
        @include display
        @include mq('phablet')
            flex-direction: row
        .formOuter
            width: 100%
            padding: 25px
            @include mq('phablet')
                width: 60%
            @include mq('tablet')
                width: 50%
            @include mq('tablet-lg')
                padding: 50px
                margin: auto
            @include mq('desktop-lg')
                padding: 100px
            .customForm
                max-width: 100%
                @include mq('tablet-lg')
                    max-width: 400px
                .formTle
                    margin-bottom: 15px
                    @include mq('phablet')
                        margin-bottom: 30px
                    @include mq('tablet-lg')
                        font-size: 35px
        .contntImg
            width: 100%
            @include mq('phablet')
                width: 40%
            @include mq('tablet')
                width: 50%
            @include mq('phablet', max)
                height: 200px
            img
                @include imgFit



