//FOOTER
/************ ****** ************/
/************ FOOTER ************/
/************ ****** ************/
.main-foot
    position: relative
    background-color: $basecolor
    overflow-x: hidden
    .topSec
        margin-bottom: 30px
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)
        border-left: 1px solid rgba(255, 255, 255, 0.2)
        @media only screen and (min-width:768px)
            border-left: 0
        @media only screen and (min-width:1351px)
            margin-bottom: 80px
        .flxBox
            display: flex
            flex-wrap: wrap
            justify-content: center
            margin-left: 0
            @include display
            @media screen and (min-width: 768px)
                margin-left: -25px
            @media screen and (min-width: 992px)
                margin-left: -25px
            @media screen and (min-width: 1200px)
                margin-left: -40px
            @media screen and (min-width: 1441px)
                margin-left: -60px
            &>.item
                width: 100%
                padding-left: 0
                border-right: 1px solid rgba(255, 255, 255, 0.2)
                border-top: 1px solid rgba(255, 255, 255, 0.2)
                @media only screen and (min-width: 468px)
                    width: calc(100% / 2)
                @media only screen and (min-width: 576px)
                    padding-left: 30px
                @media only screen and (min-width:768px)
                    width: calc(100% / 4)
                    border-top: 0
                @media only screen and (min-width: 992px)
                    padding-left: 25px
                @media only screen and (min-width: 1200px)
                    padding-left: 40px
                @media only screen and (min-width: 1441px)
                    padding-left: 60px
                &:nth-last-child(1)
                    @media only screen and (min-width:768px)
                        border-right: 0
                .bxWrap
                    padding: 20px
                    @include display
                    @media only screen and (min-width: 468px)
                        flex-direction: column
                    @media only screen and (min-width: 576px)
                        padding: 30px 0
                    .bxIcon
                        margin-bottom: 0
                        margin-right: 10px
                        width: 40px
                        @media only screen and (min-width: 468px)
                            margin-right: 0
                            margin-bottom: 10px
                        @media only screen and (min-width: 576px)
                            margin-bottom: 20px
                        svg
                            max-width: 40px
                            max-height: 40px
                    .bxCnt
                        .bxTle
                            font-size: 14px
                            font-weight: 400
                            color: $basecolor2
                            margin-bottom: 6px
                            text-transform: capitalize
                            font-family: $fontstack2
                            @media only screen and (min-width: 992px)
                                font-size: 15px
                            @media only screen and (min-width: 1200px)
                                font-size: 18px
                        .bxDtls
                            width: fit-content
                            display: block
                            font-size: 13px
                            color: $white
                            font-weight: 600
                            font-family: $fontstack2
                            text-transform: capitalize
                            font-size: 14px
                            @media only screen and (min-width: 568px)
                                font-size: 16px
                            @media only screen and (min-width: 992px)
                                font-size: 18px
                            @media only screen and (min-width: 1200px)
                                font-size: 24px
    .midSec
        margin-bottom: 30px
        @media only screen and (min-width:1351px)
            margin-bottom: 80px
        p, h3
            margin: 0
        p, li, a
            color: rgb(255, 255, 255)
            line-height: 1.3
            font-size: 13px
            @media screen and (min-width: 1200px)
                font-size: 18px
        h3
            color: $white
            font-weight: 700
            font-family: $fontstack2
            line-height: 1.2
            max-width: 420px
            @media screen and (min-width: 992px)
                font-size: 28px
            @media screen and (min-width: 1200px)
                font-size: 36px
        .footUl
            li
                margin-bottom: 6px
        a
            &:hover
                color: $basecolor2
        .Flx
            margin: -10px
            @include display
            @media screen and (min-width: 468px)
                margin: -10px
            @media screen and (min-width: 992px)
                margin: 0 -25px
            @media screen and (min-width: 1200px)
                margin: 0 -40px
            >*
                width: 50%
                padding: 10px
                @media screen and (min-width: 576px)
                    width: 33.333%
                @media screen and (min-width: 992px)
                    padding: 0 25px
                    width: 21.666%
                @media screen and (min-width: 1200px)
                    padding: 0 40px
                &:nth-child(1)
                    width: 100%
                    @media screen and (min-width: 992px)
                        width: 35%
    .btmSec
        border-top: 1px solid rgba(255, 255, 255, 0.2)
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)
        padding-top: 25px
        padding-bottom: 15px
        @media screen and (min-width: 576px)
            padding-top: 0
            padding-bottom: 0
        p
            margin: 0
        p, li, a
            color: rgb(255, 255, 255)
            line-height: 1.3
            font-size: 13px
            @media screen and (min-width: 1200px)
                font-size: 18px
        .subsForm
            border-radius: 0
            position: relative
            max-width: 320px
            padding-bottom: 6px
            border-bottom: 1px solid $white
            transition: 0.5s ease-in-out
            @media screen and (min-width: 1200px)
                max-width: 480px

            &:hover
                border-bottom-color: $basecolor2
            input
                height: 36px
                width: 100%
                outline: none
                border: none
                font-size: 15px
                font-weight: 400
                color: $white
                background: transparent
                @media screen and (min-width: 1200px)
                    font-size: 18px
                    height: 50px
                &::placeholder
                    color: $white
            .subsBtn
                position: absolute
                right: 0px
                top: 0px
                text-align: center
                line-height: 65px
                cursor: pointer
                padding: 0
                background: transparent
                border: 0
                height: 100%
                &:hover
                    svg
                        fill: $basecolor2
                svg
                    fill: $white
                    width: 16px
                    height: 16px
                    transition: 0.5s ease-in-out
                    @media screen and (min-width: 1200px)
                        width: 30px
                        height: 30px
        .footUl
            li
                margin-bottom: 6px
        a
            &:hover
                color: $basecolor2
        .Flx
            margin: -10px
            @include display
            @media screen and (min-width: 468px)
                margin: -10px
            @media screen and (min-width: 992px)
                margin: 0 -25px
            @media screen and (min-width: 1200px)
                margin: 0 -40px
            &>.itemWrap
                width: 50%
                padding: 10px
                @media screen and (min-width: 992px)
                    padding: 0 25px
                    width: 30%
                @media screen and (min-width: 1200px)
                    padding: 0 40px
                &:nth-child(1)
                    width: 100%
                    @media screen and (min-width: 576px)
                        width: 50%
                    @media screen and (min-width: 992px)
                        width: 35%
                        border-right: 1px solid rgba(255, 255, 255, 0.2)
                &:nth-child(2)
                    width: 100%
                    @media screen and (min-width: 576px)
                        width: 50%
                    @media screen and (min-width: 992px)
                        width: 35%
                        padding-left: 80px
                &:nth-last-child(1)
                    display: flex
                    width: 100%
                    @media screen and (min-width: 576px)
                        width: 100%
                    @media screen and (min-width: 992px)
                        width: 30%
                        justify-content: flex-end
                    .bxWrap
                        padding-top: 0
                        @media screen and (min-width: 992px)
                            padding-top: 50px
                .bxWrap
                    padding-top: 0
                    padding-bottom: 10px
                    @media screen and (min-width: 576px)
                        padding-top: 30px
                        padding-bottom: 30px
                    @media screen and (min-width: 992px)
                        padding-top: 50px
                        padding-bottom: 50px
                    .bxTle
                        color: $white
                        font-weight: 600
                    .mailLink
                        font-weight: 600
                        margin-top: 0
                        display: block
                        @media screen and (min-width: 992px)
                            margin-top: 38px
                    .social
                        width: 100%
                        margin-top: 15px
                        @include display
                        @media screen and (min-width: 992px)
                            margin-top: 24px
                        li
                            margin-left: 15px
                            margin-right: 15px
                            &:nth-child(1)
                                margin-left: 0
                            &:nth-last-child(1)
                                margin-right: 0
                            a
                                svg
                                    width: 12px
                                    height: 12px
                                    fill: $white
                                    opacity: 1
                                    transition: ease-in-out all .3s
                                    @media screen and (min-width: 992px)
                                        width: 20px
                                        height: 20px
                                &:hover
                                    svg
                                        fill: $basecolor2
                                        transform: translateY(-2px)
                                        opacity: 0.8

    .ftBottomWrap
        .footBttmSec
            padding-top: 10px
            padding-bottom: 10px
            justify-content: center
            text-align: center
            @include display
            @media only screen and (min-width: 576px)
                padding-top: 20px
                padding-bottom: 20px
                justify-content: space-between
            @media only screen and (min-width: 992px)
                padding-top: 50px
                padding-bottom: 50px
            p
                font-size: 10px
                line-height: 1.2
                color: $white
                margin-bottom: 0
                @media only screen and (min-width: 576px)
                    font-size: 14px
                &.designed
                    a
                        text-decoration: none
                        color: $white
                        transition: 0.5s ease-in-out
                        &:hover
                            color: $basecolor2
