//Header
.modal-backdrop
    background: rgba(54, 54, 54, 0.8)
    -webkit-transition: display 0.3s ease-in-out
    -moz-transition: display 0.2s ease-in-out
    -ms-transition: display 0.2s ease-in-out
    -o-transition: display 0.2s ease-in-out
    transition: display 0.2s ease-in-out
    &.show
        opacity: 1
        z-index: 3
#Header
    width: 100%
    top: 0px
    left: 0px
    animation-duration: 0.5s
    position: absolute
    padding: 0px 0
    background: transparent
    z-index: 4
    #HeaderMain
        height: 50px
        -webkit-transition: display 0.3s ease-in-out
        -moz-transition: display 0.2s ease-in-out
        -ms-transition: display 0.2s ease-in-out
        -o-transition: display 0.2s ease-in-out
        transition: display 0.2s ease-in-out
        @media only screen and (min-width: 380px)
            height: 56px
        @include mq('phone-lg')
            height: 110px
        &>.sp-container
            @media only screen and (min-width: 2000px)
                max-width: 1600px
                margin-right: auto
    .main-nav
        height: 100%
        @include display
        @include mq('tablet-lg')
            padding-top: 0
            padding-bottom: 0
        .LogoSec
            width: 120px
            height: auto
            padding-top: 0
            padding-left: 15px
            @media only screen and (min-width: 380px)
                width: 140px
            @media only screen and (min-width: 480px)
                width: 150px
            @media only screen and (min-width: 992px)
                padding-top: 15px
            @media only screen and (min-width: 1200px)
                width: 180px
            @media only screen and (min-width: 1441px)
                width: 260px
            a
                width: 100%
                height: 100%
                img
                    width: 100%
                    height: 100%
                    object-fit: contain

        .MenuIcon
            button
                display: flex
                align-items: center
                justify-content: center
                border: none
                width: 90px
                height: 80px
                max-width: 100%
                font-size: 15px
                font-weight: 600
                outline: none
                padding: 0
                margin: 0
                box-shadow: none
                border-radius: 0
                background: $basecolor
                @media only screen and (min-width: 480px)
                    width: 110px
                    font-size: 16px
                @media only screen and (min-width: 992px)
                    height: 100px
                @media only screen and (min-width: 1200px)
                    font-size: 20px
                    width: 160px
                &:hover
                    background-color: $basecolor2
                .IconWrp
                    width: 16px
                    margin-right: 8px
                    @media only screen and (min-width: 480px)
                        width: 22px
                        margin-right: 10px
                    @media only screen and (min-width: 1200px)
                        width: 22px
                        margin-right: 20px
                    span
                        width: 100%
                        height: 3px
                        display: block
                        background: $white
                        -webkit-transition: all 0.3s ease
                        -moz-transition: all 0.3s ease
                        -ms-transition: all 0.3s ease
                        -o-transition: all 0.3s ease
                        transition: all 0.3s ease
                        position: relative
                        &:nth-child(2)
                            width: 50%
                            display: none
                        ~ span
                            margin-top: 7px
                &:hover
                    span
                        &:nth-child(2)
                            width: 100%
                .btnCnt
                    font-size: 16px
                    font-weight: 600
                    color: $white
                    line-height: 1
                    @media only screen and (min-width: 992px)
                        font-size: 20px
        #HeaderMenu
            top: 0px
            z-index: 5
            height: 100vh
            @media only screen and (min-width: 992px)
                height: auto
                max-height: none
                top: 0px
                position: relative
                display: block
                opacity: 1
                overflow: visible
                max-width: calc(100% - 330px)
                margin-left: auto
            @media only screen and (min-width: 1200px)
                max-width: calc(100% - 476px)
            @media only screen and (min-width: 1441px)
                max-width: calc(100% - 600px)
            .modal-dialog
                transform: translateX(100%)
                background: $white
                margin: 0
                margin-left: auto
                max-width: 260px
                height: 100%
                @media only screen and (min-width: 992px)
                    height: auto
                    max-width: 100%
                    width: 100%
                    border-radius: 0
                    transform: none
                    background: transparent
            .modal-content
                background: none
                height: 100%
                border-radius: 0
                border: none
            .ModalHeader
                background: none
                padding: 20px 15px 15px
                justify-content: flex-end
                @include display
                @media only screen and (min-width: 992px)
                    display: none
                .MenuIcon
                    width: 30px
                    button
                        display: flex
                        align-items: center
                        justify-content: center
                        flex-direction: column
                        border: none
                        width: 100%
                        height: 100%
                        font-size: 0
                        outline: none
                        padding: 0
                        margin: 0
                        box-shadow: none
                        border-radius: 0
                        background: none
                        height: 100%
                        padding: 4px
                        .IconWrp
                            width: 20px
                        span
                            width: 100%
                            height: 2.5px
                            display: block
                            background: $black
                            -webkit-transition: all 0.3s ease
                            -moz-transition: all 0.3s ease
                            -ms-transition: all 0.3s ease
                            -o-transition: all 0.3s ease
                            transition: all 0.3s ease
                            position: relative
                            &:nth-child(1)
                                transform: rotate(45deg) translate(0px, 0px)
                            &:nth-child(2)
                                transform: rotate(-45deg) translate(2px, -2px)
                                margin-top: 0
                            &:nth-child(3)
                                display: none
                    &.close
                        opacity: 0
                        visibility: hidden
            .modal-body
                padding: 30px 15px
                max-height: 100vh
                @include display
                @media only screen and (max-width: 992px)
                    overflow-y: auto
                @media only screen and (min-width: 992px)
                    padding: 0
                    max-height: none
                .nav-item
                    width: 100%
                    max-width: 300px
                    @media only screen and (min-width: 992px)
                        max-width: 100%
            .FRow
                @media only screen and (min-width: 992px)
                    justify-content: space-between
                    align-items: center
                    @include display
            .accordion
                @media only screen and (min-width: 992px)
                    background-color: transparent
                    justify-content: flex-end
                    height: 100px
                    align-items: center
                    @include display
                .accordion-item
                    position: relative
                    background: none
                    outline: none
                    box-shadow: none
                    border: none
                    border-radius: 0
                    .accordion-header
                        background: none
                        outline: none
                        box-shadow: none
                        border: none
                        .accordion-button
                            font-size: 14px
                            line-height: 1.2
                            background: none
                            outline: none
                            box-shadow: none
                            border: none
                            cursor: pointer
                            color: $black
                            font-weight: 600
                            transition: all .3s
                            padding: 15px 0
                            text-transform: capitalize
                            text-align: left
                            &::after
                                display: none
                                margin-left: 12px
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.867 4.837'%3E%3Cpath id='Down_Arrow_3_' d='M24.433 44.836a.4.4 0 0 1-.285-.118l-4.03-4.03a.4.4 0 0 1 .57-.57l3.745 3.745 3.745-3.745a.4.4 0 0 1 .57.57l-4.03 4.03a.4.4 0 0 1-.285.118Z' transform='translate(-20 -40)' fill='%23257b06'/%3E%3C/svg%3E")
                                width: 12px
                                height: 6px
                                background-size: contain
                            &[type="button"]::after
                                display: block
                            &:hover, &.active
                                color: $hover
                                &::after
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.867 4.837'%3E%3Cpath id='Down_Arrow_3_' d='M24.433 44.836a.4.4 0 0 1-.285-.118l-4.03-4.03a.4.4 0 0 1 .57-.57l3.745 3.745 3.745-3.745a.4.4 0 0 1 .57.57l-4.03 4.03a.4.4 0 0 1-.285.118Z' transform='translate(-20 -40)' fill='%23f81f1f'/%3E%3C/svg%3E")
                            @include mq('tablet-lg')
                                color: $white
                                padding: 0 1vw
                                margin-top: 20px
                                margin-bottom: 20px
                            @include mq('laptop')
                                font-size: 14px
                            @include mq('desktop')
                                font-size: 16px
                            @media only screen and (min-width: 2000px)
                                padding: 0 15px
                        .AccrdArrow
                            width: 35px
                            position: absolute
                            top: 0
                            right: 0
                            height: 100%
                            align-items: center
                            justify-content: center
                            background: #19aba3
                            outline: none
                            box-shadow: none
                            border-radius: 0
                            display: none
                            svg
                                transition: all .3s
                                width: 15px
                                fill: $basecolor
                        &.hasAccord
                            @media only screen and (max-width: 992px)
                                display: flex
                                align-items: center
                                justify-content: space-between
                                position: relative
                                .accordion-button
                                    width: calc(100% - 35px)
                                .AccrdArrow
                                    display: flex

                    .accordion-collapse
                        background: $white
                        width: 100%
                        transition: all .3s
                        border: 1px solid #f8f8f8
                        @media only screen and (min-width: 992px)
                            position: absolute
                            left: 20px
                            min-width: 160px
                            top: 100%
                            display: block
                            opacity: 0
                            pointer-events: none
                            transform: translateY(13px)
                            height: auto !important
                            -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.08)
                            -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.08)
                            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.08)
                            &.show
                                opacity: 1
                                pointer-events: all
                                transform: translateY(0px)
                                display: block

                        .accordion-body
                            padding: 0
                        a
                            padding: 10px 15px
                            color: $black
                            display: block
                            font-size: 14px
                            font-weight: 300
                            &:hover
                                background: #DBDBDB
            &.show
                .modal-dialog
                    transform: translateX(0)
        #DeskHeaderMenu
            background: #fff
            height: 100vh
            width: 0
            transition: .8s all
            left: auto
            right: 0
            &.show
                width: 100%
                .modal-dialog
                    .modal-content
                        .modal-body
                            .Dflx
                                .ritBx
                                    opacity: 1
            .modal-dialog
                max-width: 100%
                height: 100%
                margin: 0
                padding: 0
                transform: none
                .modal-content
                    border-radius: 0
                    padding: 0
                    margin: 0
                    border: none
                    height: 100%
                    @media only screen and ( min-width: 768px )
                        height: 100vh
                        overflow: hidden
                    .modal-header
                        padding: 0
                        .MenuIcon.closeBtn
                            position: absolute
                            top: 0
                            right: 0
                            z-index: 1
                            button
                                .IconWrp
                                    span
                                        &:nth-child(1)
                                            transform: rotate(45deg) translate(0px, 0px)
                                        &:nth-child(2)
                                            display: none
                                        &:nth-child(3)
                                            transform: rotate(-45deg) translate(2px, -2px)
                                            margin-top: 0
                    .modal-body
                        padding: 0
                        margin: 0
                        .sp-container
                            height: 100%
                        .Dflx
                            height: 100%
                            @include display
                            .lftBx
                                width: 50%
                                padding-left: 15px
                                position: relative
                                @media only screen and (min-width: 992px)
                                    width: 60%
                                @media only screen and (max-width: 768px)
                                    width: 100%
                                    height: calc( 100% - 170px )
                                .designBxElemntOuter
                                    height: 50%
                                    position: absolute
                                    right: 104%
                                    top: 60px
                                    width: 52px
                                    height: 52px
                                    z-index: 1
                                    -webkit-animation: blinkAnim 12s ease infinite
                                    animation: blinkAnim 12s ease infinite
                                    .elementOne
                                        width: 26px
                                        height: 26px
                                        background-color: $basecolor2
                                    .elementTwo
                                        width: 26px
                                        height: 26px
                                        background-color: $basecolor
                                        margin-left: 26px
                                .logoSec
                                    width: 120px
                                    height: auto
                                    margin-top: 5px
                                    margin-bottom: 30px
                                    @media only screen and (min-width: 380px)
                                        width: 140px
                                    @media only screen and (min-width: 480px)
                                        width: 150px
                                    @media only screen and (min-width: 992px)
                                        width: 220px
                                        margin-top: 30px
                                        margin-bottom: 80px
                                    a
                                        width: 100%
                                        height: 100%
                                        img
                                            width: 100%
                                            height: 100%
                                            object-fit: contain
                                .menuListWrap
                                    position: relative
                                    @include display
                                    .menuAccoWrap
                                        width: 100%
                                        max-height: calc(100vh - 300px)
                                        height: 100%
                                        overflow-y: auto
                                        @media only screen and ( min-width: 992px )
                                            width: 40%
                                        .accordion-item
                                            width: 100%
                                            border: 0
                                            padding-right: 15px
                                            margin-bottom: 15px
                                            @media only screen and ( min-width: 768px )
                                                padding-right: 30px
                                            @media only screen and ( min-width: 992px )
                                                padding-right: 15px
                                                margin-bottom: 30px
                                            .accordion-header
                                                border: 0
                                                width: 100%
                                                .accorBtn
                                                    color: $text
                                                    font-weight: 600
                                                    font-family: $fontstack2
                                                    display: none
                                                    align-items: center
                                                    transition: .2s ease-in-out
                                                    position: relative
                                                    font-size: 16px
                                                    margin-bottom: 0
                                                    word-break: break-word
                                                    padding: 0
                                                    background: transparent
                                                    box-shadow: none
                                                    @media only screen and ( min-width: 992px )
                                                        font-size: 24px
                                                        display: flex
                                                    &:hover, &.active
                                                        color: $basecolor
                                                        &::after
                                                            @media only screen and ( min-width: 992px )
                                                                opacity: 1
                                                                transform: scale(1)
                                                                -webkit-transform: translateX(20px)
                                                                -moz-transform: translateX(20px)
                                                                -ms-transform: translateX(20px)
                                                                -o-transform: translateX(20px)
                                                                transform: translateX(20px)
                                                    &[aria-expanded="true"]
                                                        color: $basecolor
                                                        &::after
                                                            @media only screen and ( min-width: 992px )
                                                                opacity: 1
                                                                transform: scale(1)
                                                                -webkit-transform: translateX(20px)
                                                                -moz-transform: translateX(20px)
                                                                -ms-transform: translateX(20px)
                                                                -o-transform: translateX(20px)
                                                                transform: translateX(20px)
                                                    &::after
                                                        @media only screen and ( min-width: 992px )
                                                            display: inline-block
                                                            padding-left: 8px
                                                            content: ""
                                                            width: 22px
                                                            height: 21px
                                                            background-image: url(../images/arrowBack.svg)
                                                            background-repeat: no-repeat
                                                            opacity: 0
                                                            transform: scale(0.9)
                                                            margin-left: 0
                                                            -webkit-transition: all 0.3s ease-out
                                                            -moz-transition: all 0.3s ease-out
                                                            -ms-transition: all 0.3s ease-out
                                                            -o-transition: all 0.3s ease-out
                                                            transition: all 0.3s ease-out
                                                .accordion-button
                                                    color: $text
                                                    font-weight: 600
                                                    font-family: $fontstack2
                                                    display: flex
                                                    align-items: center
                                                    transition: .2s ease-in-out
                                                    position: relative
                                                    font-size: 16px
                                                    margin-bottom: 0
                                                    word-break: break-word
                                                    padding: 0
                                                    background: transparent
                                                    box-shadow: none
                                                    @media only screen and ( min-width: 992px )
                                                        font-size: 24px
                                                        display: none
                                                    &:hover, &.active
                                                        color: $basecolor
                                                        &::after
                                                            @media only screen and ( min-width: 992px )
                                                                opacity: 1
                                                                transform: scale(1)
                                                                -webkit-transform: translateX(20px)
                                                                -moz-transform: translateX(20px)
                                                                -ms-transform: translateX(20px)
                                                                -o-transform: translateX(20px)
                                                                transform: translateX(20px)
                                                    &[aria-expanded="true"]
                                                        color: $basecolor
                                                        &::after
                                                            @media only screen and ( min-width: 992px )
                                                                opacity: 1
                                                                transform: scale(1)
                                                                -webkit-transform: translateX(20px)
                                                                -moz-transform: translateX(20px)
                                                                -ms-transform: translateX(20px)
                                                                -o-transform: translateX(20px)
                                                                transform: translateX(20px)
                                                    &::after
                                                        @media only screen and ( min-width: 992px )
                                                            display: inline-block
                                                            padding-left: 8px
                                                            content: ""
                                                            width: 22px
                                                            height: 21px
                                                            background-image: url(../images/arrowBack.svg)
                                                            background-repeat: no-repeat
                                                            opacity: 0
                                                            transform: scale(0.9)
                                                            margin-left: 0
                                                            -webkit-transition: all 0.3s ease-out
                                                            -moz-transition: all 0.3s ease-out
                                                            -ms-transition: all 0.3s ease-out
                                                            -o-transition: all 0.3s ease-out
                                                            transition: all 0.3s ease-out
                                            .accordion-collapse
                                                &.collapsing
                                                    opacity: 0
                                                    transition-duration: 0.2s
                                                    animation-timing-function: inherit
                                                @media only screen and ( min-width: 992px )
                                                    position: absolute
                                                    left: 40%
                                                    width: 60%
                                                    top: 0
                                                .accordion-body
                                                    padding: 15px
                                                    background-color: #f8f9fb
                                                    border-radius: 5px
                                                    @media only screen and ( min-width: 992px )
                                                        padding-left: 60px
                                                        padding-right: 15px
                                                        padding-top: 0
                                                        padding-bottom: 0
                                                        background-color: transparent
                                                    .itemList
                                                        li
                                                            &:not(:last-of-type)
                                                                margin-bottom: 30px
                                                            a
                                                                color: $text
                                                                font-family: $fontstack2
                                                                font-weight: 500
                                                                display: block
                                                                position: relative
                                                                font-size: 14px
                                                                @media only screen and (min-width: 992px)
                                                                    font-size: 20px
                                                                @media only screen and (min-width: 1200px)
                                                                    font-size: 24px
                                                            &:hover, &.active
                                                                a
                                                                    color: $basecolor
                                            // &:not(:hover)
                                            //     @media only screen and (min-width: 992px)
                                            //         .accordion-collapse.show
                                            //             opacity: 0
                                            //             display: none
                                            // &:hover
                                            //     @media only screen and (min-width: 992px)
                                            //         .accordion-collapse
                                            //             opacity: 1
                                            //             pointer-events: all
                                            //             transform: translateY(0px)
                                            //             display: block
                                    
                            .ritBx
                                transition: .4s all
                                transition-delay: .6s
                                opacity: 0
                                background: #1C1C1C
                                position: relative
                                width: 50%
                                @media only screen and (min-width: 992px)
                                    width: 40%
                                @media only screen and (max-width: 768px)
                                    width: 100%
                                    height: 170px
                                &>.innerBg
                                    opacity: .60
                                    width: 100%
                                    height: 100%
                                    object-fit: cover
                                .cntWrap
                                    position: absolute
                                    bottom: 30px
                                    left: 30px
                                    max-width: 350px
                                    width: 100%
                                    padding-right: 15px
                                    @media screen and (min-width: 992px)
                                        bottom: 70px
                                        left: 70px
                                    .bxTle
                                        color: $white
                                        font-weight: 600
                                        line-height: 1.3
                                        @media screen and (min-width: 992px)
                                            font-size: 27px
                                    .social
                                        width: 100%
                                        margin-top: 15px
                                        @include display
                                        @media screen and (min-width: 992px)
                                            margin-top: 24px
                                        li
                                            margin-left: 15px
                                            margin-right: 15px
                                            &:nth-child(1)
                                                margin-left: 0
                                            &:nth-last-child(1)
                                                margin-right: 0
                                            a
                                                svg
                                                    width: 12px
                                                    height: 12px
                                                    fill: $white
                                                    opacity: 1
                                                    transition: ease-in-out all .3s
                                                    @media screen and (min-width: 992px)
                                                        width: 20px
                                                        height: 20px
                                                &:hover
                                                    svg
                                                        fill: $basecolor2
                                                        transform: translateY(-2px)
                                                        opacity: 0.8
                                    .mailLink
                                        font-size: 14px
                                        color: $white
                                        font-weight: 400
                                        margin-top: 10px
                                        display: block
                                        @media screen and (min-width: 992px)
                                            font-size: 18px
                                            margin-top: 26px
                                        &:hover
                                            color: $basecolor2
        .searchBtnWrap
            margin-right: 15px
            margin-left: auto
            height: 80px
            align-items: center
            @include display
            @media only screen and (min-width: 576px)
                margin-right: 2vw
            @media only screen and (min-width: 992px)
                height: 100px
                margin-left: 1.5vw
                margin-right: 2.5vw
            .searchBtn
                border-radius: 0
                width: 100%
                position: relative
                transition: 0.5s ease-in-out
                .btnIcon
                    width: 20px
                    height: 20px
                    display: inline-block
                    fill: $white
                    transition: 0.5s ease-in-out
        .btn
            border: 1px solid rgba(253, 253, 254, 0.6)
            border-radius: 6px
            height: 37px
            padding: 5px
            margin: auto 0
            color: rgb(253, 253, 254)
            font-weight: 500
            font-size: 13px
            margin: auto
            margin-top: 25px
            width: 100%
            max-width: calc(100% - 30px)
            @media only screen and (min-width: 992px)
                margin: 0
                width: 125px
            @media only screen and (min-width: 1200px)
                width: 147px
                font-size: 15px
            @media only screen and (min-width: 1551px)
                font-size: 17px
            &:hover
                background: $hover

    &.sticky
        position: fixed
        width: 100%
        animation-name: fadeInDown
        animation-duration: 0.5s
        animation-fill-mode: both
        top: 0px
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1)
        z-index: 5
        background: $basecolor
        #HeaderMain
            height: 80px
            @media only screen and (min-width: 992px)
                height: 100px
            .main-nav
                .LogoSec
                    width: 150px
                    @media only screen and (min-width: 992px)
                        padding-top: 0
