//HOME CARE_PAGE
/************** ******* **************/
/************* HOME CARE_PAGE *************/
/************** ******* **************/
#Home_Care
    position: relative
    padding: 50px 0 30px
    @media only screen and (min-width: 468px)
        padding: 60px 0 40px
    @media only screen and (min-width: 768px)
        padding: 80px 0 60px
    @media only screen and (min-width: 992px)
        padding: 100px 0 70px
    @media only screen and (min-width: 1551px)
        padding: 130px 0 95px
    .row
        &>*
            padding: 5px 5px 10px
            @media only screen and (min-width: 468px)
                padding: 10px 10px 15px
            @media only screen and (min-width: 768px)
                padding: 15px 15px 20px
            @media only screen and (min-width: 992px)
                padding: 10px 10px 15px
            @media only screen and (min-width: 1551px)
                padding: 15px 15px 25px
        .blog-box
            display: block
            .image_box
                position: relative
                overflow: hidden
                background-color: $basecolor
                height: 208px
                @media only screen and (min-width: 576px)
                    height: 218px
                @media only screen and (min-width: 1551px)
                    height: 218px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    -webkit-transform: scale(1)
                    transform: scale(1)
                    -webkit-transition: .8s ease-in-out
                    transition: .8s ease-in-out
                .hoverRdMr
                    position: absolute
                    top: 50%
                    left: 50%
                    text-align: center
                    transform: translate(-50%, 0)
                    -webkit-transition: all .4s ease-in-out
                    transition: .4s ease-in-out
                    opacity: 0
                    -webkit-backface-visibility: hidden
                    .rdMrIcon
                        transform: scale(0.8)
                        -webkit-transition: all .4s ease-in-out
                        transition: .4s ease-in-out
                        svg
                            width: 38px
                            height: 38px
                            fill: $white
                    .rdMrTxt
                        color: $white
                        text-transform: capitalize
                        margin-bottom: 0
                        margin-top: 10px
                        transform: scale(0.8)
                        -webkit-transition: all .4s ease-in-out
                        transition: .4s ease-in-out
                        font-weight: 600
            .content_box
                padding: 30px 0 20px
                border-bottom: 1px solid #70707020
                .details_sec
                    .post-title
                        color: $text
                        font-size: 17px
                        line-height: 28px
                        font-weight: 600
                        padding-bottom: 10px
                        -webkit-transition: all .5s ease-out
                        -moz-transition: all .5s ease-out
                        -ms-transition: all .5s ease-out
                        -o-transition: all .5s ease-out
                        transition: all .5s ease-out
                        @media only screen and (min-width: 468px)
                            font-size: 18px
                        @media only screen and (min-width: 992px)
                            font-size: 20px
                            line-height: 30px
                        @media only screen and (min-width: 1551px)
                            font-size: 28px
                            line-height: 34px
                    .post-description
                        color: $black
                        font-size: 14px
                        font-weight: 400
                        line-height: 24px
                        @media only screen and (min-width: 468px)
                            font-size: 15px
                        @media only screen and (min-width: 992px)
                            font-size: 16px
                        @media only screen and (min-width: 1551px)
                            font-size: 18px
                            line-height: 28px

            &:hover
                .image_box
                    img
                        opacity: 0.55
                        -webkit-transform: scale(1.1)
                        transform: scale(1.1)
                    .hoverRdMr
                        opacity: 1
                        transform: translate(-50%, -50%)
                        .rdMrIcon, .rdMrTxt
                            transform: scale(1)
                .content_box
                    .details_sec
                        .post-title
                            color:  $basecolor2
            