//HOME_PAGE
/************** ******* **************/
/************* HOME_PAGE *************/
/************** ******* **************/
#MainBanner
    position: relative
    background: #000
    .carousel
        height: 100%
        overflow: hidden
        .carousel-indicators
            padding: 0px
            margin: 0
            position: absolute
            z-index: 2
            bottom: 30px
            @media only screen and (min-width: 576px)
                bottom: 65px
            .container
                display: flex
                align-items: center
                justify-content: flex-start
            button
                width: 9px
                height: 9px
                border-radius: 50%
                opacity: 1
                background-color: $white
                border: 2px solid transparent
                box-sizing: border-box
                &:not(:last-of-type)
                    margin-right: 20px
                    @media only screen and (min-width: 468px)
                        margin-right: 25px
                    @media only screen and (min-width: 992px)
                        margin-right: 37px
                &.active
                    border-color: $basecolor2
        .carousel-item
            position: relative
            z-index: 1
            background-color: $black
            height: calc(var(--app-height) - 45px)
            @media only screen and (min-height: 800px)
                height: calc(var(--app-height) - 150px)
            @media only screen and (max-width: 992px)
                min-height: 260px
                height: calc(var(--app-height) - 250px)
            @media (orientation: landscape)
                min-height: 400px
            &::before
                content: ""
                position: absolute
                left: 0
                top: 0
                height: 100%
                width: 100%
                background: rgba(28, 28, 28, 0.40)
                z-index: 0
            .bnrSldImg
                @include imgFit
            .container
                position: absolute
                left: 0
                right: 0
                margin: auto
                z-index: 1
                bottom: 70px
                @media only screen and (min-width: 576px)
                    bottom: 120px
            .carousel-caption
                position: unset
                padding: 0
                width: 100%
                text-align: left
                max-width: 455px
                padding-right: 26px
                @media only screen and (min-width: 576px)
                    padding-right: 0
                @media only screen and (min-width: 1200px)
                    max-width: 595px
                @media only screen and (min-width: 1551px)
                    max-width: 700px
                .bnrMainHd
                    line-height: normal
                    font-weight: 700
                    color: $white
                    font-family: $fontstack2
                    margin: 0
                    margin-bottom: 15px
                    font-size: 32px
                    @media only screen and (min-width: 468px)
                        font-size: 38px
                    @media only screen and (min-width: 576px)
                        font-size: 48px
                    @media only screen and (min-width: 1200px)
                        font-size: 64px
                    @media only screen and (min-width: 1551px)
                        font-size: 90px
                .bnrSubHd
                    line-height: normal
                    color: $white
                    font-weight: 500
                    font-size: 14px
                    margin: 0
                    @media only screen and (min-width: 468px)
                        font-weight: 600
                        font-size: 16px
                    @media only screen and (min-width: 576px)
                        font-size: 18px
                    @media only screen and (min-width: 1200px)
                        font-size: 20px
                    @media only screen and (min-width: 1551px)
                        font-size: 28px

// WELCOME SECTION
#welSec
    padding: 45px 0
    @media only screen and (min-width: 468px)
        padding: 55px 0
    @media only screen and (min-width: 576px)
        padding: 75px 0
    @media only screen and (min-width: 768px)
        padding: 95px 0
    .FlxTitleWrp
        margin-bottom: 0px
    .MoreBtn
        background: rgba(255, 190, 0, 0.10)
        @media only screen and (min-width: 468px)
            padding: 5px 20px
        @media only screen and (min-width: 1200px)
            width: 195px
            padding: 22px
            flex-wrap: wrap-reverse
            height: 100%
            // height: 155px
        @media only screen and (min-width: 1551px)
            // height: 195px
        svg
            @media only screen and (min-width: 1200px)
                margin-bottom: 10px
        .Txt
            @media only screen and (min-width: 1200px)
                padding-right: 0px
                width: 100%
        &:hover
            background: $basecolor
            svg
                fill: #fff
            .Txt
                color: #fff

#AbtVideoSec
    .VidPoster
        position: relative
        height: 345px
        @media only screen and (min-width: 576px)
            height: 320px
        @media only screen and (min-width: 768px)
            height: 385px
        @media only screen and (min-width: 992px)
            height: 445px
        @media only screen and (min-width: 1200px)
            height: 515px
        @media only screen and (min-width: 1551px)
            height: 615px
        &::after
            content: ""
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            z-index: 0
            opacity: 0.80
            background: rgb(0,0,0)
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0.7399334733893557) 0%, rgba(0,0,0,0) 100%)
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7399334733893557) 0%, rgba(0,0,0,0) 100%)
            background: linear-gradient(0deg, rgba(0,0,0,0.7399334733893557) 0%, rgba(0,0,0,0) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1)
            height: 100%
            @media only screen and (min-width: 992px)
                height: 275px
        img
            @include imgFit
        .BoxFooter
            display: flex
            align-items: center
            justify-content: space-between
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            z-index: 1
            height: 100%
            align-items: end
            justify-content: center
            padding: 30px 15px
            @media only screen and (min-width: 468px)
                padding: 40px 20px
            @media only screen and (min-width: 768px)
                padding: 40px 30px
            @media only screen and (min-width: 992px)
                justify-content: space-between
                height: auto
            @media only screen and (min-width: 1200px)
                padding: 40px 60px
            .PlayBtn
                font-weight: 500
                color: #fff
                text-transform: uppercase
                font-family: $fontstack2
                position: absolute
                top: 45px
                left: 50%
                transform: translateX(-50%)
                font-size: 12px
                @media only screen and (min-width: 468px)
                    font-size: 14px
                @media only screen and (min-width: 576px)
                    top: 36%
                    transform: translate(-50%, -50%)
                @media only screen and (min-width: 768px)
                    top: 45%
                    font-size: 17px
                @media only screen and (min-width: 992px)
                    position: unset
                    transform: none
                    display: flex
                    align-items: center
                @media only screen and (min-width: 1200px)
                    font-size: 20px
                @media only screen and (min-width: 1551px)
                    font-size: 26px
                .Round
                    width: 55px
                    margin: auto
                    margin-bottom: 18px
                    @media only screen and (min-width: 768px)
                        margin-bottom: 23px
                    @media only screen and (min-width: 992px)
                        margin-bottom: 0px
                        margin-right: 23px
                    @media only screen and (min-width: 1551px)
                        width: 65px
                        margin-right: 30px
                .Icon
                    position: relative
                    &::before, &::after
                        content: ""
                        background: rgba(255, 190, 0, 0.2)
                        border-radius: 50%
                        position: absolute
                        top: 0
                        left: 0
                        height: 100%
                        width: 100%
                        -webkit-animation: smallScale 3s infinite
                        animation: smallScale 3s infinite
                        @keyframes smallScale
                            0%
                                transform: scale(1)
                                opacity: 1

                            100%
                                transform: scale(1.5)
                                opacity: 0

                    &::after
                        -webkit-animation-delay: 0.5s
                        animation-delay: 0.5s
                    svg
                        position: relative
                        z-index: 1
            .CounterGrid
                width: 100%
                margin: -10px
                @include display
                @media only screen and (min-width: 576px)
                    margin: 0 -10px
                @media only screen and (min-width: 992px)
                    margin: 0 -35px
                    width: auto
                >*
                    font-family: $fontstack2
                    font-weight: 500
                    text-align: center
                    padding: 10px
                    width: calc(100% / 2)
                    @media only screen and (min-width: 576px)
                        padding: 0 10px
                        width: calc(100% / 4)
                    @media only screen and (min-width: 992px)
                        padding: 0 35px
                        width: fit-content
                        width: -moz-fit-content
                        text-align: left
                .CountFlx
                    display: flex
                    align-items: center
                    color: $basecolor2
                    justify-content: center
                    margin-bottom: 5px
                    font-size: 26px
                    @media only screen and (min-width: 468px)
                        font-size: 32px
                    @media only screen and (min-width: 768px)
                        font-size: 36px
                    @media only screen and (min-width: 992px)
                        justify-content: start
                    @media only screen and (min-width: 1200px)
                        font-size: 42px
                    @media only screen and (min-width: 1551px)
                        font-size: 48px
                .Txt
                    color: #fff
                    white-space: nowrap
                    font-size: 14px
                    @media only screen and (min-width: 468px)
                        font-size: 15px
                    @media only screen and (min-width: 1200px)
                        font-size: 17px
                    @media only screen and (min-width: 1551px)
                        font-size: 20px

#OurQuality
    padding: 45px 0 20px
    @media only screen and (min-width: 468px)
        padding: 55px 0 25px
    @media only screen and (min-width: 576px)
        padding: 75px 0 30px
    @media only screen and (min-width: 768px)
        padding: 95px 0 40px
    @media only screen and (min-width: 992px)
        padding: 115px 0 50px
    @media only screen and (min-width: 1551px)
        padding: 145px 0 50px
    .QualityFlx
        display: grid
        position: relative
        overflow: hidden
        @media only screen and (min-width: 640px)
            margin: 0 32.5px
        @media only screen and (min-width: 768px)
            margin: 0 45px
        @media only screen and (min-width: 992px)
            margin: 0
            grid-template-columns: 430px 1fr 430px
            padding: 45px 0px
        @media only screen and (min-width: 1200px)
            grid-template-columns: 470px 1fr 470px
            padding: 45px 30px
        @media only screen and (min-width: 1551px)
            grid-template-columns: 550px 1fr 550px
            padding: 60px

        .GridItm
            .GridFlx
                height: 100%
                @media only screen and (min-width: 500px)
                    display: grid
                    grid-template-columns: repeat(2, 1fr)
                    grid-template-rows: repeat(2, 1fr)
            &:not(.ImgGrid)
                z-index: 1
                @media only screen and (min-width: 992px)
                    grid-row: 1
            &.ImgGrid
                display: none
                @media only screen and (min-width: 500px)
                    display: block
                    position: absolute
                    width: 100%
                    z-index: 0
                    top: 50%
                    height: 50%
                    transform: translateY(-50%)
                @media only screen and (min-width: 992px)
                    top: 0
                    height: auto
                    transform: none
                    position: relative
                    grid-row-start: 1
                    grid-column-start: 1
                    grid-column-end: span 2
                    width: calc(100% - 10px)
                    left: 225px
                @media only screen and (min-width: 1200px)
                    left: 244px
                @media only screen and (min-width: 1551px)
                    left: 285px
                img
                    @include imgFit
                .GridShape
                    position: absolute
                    width: 65px
                    height: 65px
                    @media only screen and (min-width: 768px)
                        width: 90px
                        height: 90px
                    @media only screen and (min-width: 1551px)
                        width: 120px
                        height: 120px
                    &.Shape1
                        top: -32.5px
                        left: -32.5px
                        @media only screen and (min-width: 768px)
                            top: -45px
                            left: -45px
                        @media only screen and (min-width: 1551px)
                            top: -60px
                            left: -60px
                    &.Shape2
                        right: -45px
                        bottom: -45px
                        @media only screen and (min-width: 1551px)
                            right: -60px
                            bottom: -60px
                    #Rectangle1
                        fill: #ffbe00
                    #Rectangle2
                        fill: #006b8e
            &.lft
                @media only screen and (min-width: 992px)
                    padding-top: 60px
                    grid-column: span 1 / -3
                .GridFlx
                    .Box
                        &:nth-child(1)
                            grid-column: 1/2
                            @media only screen and (min-width: 992px)
                                grid-column: 1/4
                        &:nth-child(2)
                            grid-column: 2/2
                            @media only screen and (min-width: 992px)
                                grid-column: 3/4
                        &:nth-child(3)
                            grid-column: 3/2
                            @media only screen and (min-width: 992px)
                                grid-column: 4/4
            &.rit
                @media only screen and (min-width: 992px)
                    padding-bottom: 60px
                .GridFlx
                    .Box
                        &:nth-child(1)
                            grid-column: 1/2
                        &:nth-child(2)
                            grid-column: 2/2
                            grid-row: 2/2

    .Box
        background: #fff
        width: 100%
        padding: 30px 10px 15px
        text-align: center
        @media only screen and (min-width: 500px)
            text-align: left
            padding: 30px 25px 15px
        @media only screen and (min-width: 1551px)
            padding: 30px 30px 15px
        .Icon
            margin-bottom: 20px
            img
                max-width: 40px
                @media only screen and (min-width: 500px)
                    max-width: 45px
                @media only screen and (min-width: 768px)
                    max-width: 60px
        .Title
            font-weight: 600
            color: #1C1C1C
            margin-bottom: 8px
            font-family: $fontstack2
            font-size: 17px
            br
                display: none
            @media only screen and (min-width: 500px)
                margin-bottom: 15px
                br
                    display: block
            @media only screen and (min-width: 768px)
                font-size: 20px
            @media only screen and (min-width: 1551px)
                font-size: 22px
        .Info
            color: #000000
            line-height: 20px
            font-size: 14px
            @media only screen and (min-width: 768px)
                line-height: 22px
                font-size: 16px
            @media only screen and (min-width: 1551px)
                line-height: 24px
                font-size: 18px

#OurDepartments
    padding: 20px 0
    @media only screen and (min-width: 468px)
        padding: 25px 0
    @media only screen and (min-width: 576px)
        padding: 30px 0
    @media only screen and (min-width: 768px)
        padding: 40px 0
    @media only screen and (min-width: 992px)
        padding: 50px 0
    .FlxTitleWrp
        .FlxTitle
            align-items: center
    .sp-container
        padding-left: 15px

#OurFeatures
    padding: 20px 0
    @media only screen and (min-width: 468px)
        padding: 25px 0
    @media only screen and (min-width: 576px)
        padding: 30px 0
    @media only screen and (min-width: 768px)
        padding: 40px 0
    @media only screen and (min-width: 992px)
        padding: 50px 0

#PackagesSec
    padding: 20px 0 40px
    @media only screen and (min-width: 468px)
        padding: 25px 0 50px
    @media only screen and (min-width: 576px)
        padding: 30px 0 60px
    @media only screen and (min-width: 768px)
        padding: 40px 0 80px
    @media only screen and (min-width: 992px)
        padding: 50px 0 100px

    .PackageBox
        display: block
        .ImgBox
            overflow: hidden
            background: $basecolor
            img
                transform-origin: center
                transition: all .5s
                @include imgFit
        .Info
            padding: 20px 0 25px
            color: #000000
            font-size: 15px
            line-height: 20px
            @media only screen and (min-width: 768px)
                font-size: 16px
                line-height: 24px
                padding: 30px 0 35px
            @media only screen and (min-width: 992px)
                font-size: 18px
                line-height: 26px
            @media only screen and (min-width: 1551px)
                font-size: 22px
                line-height: 28px
        &:hover
            .ImgBox
                img
                    opacity: 0.8
                    transform: scale(1.2)

#HappyToHelp
    background: #000
    img
        opacity: 0.70
    .container
        display: flex
        justify-content: flex-end
    .CntnBoxWrpr
        width: 100%
        padding-top: 80px
        max-width: 100%
        @media only screen and (min-width: 468px)
            padding-top: 165px
        @media only screen and (min-width: 768px)
            max-width: 540px
            padding-top: 110px
        @media only screen and (min-width: 992px)
            padding-top: 165px
            max-width: 600px
        @media only screen and (min-width: 1551px)
            max-width: 700px
        .TitleWrpr
            margin-bottom: 35px
            @media only screen and (min-width: 468px)
                margin-bottom: 60px
            @media only screen and (min-width: 992px)
                margin-bottom: 80px
            @media only screen and (min-width: 1551px)
                margin-bottom: 100px
            .Title
                font-family: $fontstack2
                font-weight: 300
                color: #fff
                margin-bottom: 22px
                max-width: 460px
                font-size: 28px
                line-height: 36px
                @media only screen and (min-width: 468px)
                    font-size: 32px
                    line-height: 46px
                @media only screen and (min-width: 576px)
                    font-size: 38px
                    line-height: 48px
                @media only screen and (min-width: 768px)
                    max-width: 95%
                @media only screen and (min-width: 992px)
                    margin-bottom: 35px
                @media only screen and (min-width: 1200px)
                    font-size: 48px
                    line-height: 57px
                @media only screen and (min-width: 1551px)
                    font-size: 65px
                    line-height: 70px
            .Tagline
                color: #FFBE00
                font-size: 20px
                @media only screen and (min-width: 468px)
                    font-size: 22px
                @media only screen and (min-width: 768px)
                    font-size: 24px
                @media only screen and (min-width: 992px)
                    font-size: 28px
                @media only screen and (min-width: 1551px)
                    font-size: 30px
        .ActionWrpr
            @include display
            .Box
                width: 100%
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                position: relative
                overflow: hidden
                padding: 15px 12px 15px 15px
                @media only screen and (max-width: 468px)
                    &:nth-child(1), &:nth-child(2)
                        width: 50%
                @media only screen and (min-width: 468px)
                    width: calc(100% / 3)
                    padding: 25px 20px 30px 25px
                @media only screen and (min-width: 1551px)
                    padding: 35px 35px 30px 30px
                &::before
                    content: ''
                    position: absolute
                    z-index: 0
                    top: 0
                    bottom: 0
                    width: 100%
                    background: $basecolor3
                    -webkit-transform: scaleY(0)
                    -ms-transform: scaleY(0)
                    transform: scaleY(0)
                    -webkit-transition: -webkit-transform 0.3s ease
                    transition: -webkit-transform 0.3s ease
                    transition: transform 0.3s ease
                    transition: transform 0.3s ease, -webkit-transform 0.3s ease
                    left: 0
                    -webkit-transform-origin: top
                    -ms-transform-origin: top
                    transform-origin: top
                span
                    position: relative
                    z-index: 1
                #Arrow
                    fill: $basecolor2
                    margin: auto
                    margin-right: 0
                    transition: all .3s
                    transform: rotate(0deg)
                    position: relative
                    z-index: 1
                    width: 22px
                    height: 22px
                    margin-bottom: 20px
                    @media only screen and (min-width: 468px)
                        width: 30px
                        height: 30px
                        margin-bottom: 30px
                    @media only screen and (min-width: 992px)
                        margin-bottom: 45px
                    @media only screen and (min-width: 1200px)
                        width: 32px
                        height: 32px
                    @media only screen and (min-width: 1551px)
                        width: 40px
                        height: 40px

                .Txt
                    font-weight: 600
                    color: #1C1C1C
                    width: 100%
                    position: relative
                    z-index: 1
                    font-size: 18px
                    line-height: 24px
                    @media only screen and (min-width: 468px)
                        font-size: 20px
                        line-height: 24px
                    @media only screen and (min-width: 768px)
                        font-size: 22px
                        line-height: 26px
                    @media only screen and (min-width: 992px)
                        font-size: 24px
                        line-height: 28px
                    @media only screen and (min-width: 1551px)
                        font-size: 28px
                        line-height: 33px
                &.Bg1
                    background: $basecolor
                    .Txt
                        color: #fff
                &.Bg2
                    background: $basecolor2
                    #Arrow
                        fill: #000000
                &.Bg3
                    background: $white
                &:hover
                    &::before
                        -webkit-transform-origin: bottom
                        -ms-transform-origin: bottom
                        transform-origin: bottom
                        -webkit-transform: scaleY(1)
                        -ms-transform: scaleY(1)
                        transform: scaleY(1)
                    #Arrow
                        fill: #fff
                        transform: rotate(60deg)
                    .Txt
                        color: #fff

#DualSec
    padding: 60px 0 60px
    @media only screen and (min-width: 992px)
        padding: 80px 0 80px
    @media only screen and (min-width: 1200px)
        padding: 125px 0 150px
    .secTitleWrap
        @media only screen and (min-width: 992px)
            margin-bottom: 45px
    .FlxRow
        @include display
        .lSide
            width: 100%
            margin-bottom: 50px
            @media only screen and (min-width:992px)
                width: 60%
                padding-right: 50px
                margin-bottom: 0
            @media only screen and (min-width:1441px)
                width: calc(100% - 590px)
                padding-right: 50px
            .GalGrid
                margin: -1px
                @media only screen and (min-width:576px)
                    margin: -5px
                @include display
                .GalItm
                    padding: 1px
                    @media only screen and (min-width:576px)
                        padding: 5px
                    a
                        display: flex
                        width: 100%
                        height: 100%
                        position: relative
                        img
                            background: #1C1C1C
                            transition: all .3s
                            @include imgFit
                        &:not(.GalBtnBox)
                            &:hover
                                img
                                    opacity: 0.70
                        .video-icon
                            position: absolute
                            top: 0
                            left: 0
                            width: 100%
                            height: 100%
                            opacity: 1
                            background: rgb(0 0 0 / 33%)
                            transition: all .3s ease
                            svg
                                margin: 0
                                padding: 0
                                position: absolute
                                top: 50%
                                left: 50%
                                transform: translate(-50%, -50%)
                                text-align: center
                                width: 42px
                                @media only screen and (min-width: 468px)
                                    width: 42px
                                @media only screen and (min-width: 1551px)
                                    width: 55px
                            &:hover
                                svg
                                    box-shadow: 0 0 0 rgba(204,169,44, 0.4)
                                    animation: pulse 2s infinite
                                    width: 42px
                                    border-radius: 50%
                                    @media only screen and (min-width: 468px)
                                        width: 42px
                                    @media only screen and (min-width: 1551px)
                                        width: 55px
                                    @keyframes pulse
                                        0%
                                            -moz-box-shadow: 0 0 0 0 #ffffffbb
                                            box-shadow: 0 0 0 0 #ffffffbb
                                        70%
                                            -moz-box-shadow: 0 0 0 20px #ffffff00
                                            box-shadow: 0 0 0 20px #ffffff00
                                        100%
                                            -moz-box-shadow: 0 0 0 0 #ffffff00
                                            box-shadow: 0 0 0 0 #ffffff00

                .GalRow
                    @include display
                    width: 100%
                .GalRow1
                    .GalItm
                        width: calc(100% / 3)
                .GalRow2
                    .GalItm
                        width: calc(100% / 3)
                        @media only screen and (min-width:576px)
                            width: calc(100% / 2)
                        &.pad0
                            padding: 0
                            width: calc(100% - (100% / 3))
                            @media only screen and (min-width:576px)
                                width: calc(100% / 2)
                .GalItmRow
                    width: 100%
                    height: 100%
                    @include display
                    .GalItm
                        width: calc(100% / 2)
            .GalBtnBox
                width: 100%
                flex-wrap: wrap
                justify-content: space-between
                padding: 20px 16px
                position: relative
                overflow: hidden
                background: $basecolor2
                @media only screen and (min-width:576px)
                    padding: 30px 25px 30px 25px
                &::before
                    content: ''
                    position: absolute
                    z-index: 0
                    top: 0
                    bottom: 0
                    width: 100%
                    background: $basecolor
                    -webkit-transform: scaleY(0)
                    -ms-transform: scaleY(0)
                    transform: scaleY(0)
                    -webkit-transition: -webkit-transform 0.3s ease
                    transition: -webkit-transform 0.3s ease
                    transition: transform 0.3s ease
                    transition: transform 0.3s ease, -webkit-transform 0.3s ease
                    left: 0
                    -webkit-transform-origin: top
                    -ms-transform-origin: top
                    transform-origin: top
                span
                    position: relative
                    z-index: 1
                #Arrow
                    width: 30px
                    height: 30px
                    fill: $black
                    margin: auto
                    margin-right: 0
                    margin-bottom: 20px
                    transition: all .3s
                    transform: rotate(0deg)
                    position: relative
                    z-index: 1
                    @media only screen and (min-width:576px)
                        margin-bottom: 45px
                        width: 40px
                        height: 40px
                .Txt
                    font-size: 16px
                    line-height: 20px
                    font-weight: 600
                    color: #1C1C1C
                    width: 100%
                    position: relative
                    z-index: 1
                    @media only screen and (min-width:576px)
                        font-size: 20px
                        line-height: 25px
                &:hover
                    &::before
                        -webkit-transform-origin: bottom
                        -ms-transform-origin: bottom
                        transform-origin: bottom
                        -webkit-transform: scaleY(1)
                        -ms-transform: scaleY(1)
                        transform: scaleY(1)
                    #Arrow
                        fill: #fff
                        transform: rotate(60deg)
                    .Txt
                        color: #fff
        .RSide
            width: 100%
            @media only screen and (min-width:992px)
                width: 40%
            @media only screen and (min-width:1441px)
                width: 590px
            .newsSlide
                margin: 0 -10px
                @media only screen and (min-width:992px)
                    margin: 0
                    margin-top: -20px
                @media only screen and (min-width:1300px)
                    margin-top: -30px
                .item
                    padding-left: 10px
                    padding-right: 10px
                    @media only screen and (min-width:992px)
                        padding-left: 0
                        padding-right: 0
            .NewsBox
                display: flex
                flex-wrap: wrap
                padding-bottom: 10px
                margin-bottom: 0px
                border-bottom: 1px solid #E6E6E6
                @media only screen and (min-width:468px)
                    padding-bottom: 15px
                    margin-top: 5px
                @media only screen and (min-width:992px)
                    padding-bottom: 25px
                    margin-top: 20px
                @media only screen and (min-width:1300px)
                    padding-bottom: 30px
                    margin-top: 30px
                .Lft_News
                    width: 100%
                    height: 100%
                    max-height: 200px
                    overflow: hidden
                    margin-bottom: 15px
                    @media only screen and (min-width:468px)
                        height: 180px
                        max-height: 100%
                    @media only screen and (min-width:768px)
                        height: 160px
                    @media only screen and (min-width:992px)
                        width: 120px
                        height: 120px
                        margin-bottom: 0
                    @media only screen and (min-width:1200px)
                        width: 190px
                        height: 140px
                    .Img_Box
                        width: 100%
                        height: 100%
                        overflow: hidden
                        @media only screen and (min-width:992px)
                            height: 100%
                        img
                            -webkit-transition: .6s ease-in-out
                            transition: .6s ease-in-out
                            @include imgFit
                .Rgt_News
                    width: 100%
                    @media only screen and (min-width:992px)
                        width: calc(100% - 120px)
                        padding-left: 15px
                    @media only screen and (min-width:1200px)
                        width: calc(100% - 190px)
                    .SubTitle
                        font-size: 14px
                        font-weight: 700
                        line-height: 23px
                        color: $text
                        margin-bottom: 10px !important
                        font-family: $fontstack2
                        -webkit-line-clamp: 2
                        -webkit-box-orient: vertical
                        overflow: hidden
                        text-overflow: ellipsis
                        display: block
                        display: -webkit-box
                        -webkit-transition: all .5s ease-out
                        -moz-transition: all .5s ease-out
                        -ms-transition: all .5s ease-out
                        -o-transition: all .5s ease-out
                        transition: all .5s ease-out
                        @media only screen and (min-width: 468px)
                            font-size: 15px
                            margin-bottom: 20px
                        @media only screen and (min-width: 768px)
                            font-size: 16px
                        @media only screen and (min-width: 992px)
                            font-size: 17px
                        @media only screen and (min-width: 1200px)
                            font-size: 20px
                            line-height: 24px
                    .SubDisc
                        color: $black
                        -webkit-line-clamp: 2
                        -webkit-box-orient: vertical
                        overflow: hidden
                        text-overflow: ellipsis
                        display: block
                        display: -webkit-box
                        margin-bottom: 10px
                    .News-flxbx
                        display: flex
                        align-items: center
                        justify-content: space-between
                        .News-dtl-date
                            font-size: 12px
                            font-weight: 600
                            color: $text
                            @media only screen and (min-width: 468px)
                                font-size: 13px
                            @media only screen and (min-width: 768px)
                                font-size: 14px
                            @media only screen and (min-width: 992px)
                                font-size: 15px
                            @media only screen and (min-width: 1200px)
                                font-size: 18px
                        .News-dtl-tag
                            font-size: 12px
                            font-weight: 600
                            color: $hover
                            -webkit-transition: all .5s ease-out
                            -moz-transition: all .5s ease-out
                            -ms-transition: all .5s ease-out
                            -o-transition: all .5s ease-out
                            transition: all .5s ease-out
                            @media only screen and (min-width: 468px)
                                font-size: 13px
                            @media only screen and (min-width: 768px)
                                font-size: 14px
                            @media only screen and (min-width: 992px)
                                font-size: 15px
                            @media only screen and (min-width: 1200px)
                                font-size: 18px
                            &.clrBase
                                color: $basecolor
                &:hover
                    .Lft_News
                        .Img_Box
                            img
                                -webkit-transform: scale(1.1)
                                transform: scale(1.1)
                    .Rgt_News
                        .SubTitle
                            color: $basecolor2
                        .News-flxbx
                            .News-dtl-tag
                                color: $basecolor
