//insurancePage
/************** ******* **************/
/************* insurancePage *************/
/************** ******* **************/
#insurcCntSec
    padding-top: 40px
    padding-bottom: 40px
    position: relative
    @include mq('phablet')
        padding-top: 60px
        padding-bottom: 60px
    @include mq('tablet-lg')
        padding-top: 80px
        padding-bottom: 80px
    @include mq('desktop')
        padding-top: 120px
        padding-bottom: 120px
    .designBxElemntOuter
        position: absolute
        top: 40px
        left: auto
        right: 2vw
        z-index: -1
        -webkit-animation: blinkAnim 12s ease infinite
        animation: blinkAnim 12s ease infinite
        @include mq('tablet-lg')
            left: 2vw
            right: auto
        &.rgt
            left: auto
            right: 2vw
            top: auto
            bottom: 0
            @include mq('tablet-lg')
                bottom: 60px
        .elementOne
            width: 26px
            height: 26px
            background-color: $basecolor2
        .elementTwo
            width: 26px
            height: 26px
            background-color: $basecolor
            margin-left: 26px
    &>.container>.row
        align-items: center
    .contentBx
        .secTitleWrap
            @include mq('tablet-lg')
                margin-bottom: 15px
        p
            margin-bottom: 15px
    .contntImg
        width: 100%
        max-width: 100%
        max-height: 400px
        overflow: hidden
        @include mq('tablet-lg')
            max-width: 560px
            margin-left: auto
            height: auto
        img
            @include imgFit
    
#insurcPrtnrSec
    background-color: #F8F9FB
    padding-top: 40px
    padding-bottom: 40px
    @include mq('phablet')
        padding-top: 60px
        padding-bottom: 60px
    @include mq('tablet-lg')
        padding-top: 80px
        padding-bottom: 80px
    @include mq('desktop')
        padding-top: 100px
        padding-bottom: 100px
    .secTitleWrap
        margin-bottom: 15px
    .insurcPrtnrCarousel
        justify-content: center
        @include display
        .item
            border: 1px solid #EBEBEB
            background-color: $white
            padding: 14px 20px
            height: 60px
            width: calc( 100% / 2 )
            @include mq('tablet')
                width: calc( 100% / 3 )
                padding: 25px 40px
                height: 100px
            @include mq('tablet-lg')
                width: calc( 100% / 4 )
                height: 140px
                padding: 46px
            img
                width: 100%
                height: 100%
                object-fit: contain



