//international Patients
/************** ******* **************/
/************* international Patients *************/
/************** ******* **************/
.internationalPatientsPage
    .treatCard
        width: 100%
        height: auto
        border: 1px solid #E6E6E6
        background-color: $white
        overflow: hidden
        -webkit-backface-visibility: hidden
        backface-visibility: hidden
        -moz-osx-font-smoothing: grayscale
        position: relative
        -webkit-transition: color 400ms
        transition: color 400ms
        -webkit-transform: translateZ(0)
        transform: translateZ(0)
        display: inline-block
        &:before
            content: ""
            position: absolute
            z-index: -1
            top: 0
            right: 0
            background: #FFF1C7
            border-radius: 100%
            -webkit-transform: scale(0)
            transform: scale(0)
            -webkit-transition-property: transform
            transition-property: transform
            -webkit-transition: 400ms ease-out
            transition: 400ms ease-out
            width: 10px
            height: 10px
        &:hover
            .cIcon
                .iconBg
                    svg
                        -webkit-transform: scale(1.3)
                        transform: scale(1.3)
                img
                    transform: translateX(-4px)
                    @include mq('phablet')
                        transform: translateX(-10px)
            &:before
                width: 100%
                height: 100%
                -webkit-transform: scale(2)
                transform: scale(2)
        .cIcon
            width: 100%
            height: auto
            padding-left: 15px
            padding-right: 15px
            position: relative
            z-index: 1
            @include display
            @include mq('tablet')
                padding-left: 30px
                padding-right: 30px
            .iconBg
                position: absolute
                top: 0
                right: 0
                z-index: -1
                svg
                    max-width: 260px
                    max-height: 180px
                    fill: #FFF1C7
                    -webkit-transition: 400ms ease-out
                    transition: 400ms ease-out
                    @include mq('phablet')
                        max-width: 320px
                        max-height: 220px
            .cNmbr
                position: absolute
                bottom: 0
                left: 20px
                z-index: 1
                font-size: 20px
                color: $white
                font-weight: 500
                font-family: $fontstack2
                background-color: $basecolor
                padding: 8px
                transform: translateY(50%)
                @include mq('tablet')
                    left: 40px
                    font-size: 30px
            img
                width: 200px
                height: 160px
                margin-left: auto
                margin-top: 20px
                -webkit-transition-property: transform
                transition-property: transform
                -webkit-transition: 400ms ease-out
                transition: 400ms ease-out
                @include mq('phablet')
                    width: 240px
                    height: 180px
                @include mq('tablet-lg')
                    margin-top: 30px
        .cCnt
            padding: 30px 20px
            position: relative
            z-index: 2
            @include mq('tablet')
                padding: 50px 40px
            @include mq('tablet-lg')
                padding: 50px 25px 25px 25px
            @include mq('desktop')
                padding: 50px 40px
            .cTle
                color: $text
                margin-bottom: 10px
                font-weight: 500
                font-family: $fontstack2
                line-height: 1.3
                @include mq('tablet')
                    margin-bottom: 20px
                @include mq('tablet-lg')
                    font-size: 30px
            p
                color: $text
                line-height: 1.6
                margin-bottom: 0
                @include mq('tablet-lg')
                    font-size: 18px
    .inrCntSec
        padding-top: 40px
        padding-bottom: 40px
        @include mq('phablet')
            padding-bottom: 60px
            padding-top: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 110px
            padding-bottom: 110px
    #treatmentSec
        padding-top: 40px
        padding-bottom: 40px
        @include mq('phablet')
            padding-bottom: 60px
            padding-top: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 100px
            padding-bottom: 100px
        .treatItemWrap
            .item
                &:nth-child(1)
                    .treatCard
                        &:before
                            background-color: #FFF1C7
                        .cIcon
                            .iconBg
                                svg
                                    fill: #FFF1C7
                &:nth-child(2)
                    .treatCard
                        &:before
                            background-color: #EEE6D8
                        .cIcon
                            .iconBg
                                svg
                                    fill: #EEE6D8
                &:nth-child(3)
                    .treatCard
                        &:before
                            background-color: #C7DEE6
                        .cIcon
                            .iconBg
                                svg
                                    fill: #C7DEE6
    #schedulingAppoiSec
        .treatCard.largeCard
            max-width: 760px
            &:before
                top: auto
                bottom: 0
            .cCnt
                padding: 30px 20px
                @include mq('desktop')
                    padding: 70px 70px 40px 70px
                .cTle
                    font-weight: 700
                    @include mq('tablet-lg')
                        font-size: 40px
            .cIcon
                padding-right: 15px
                @include mq('tablet')
                    padding-right: 70px
                .iconBg
                    -webkit-transform: scaleY(-1)
                    transform: scaleY(-1)
                    svg
                        width: 260px
                        height: 180px
                        max-width: 475px
                        max-height: 320px
                        @include mq('phablet')
                            width: 475px
                            height: 320px
                img
                    width: 200px
                    height: 160px
                    margin-top: 0
                    margin-bottom: 20px
                    @include mq('phablet')
                        width: 300px
                        height: 260px
                    @include mq('tablet-lg')
                        margin-top: 0
                        margin-bottom: 60px
        .formOuter
            width: 100%
            height: 100%
            padding: 40px 20px
            background-color: #F8F9FB
            align-items: center
            @include display
    #visaTravelcntSec
        .treatCard.largeCard
            flex-direction: column-reverse
            @include display
            @include mq('tablet-lg')
                flex-direction: row
            &::before
                background-color: #EEE6D8
            .cCnt
                width: 100%
                padding: 20px 15px
                @include mq('phablet')
                    padding: 30px 15px 30px 40px
                @include mq('tablet-lg')
                    width: 65%
                @include mq('desktop')
                    padding: 80px 15px 80px 80px
                .cTle
                    font-weight: 700
                    @include mq('tablet-lg')
                        font-size: 32px
                    @include mq('desktop')
                        font-size: 40px
            .cIcon
                padding-left: 0
                width: 100%
                @include mq('tablet-lg')
                    width: 35%
                .iconBg
                    svg
                        fill: #EEE6D8
                        width: 260px
                        height: 174px
                        max-width: 505px
                        max-height: 340px
                        @include mq('phablet')
                            width: 505px
                            height: 340px
                img
                    width: 200px
                    height: 160px
                    @include mq('phablet')
                        width: 380px
                        height: 300px
    #facilitiesSec
        .treatItemWrap
            .item
                &:nth-child(1)
                    .treatCard
                        &:before
                            background-color: #C7DEE6
                        .cIcon
                            .iconBg
                                svg
                                    fill: #C7DEE6
                &:nth-child(2)
                    .treatCard
                        &:before
                            background-color: #FFF1C7
                        .cIcon
                            .iconBg
                                svg
                                    fill: #FFF1C7
                &:nth-child(3)
                    .treatCard
                        &:before
                            background-color: #EEE6D8
                        .cIcon
                            .iconBg
                                svg
                                    fill: #EEE6D8
        .treatCard
            height: 100%
            .cCnt
                @include mq('tablet')
                    padding: 50px 40px
                @include mq('tablet-lg')
                    padding: 50px 25px 25px 25px
                @include mq('desktop')
                    padding: 50px 36px

