//laboratoryServicesPage
/************** ******* **************/
/************* laboratoryServicesPage *************/
/************** ******* **************/
.laboratoryServicesPage
    #labIntroSec
        padding-top: 40px
        padding-bottom: 40px
        position: relative
        @include mq('phablet')
            padding-bottom: 60px
            padding-top: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 120px
            padding-bottom: 120px
        .designBxElemntOuter
            position: absolute
            left: auto
            right: 2vw
            z-index: -1
            -webkit-animation: blinkAnim 12s ease infinite
            animation: blinkAnim 12s ease infinite
            @include mq('tablet-lg')
                left: 2vw
                right: auto
            .elementOne
                width: 26px
                height: 26px
                background-color: $basecolor2
            .elementTwo
                width: 26px
                height: 26px
                background-color: $basecolor
                margin-left: 26px
        .contentBx
            max-width: 100%
            @include mq('tablet-lg')
                max-width: 550px
            .secTitleWrap
                @include mq('tablet-lg')
                    margin-bottom: 35px
            p
                line-height: 1.6
                text-align: justify
                margin-bottom: 10px
                @include mq('desktop-lg')
                    font-size: 20px
        .contntImg
            img
                max-height: 320px
                @include imgFit                
                @include mq('tablet-lg')
                    max-height: 100%
    #labServiceSec
        padding-top: 40px
        padding-bottom: 40px
        background-color: #F8F9FB
        @include mq('phablet')
            padding-bottom: 60px
            padding-top: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 120px
            padding-bottom: 120px
        .labServiceWrap
            @include display
            .lftBx
                width: 100%
                @include display
                @include mq('tablet-lg')
                    width: 75%
                .servCard
                    width: calc( 100% / 2 )
                    height: 160px
                    padding: 20px
                    justify-content: flex-end
                    position: relative
                    z-index: 1
                    overflow: hidden
                    flex-direction: column
                    @include display
                    @include mq('phablet')
                        height: 200px
                        width: calc( 100% / 4 )
                    @include mq('tablet-lg')
                        height: 230px
                        padding: 30px 20px 30px 20px
                    @include mq('desktop')
                        height: 260px
                        padding: 40px 30px 40px 30px

                    .bgOp
                        position: absolute
                        pointer-events: none
                        left: 0
                        top: 0
                        height: 100%
                        width: 100%
                        background: $basecolor2
                        transform: rotate3d(1, 0, 0, 90deg)
                        z-index: -1
                    &.in-top
                        .bgOp
                            transform-origin: 50% 0%
                            -webkit-animation: in-top 300ms ease 0ms 1 forwards
                            animation: in-top 300ms ease 0ms 1 forwards

                    &.in-right
                        .bgOp
                            transform-origin: 100% 0%
                            -webkit-animation: in-right 300ms ease 0ms 1 forwards
                            animation: in-right 300ms ease 0ms 1 forwards

                    &.in-bottom
                        .bgOp
                            transform-origin: 50% 100%
                            -webkit-animation: in-bottom 300ms ease 0ms 1 forwards
                            animation: in-bottom 300ms ease 0ms 1 forwards

                    &.in-left
                        .bgOp
                            transform-origin: 0% 0%
                            -webkit-animation: in-left 300ms ease 0ms 1 forwards
                            animation: in-left 300ms ease 0ms 1 forwards

                    &.out-top
                        .bgOp
                            transform-origin: 50% 0%
                            -webkit-animation: out-top 300ms ease 0ms 1 forwards
                            animation: out-top 300ms ease 0ms 1 forwards

                    &.out-right
                        .bgOp
                            transform-origin: 100% 50%
                            -webkit-animation: out-right 300ms ease 0ms 1 forwards
                            animation: out-right 300ms ease 0ms 1 forwards

                    &.out-bottom
                        .bgOp
                            transform-origin: 50% 100%
                            -webkit-animation: out-bottom 300ms ease 0ms 1 forwards
                            animation: out-bottom 300ms ease 0ms 1 forwards

                    &.out-left
                        .bgOp
                            transform-origin: 0% 0%
                            -webkit-animation: out-left 300ms ease 0ms 1 forwards
                            animation: out-left 300ms ease 0ms 1 forwards
                    &:hover
                        box-shadow: none
                        .bIcon
                            background-color: $white
                        .bCnt
                            .mTle
                                color: $white
                            .subTle
                                color: $white
                    .cardIcon
                        margin-bottom: 12px
                        pointer-events: none
                        @include mq('tablet-lg')
                            margin-bottom: 20px
                        @include mq('desktop')
                            margin-bottom: 30px
                        img
                            width: auto
                            height: 100%
                            max-width: 60px
                            max-height: 60px
                            @include mq('desktop')
                                max-width: 90px
                                max-height: 90px
                    .cardCnt
                        pointer-events: none
                        min-height: 42px
                        @include mq('desktop')
                            min-height: 56px
                        h5
                            font-family: $fontstack2
                            font-weight: 600
                            color: $text
                            margin-bottom: 0
                            -webkit-line-clamp: 2
                            -webkit-box-orient: vertical
                            overflow: hidden
                            text-overflow: ellipsis
                            display: block
                            display: -webkit-box
                            @include mq('desktop')
                                font-size: 22px
                    &:nth-child(1)
                        background-color: transparent
                        @include mq('phablet')
                            background-color: $white
                    &:nth-child(2)
                        background-color: $white
                        @include mq('phablet')
                            background-color: transparent
                    &:nth-child(3)
                        background-color: $white
                    &:nth-child(6)
                        background-color: $white
                    &:nth-child(7)
                        background-color: $white
                        @include mq('phablet')
                            background-color: transparent
                    &:nth-child(8)
                        background-color: transparent
                        @include mq('phablet')
                            background-color: $white
            .rgtBx
                width: 100%
                position: relative
                padding: 26px
                z-index: 1
                min-height: 160px
                @include display
                @include mq('phablet')
                    min-height: 200px
                @include mq('tablet-lg')
                    width: 25%
                @include mq('desktop')
                    padding: 40px
                &::after
                    position: absolute
                    content: ""
                    bottom: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background-image: linear-gradient(to bottom, transparent, $basecolor)
                    z-index: 0
                    opacity: 1
                    transition: .8s all
                    z-index: -1
                &>img
                    position: absolute
                    top: 0
                    left: 0
                    @include imgFit
                    z-index: -1
                .cntOuter
                    margin-top: auto
                    .tleCnt
                        font-size: 32px
                        line-height: 1.2
                        font-family: $fontstack2
                        font-weight: 600
                        color: $white
                        margin-bottom: 0
                        @include mq('tablet-lg')
                            font-size: 32px
                        @include mq('desktop')
                            font-size: 40px
                        @include mq('desktop-lg')
                            font-size: 50px
    #getTouchSec
        padding-top: 40px
        padding-bottom: 0
        @include mq('phablet')
            padding-top: 60px
            padding-bottom: 20px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 120px
            padding-bottom: 120px
        .lftSide
            width: 100%
            @include mq('tablet')
                width: 30%
            @include mq('tablet-lg')
                width: 38%
            .contentBx
                max-width: 100%
                @include mq('tablet-lg')
                    max-width: 300px
                p
                    font-weight: 500
                    @include mq('tablet-lg')
                        font-size: 18px
        .rgtSide
            width: 100%
            @include mq('tablet')
                width: 70%
            @include mq('tablet-lg')
                width: 62%
        .gTouchCardWrap
            width: 100%
            @include display
            .gTouchCard
                width: 100%
                padding: 0
                margin-bottom: 40px
                @include mq('phablet')
                    width: 50%
                    padding: 10px
                    padding-right: 20px
                @include mq('desktop')
                    padding-right: 60px
                .cardIcon
                    margin-bottom: 10px
                    position: relative
                    @include display
                    @include mq('tablet')
                        margin-bottom: 20px
                    .iconBg
                        width: 46px
                        height: 46px
                        background-color: $basecolor2
                        opacity: 22%
                        position: absolute
                        bottom: 0
                        left: 15px
                    svg
                        width: 30px
                        height: 30px
                .cardCnt
                    .cntTle
                        margin-bottom: 5px
                        color: $basecolor
                        font-weight: 700
                        font-family: $fontstack2
                        @include mq('phablet')
                            margin-bottom: 10px
                    p, a
                        line-height: 1.6
                        font-weight: 500
                        font-family: $fontstack2
                        margin-bottom: 0
                        display: block
                        text-decoration: none
                        color: $black
                        word-break: break-word
                        @include mq('desktop')                        
                            font-size: 18px
                    p
                        a
                            display: inline-block
                            margin-bottom: 0
                        span
                            font-weight: 400
                            color: $basecolor
