// layout
#pageWrapper
    overflow: hidden

// BUTTON STYLE
.hoveranim
    display: flex
    align-items: center
    justify-content: center
    position: relative
    overflow: hidden
    &::before
        content: ''
        position: absolute
        z-index: 0
        top: 0
        bottom: 0
        width: 100%
        background: $basecolor2
        -webkit-transform: scaleX(0)
        -ms-transform: scaleX(0)
        transform: scaleX(0)
        -webkit-transition: -webkit-transform 0.3s ease
        transition: -webkit-transform 0.3s ease
        transition: transform 0.3s ease
        transition: transform 0.3s ease, -webkit-transform 0.3s ease
        left: 0
        -webkit-transform-origin: right
        -ms-transform-origin: right
        transform-origin: right
    span
        position: relative
        z-index: 1
    &:hover
        color: #fff
        &::before
            -webkit-transform-origin: left
            -ms-transform-origin: left
            transform-origin: left
            -webkit-transform: scaleX(1)
            -ms-transform: scaleX(1)
            transform: scaleX(1)

.owl-dots
    display: flex
    align-items: center
    justify-content: center
    margin-top: 25px
    @media only screen and (min-width: 468px)
        margin-top: 33px
    @media only screen and (min-width: 1200px)
        margin-top: 45px
    button
        border-radius: 50%
        background: rgb(32, 45, 55) !important
        opacity: 0.2
        width: 8px
        height: 8px
        transition: all .3s
        font-size: 0
        padding: 0
        border: none
        outline: none
        box-shadow: none
        margin: 0 8px
        @media only screen and (min-width: 468px)
            margin: 0 11px
        span
            display: none
        &.active
            background: $basecolor !important
            opacity: 1
.owl-nav
    display: flex
    align-items: center
    justify-content: center
    button
        opacity: 1
        width: 44px
        height: 44px
        padding: 0
        margin: 0
        font-size: 0
        transition: all .3s
        outline: none
        outline-offset: none
        position: absolute
        top: 50%
        z-index: 2
        transform: translateY(-50%)
        background-color: $white !important
        border-radius: 50%
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.06)
        -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.06)
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.06)
        @include center
        span
            display: block
            color: transparent
            width: 6px
            height: 10px
            fill: #ff0
        &.owl-prev
            left: -22px
            @media only ascreen and (min-width: 1200px)
                left: -60px
            span
                background: url( "data:image/svg+xml,%3Csvg fill='%2300a3c8' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240.2 448.2'%3E%3Cpath d='M4.7,212.7l208-208c6.2-6.3,16.4-6.3,22.6-0.1c0,0,0.1,0.1,0.1,0.1c6.3,6.2,6.3,16.4,0.1,22.6c0,0-0.1,0.1-0.1,0.1L38.7,224.1l196.8,196.6c6.3,6.3,6.3,16.4,0,22.7s-16.4,6.3-22.7,0l-208-208C-1.5,229.2-1.6,219.1,4.7,212.7C4.7,212.8,4.7,212.8,4.7,212.7z'/%3E%3C/svg%3E" ) no-repeat center !important
        &.owl-next
            right: -22px
            @media only ascreen and (min-width: 1200px)
                right: -60px
            span
                background: url( "data:image/svg+xml,%3Csvg fill='%2300a3c8' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240.2 448.2'%3E%3Cpath d='M235.5,235.4l-208,208c-6.2,6.3-16.4,6.3-22.6,0.1c0,0-0.1-0.1-0.1-0.1c-6.3-6.2-6.3-16.4-0.1-22.6c0,0,0.1-0.1,0.1-0.1l196.8-196.6L4.7,27.4c-6.3-6.3-6.3-16.4,0-22.7s16.4-6.3,22.7,0l208,208C241.7,218.9,241.8,229.1,235.5,235.4C235.5,235.4,235.5,235.4,235.5,235.4z'/%3E%3C/svg%3E" ) no-repeat center !important
        &.disabled
            display: none

// CUSTOME OWL NAVIGATION
.Navigation
    display: flex
    align-items: center
    justify-content: center
    margin: 0 -15px
    margin-top: 25px
    @media only screen and (min-width: 576px)
        margin-top: 45px
    @media only screen and (min-width: 1551px)
        margin-top: 60px
    &.lft
        justify-content: flex-start
    &.rit
        justify-content: flex-end
    .arrows
        font-family: $fontstack2
        padding: 0 15px
        position: relative
        cursor: pointer
        font-size: 18px
        transition: all .3s
        user-select: none
        -webkit-user-select: none
        @media only screen and (min-width: 992px)
            font-size: 22px
        @media only screen and (min-width: 1441px)
            font-size: 24px
        @media only screen and (min-width: 1551px)
            font-size: 26px
        &:first-child
            &::after
                content: "/"
                position: absolute
                right: -5px
                top: 0
        svg
            fill: #FFBE00
            margin-top: -3px
            width: 18px
            height: 18px
            @media only screen and (min-width: 992px)
                width: 25px
                height: 25px
            @media only screen and (min-width: 1551px)
                width: 32px
                height: 32px
        &:hover
            color: $basecolor
        &.OwlPrev
            svg
                margin-right: 10px
                @media only screen and (min-width: 992px)
                    margin-right: 18px
                @media only screen and (min-width: 1551px)
                    margin-right: 35px
        &.OwlNext
            svg
                margin-left: 10px
                @media only screen and (min-width: 992px)
                    margin-left: 18px
                @media only screen and (min-width: 1551px)
                    margin-left: 35px
// ACCORDION

// BUTTON
.btn1
    font-size: 12px
    border-radius: 5px
    margin: 0
    text-transform: capitalize
    border: 0
    letter-spacing: 0
    color: $text
    background-color: $basecolor2
    height: 38px
    font-weight: 500
    padding-left: 20px
    padding-right: 20px
    width: fit-content
    @include center
    @include mq('phablet')
        font-size: 14px
        height: 38px
        padding-left: 30px
        padding-right: 30px
    @include mq('tablet-lg')
        font-size: 16px
    .btnIcon
        fill: $basecolor
        width: 5px
        height: auto
        margin-left: 20px

// SECTION TITLE
.secTitleWrap
    margin-bottom: 20px
    @include mq('tablet-lg')
        margin-bottom: 60px
    &.center
        text-align: center
    .secTitle
        line-height: 1.3
        font-weight: 700
        margin-bottom: 10px
        color: $text
        font-family: $fontstack2
        font-size: 22px
        @include mq('phone-lg')
            font-size: 24px
        @include mq('phablet')
            font-size: 26px
        @include mq('tablet')
            font-size: 33px
            margin-bottom: 15px
        @media only screen and (min-width: 1441px)
            font-size: 36px
        @media only screen and (min-width: 1551px)
            font-size: 40px
    .secSubTitle
        color: $black
        font-weight: 400
        margin-bottom: 10px
        @media only screen and (min-width: 992px)
            font-size: 24px
            margin-bottom: 10px

.FlxTitleWrp
    margin-bottom: 30px
    @include mq('tablet-lg')
        margin-bottom: 60px
    .FlxMainTitle
        font-size: 22px
        font-weight: 600
        color: $basecolor
        margin-bottom: 10px
        @media only screen and (min-width: 992px)
            font-size: 24px
            margin-bottom: 10px
        @media only screen and (min-width: 1200px)
            margin-bottom: 23px
        @media only screen and (min-width: 1551px)
            font-size: 26px
    .FlxTitle
        margin: -8px 0
        @include display
        @media only screen and (min-width: 576px)
            margin: -15px 0
        @media only screen and (min-width: 1200px)
            margin: 0 -20px
        @media only screen and (min-width: 1551px)
            margin: 0 -35px
        >*
            flex: 0 0 auto
            padding: 8px 0
            @media only screen and (min-width: 576px)
                padding: 15px 0
            @media only screen and (min-width: 1200px)
                padding: 0 20px
            @media only screen and (min-width: 1551px)
                padding: 0 35px
        .TitleRow
            width: 100%
            @media only screen and (min-width: 468px)
                width: 60%
            @media only screen and (min-width: 768px)
                width: 50%
            @media only screen and (min-width: 1200px)
                width: 33.33333333%
            .secTitleWrap
                margin: 0
                .secTitle
                    margin: 0
                    @media only screen and (min-width: 992px)
                        line-height: 44px
                    @media only screen and (min-width: 1551px)
                        line-height: 48px
        .InfoWrp
            width: 100%
            @media only screen and (min-width: 1200px)
                width: 41.66666667%
            p
                margin: 0
                color: #000000
                @media only screen and (min-width: 768px)
                    font-size: 18px
                    line-height: 26px
                @media only screen and (min-width: 1551px)
                    font-size: 20px
                    line-height: 28px
        .BtnWrp
            width: 100%
            @media only screen and (min-width: 1200px)
                display: flex
                align-items: flex-end
                justify-content: flex-end
                width: 25%
            .MoreBtn
                display: flex
                flex-wrap: wrap
                align-items: center
                padding: 5px 14px
                height: 45px
                white-space: nowrap
                width: fit-content
                width: -moz-fit-content
                font-weight: 600
                color: #1C1C1C
                font-size: 14px
                min-width: 165px
                background: rgba(255, 190, 0, 0.10)
                @media only screen and (min-width: 468px)
                    font-size: 17px
                @media only screen and (min-width: 1200px)
                    height: 25px
                    background: none
                    font-size: 20px
                    flex-direction: row
                    justify-content: right
                    align-content: space-between
                    height: 100%
                svg
                    width: 19px
                    height: 19px
                    fill: #ffbe00
                    transition: all .3s
                    transform: rotate(0deg)
                    @media only screen and (min-width: 468px)
                        width: 25px
                        height: 25px
                    @media only screen and (min-width: 1200px)
                        width: 32px
                        height: 32px
                .Txt
                    padding-right: 8px
                    width: calc(100% - 19px)
                    @media only screen and (min-width: 468px)
                        width: calc(100% - 25px)
                    @media only screen and (min-width: 1200px)
                        padding-right: 20px
                        text-align: center
                        width: calc(100% - 32px)
                &:hover
                    background: $basecolor
                    @media only screen and (min-width: 1200px)
                        background: none
                    svg
                        transform: rotate(60deg)
                        fill: #fff
                        @media only screen and (min-width: 1200px)
                            fill: #ffbe00
                    .Txt
                        color: #fff
                        @media only screen and (min-width: 1200px)
                            color: $basecolor

/************** ******* **************/
/************* INNER_PAGE *************/
/************** ******* **************/
#innerBanner
    position: relative
    height: 380px
    background: #1C1C1C
    @media only screen and (min-width: 992px)
        height: 560px
    .innerBg
        opacity: 0.34
        @include imgFit
    .bannerCntnt
        position: absolute
        bottom: 8%
        left: 0
        width: 100%
        color: #fff
        @media only screen and (min-width: 992px)
            bottom: 14%
        .container>.row
            align-items: flex-end
        .bnrMainHd
            font-size: 26px
            line-height: 1.1
            color: $white
            margin-bottom: 10px
            font-weight: 700
            font-family: $fontstack2
            @include mq('phablet')
                font-size: 36px
            @include mq('tablet-lg')
                font-size: 52px
            @include mq('laptop')
                font-size: 65px
        .bnrSubHd
            color: $white
            margin-bottom: 0
            font-size: 18px
            @include mq('phone-lg')
                font-size: 20px
            @include mq('tablet-lg')
                font-size: 22px
                line-height: 1.2
            @include mq('laptop')
                font-size: 24px
                line-height: 1.2
    .searchForm
        backdrop-filter: blur(30px)
        background: rgba(255,255,255,0.15)
        border-radius: 0
        position: relative
        max-width: 540px
        margin-top: auto
        border-left: 4px solid $basecolor2
        transition: 0.5s ease-in-out
        @include mq('tablet-lg')
            margin-left: auto
        &:hover
            background: rgba(255,255,255,0.25)
        input
            height: 50px
            width: 100%
            outline: none
            border: none
            padding: 0 60px 0 20px
            font-size: 16px
            font-weight: 400
            color: $white
            background: transparent
            @include mq('tablet-lg')
                font-size: 18px
                height: 65px

            &::placeholder
                color: $white
        .searchBtn
            position: absolute
            right: 0px
            top: 0px
            width: 80px
            text-align: center
            line-height: 65px
            cursor: pointer
            padding: 0
            background: transparent
            border: 0
            height: 100%
            &:hover
                svg
                    fill: $basecolor2
            svg
                fill: $white
                width: 20px
                height: 20px
                transition: 0.5s ease-in-out

.BannerH
    #innerBanner
        height: 140px
        @media only screen and (min-width: 992px)
            height: 200px
#innerSmBnr
    position: relative
    height: 180px
    background: #1C1C1C
    @media only screen and (min-width: 992px)
        height: 220px
    .innerBg
        opacity: 0.34
        @include imgFit

// custom styled form
.customForm
    width: 100%
    max-width: 400px
    margin: 0 auto
    .row>*
        padding: 0
    .formTle
        color: $basecolor
        font-weight: 700
        line-height: 1.2
        margin-bottom: 20px
        font-family: $fontstack2
        @include mq('tablet-lg')
            font-size: 40px
            margin-bottom: 40px
    .form-group
        position: relative
        margin-bottom: 14px
        .form-control
            padding-left: 14px
            background-color: $white
            border: 0
            border-radius: 0
            font-family: $fontstack1
            border-left: 4px solid transparent
            color: $text
            @include mq('phablet')
                padding-left: 18px
            @include mq('tablet-lg')
                padding-left: 25px
                font-size: 16px
                height: 60px
            @include mq('desktop')
                font-size: 18px
            &::-webkit-input-placeholder
                color: #A2A2A2
            &:-ms-input-placeholder
                color: #A2A2A2
            &::placeholder
                color: #A2A2A2
            &[type="date"]::-webkit-datetime-edit-text, &[type="date"]::-webkit-datetime-edit-month-field, &[type="date"]::-webkit-datetime-edit-day-field, &[type="date"]::-webkit-datetime-edit-year-field
                color: #A2A2A2
                font-size: 18px
                font-weight: 400
            &:focus
                border-left: 4px solid $basecolor2
        .form-select
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.725' height='6.425' viewBox='0 0 11.725 6.425'%3E%3Cpath id='Path_994' data-name='Path 994' d='M11.159 28.017H.565a.564.564 0 0 0-.4.965l5.3 5.3a.565.565 0 0 0 .795 0l5.3-5.3A.564.564 0 0 0 11.159 28.017Z' transform='translate(0 -28.017)' fill='%23a2a2a2'/%3E%3C/svg%3E")
            background-repeat: no-repeat
            background-position: right 1.2rem center
            background-size: 12px 12px
            color: #A2A2A2
        .fileUploadInput
            position: relative
            z-index: 1
            cursor: pointer
            width: 100%
            height: 43px
            @include mq('phone-lg')
                height: 45px
            @include mq('tablet-lg')
                height: 60px
            .form-group
                height: 100%
            input[type=file]
                appearance: initial
                background-color: initial
                cursor: default
                align-items: baseline
                color: inherit
                text-overflow: ellipsis
                white-space: pre
                text-align: start !important
                padding: initial
                border: initial
                overflow: hidden
                position: absolute
                height: 100%
                width: 100%
                opacity: 0
                cursor: pointer
            label
                position: absolute
                left: 0
                top: 0
                bottom: 0
                margin: auto
                width: 100%
                height: 100%
                display: flex
                align-items: center
                cursor: pointer
                color: #868686
            .icon
                font-size: 12px
                color: $white
                text-transform: capitalize
                cursor: pointer
                position: absolute
                border-radius: 8px
                display: flex
                align-items: center
                justify-content: center
                right: 16px
                top: 0
                bottom: 0
                margin: auto
                pointer-events: none
                background: $basecolor2
                width: 60px
                height: 26px
                @include mq('phone-lg')
                    font-size: 13px
                @include mq('tablet-lg')
                    font-size: 16px
                    width: 80px
                    height: 30px  
                @include mq('desktop')
                    font-size: 18px                      
        .error-msg
            position: absolute
            top: 100%
            bottom: 0
            font-size: 12px
            color: red
            line-height: 1
    .btnWrap
        margin-top: 17px
        justify-content: space-between
        @include display
        .btnSbmt
            font-size: 14px
            line-height: 1
            font-weight: 600
            font-family: $fontstack2
            background-color: $basecolor
            color: $white
            border-radius: 0
            border: 0
            padding: 0 10px
            letter-spacing: 0
            height: 45px
            width: 160px
            margin: 0
            text-transform: uppercase
            @include mq('phablet')
                font-size: 16px
            @include mq('tablet-lg')
                height: 60px
                font-size: 18px
            &.full
                width: 100%

.headingMain
    font-size: 22px
    font-family: $fontstack2
    font-weight: 700
    color: #1C1C1C
    @media only screen and (min-width: 576px)
        font-size: 24px
    @media only screen and (min-width: 992px)
        font-size: 26px
    @media only screen and (min-width: 1200px)
        font-size: 28px
    @media only screen and (min-width: 1441px)
        font-size: 30px
    @media only screen and (min-width: 1551px)
        font-size: 32px
