//MEDIA AND GALLERY_PAGE
/************** ******* **************/
/************* MEDIA AND GALLERY_PAGE *************/
/************** ******* **************/
#media-gallery
    padding: 40px 0 70px
    position: relative
    @media only screen and (min-width: 468px)
        padding: 60px 0 90px
    @media only screen and (min-width: 768px)
        padding: 80px 0 110px
    @media only screen and (min-width: 1200px)
        padding: 100px 0 130px
    @media only screen and (min-width: 1551px)
        padding: 130px 0 160px
    .align-items-start
        .nav
            @include center
            .nav-link
                border-radius: 0px
                padding: 0 0 15px
                background: none
                color: $hover
                font-family: $fontstack2
                font-size: 18px
                font-weight: 800
                line-height: 20px
                margin-right: 33px
                border-bottom: 2px solid $white
                @media only screen and (min-width: 468px)
                    font-size: 24px
                    line-height: 30px
                @media only screen and (min-width: 768px)
                    font-size: 26px
                    line-height: 38px
                @media only screen and (min-width: 1200px)
                    font-size: 30px
                    line-height: 42px
                @media only screen and (min-width: 1551px)
                    font-size: 35px
                    line-height: 47px
                &:last-child
                    margin-right: 0px

            .active
                background: none
                color: $basecolor
                font-family: $fontstack2
                font-size: 18px
                font-weight: 800
                line-height: 20px
                border-bottom: 2px solid $basecolor
                @media only screen and (min-width: 468px)
                    font-size: 24px
                    line-height: 30px
                @media only screen and (min-width: 768px)
                    font-size: 26px
                    line-height: 38px
                @media only screen and (min-width: 1200px)
                    font-size: 30px
                    line-height: 42px
                @media only screen and (min-width: 1551px)
                    font-size: 35px
                    line-height: 47px
        .tab-content
            padding: 40px 0 0
            @media only screen and (min-width: 468px)
                padding: 50px 0 0
            @media only screen and (min-width: 768px)
                padding: 60px 0 0
            @media only screen and (min-width: 1551px)
                padding: 70px 0 0
            .tab-pane
                .row
                    &>*
                        padding: 5px
                        @media only screen and (min-width: 468px)
                            padding: 10px
                        @media only screen and (min-width: 768px)
                            padding: 15px
                        @media only screen and (min-width: 992px)
                            padding: 10px
                        @media only screen and (min-width: 1551px)
                            padding: 15px
                    .col-6
                        flex: 0 0 auto
                        width: 100%
                        @media only screen and (min-width: 400px)
                            flex: 0 0 auto
                            width: 50%
                        @media only screen and (min-width: 468px)
                            flex: 0 0 auto
                            width: 50%
                        @media only screen and (min-width: 768px)
                            flex: 0 0 auto
                            width: 50%
                        @media only screen and (min-width: 992px)
                            flex: 0 0 auto
                            width: 25%
                        @media only screen and (min-width: 1551px)
                            flex: 0 0 auto
                            width: 25%
                a
                    
                    .photo-gallery
                        height: 230px
                        position: relative
                        overflow: hidden
                        background: $black
                        @media only screen and (min-width: 400px)
                            height: auto
                        @media only screen and (min-width: 1551px)
                            height: auto
                        img
                            -webkit-transform: scale(1)
                            transform: scale(1)
                            -webkit-transition: .8s ease-in-out
                            transition: .8s ease-in-out
                        img
                            @include imgFit
                    
                    &:hover
                        .photo-gallery
                            img
                                background: $black
                                opacity: 0.5
                                -webkit-transform: scale(1.2)
                                transform: scale(1.2)
                    .video-gallery
                        position: relative
                        overflow: hidden
                        height: 230px
                        @media only screen and (min-width: 400px)
                            height: auto
                        @media only screen and (min-width: 1551px)
                            height: auto
                        img
                            width: 100%
                            height: auto
                        .video-icon
                            position: absolute
                            top: 0
                            left: 0
                            width: 100%
                            height: 100%
                            opacity: 1
                            background: rgb(0 0 0 / 33%)
                            transition: all .3s ease
                            svg
                                margin: 0
                                padding: 0
                                position: absolute
                                top: 42%
                                left: 42%
                                text-align: center
                                width: 42px
                                @media only screen and (min-width: 468px)
                                    width: 42px
                                @media only screen and (min-width: 1551px)
                                    width: 55px
                        &:hover
                            svg
                                box-shadow: 0 0 0 rgba(204,169,44, 0.4)
                                animation: pulse 2s infinite
                                width: 42px
                                border-radius: 50%
                                @media only screen and (min-width: 468px)
                                    width: 42px
                                @media only screen and (min-width: 1551px)
                                    width: 55px
                                @keyframes pulse
                                    0%
                                        -moz-box-shadow: 0 0 0 0 #ffffffbb
                                        box-shadow: 0 0 0 0 #ffffffbb
                                    70%
                                        -moz-box-shadow: 0 0 0 20px #ffffff00
                                        box-shadow: 0 0 0 20px #ffffff00
                                    100%
                                        -moz-box-shadow: 0 0 0 0 #ffffff00
                                        box-shadow: 0 0 0 0 #ffffff00
                                
