//NEWS DETAIL_PAGE
/************** ******* **************/
/************* NEWS DETAIL_PAGE *************/
/************** ******* **************/
#news-detail
    position: relative
    padding: 0px 0 20px
    @media only screen and (min-width: 468px)
        padding: 0px 0 20px
    @media only screen and (min-width: 1200px)
        padding: 0px 0 30px
    @media only screen and (min-width: 1551px)
        padding: 0px 0 30px
    .News-Rgt 
        .row
            div[class*="col-"]
                &:nth-last-child(1)
                    a 
                        .NewsBox
                            border-bottom: 1px solid #E6E6E6
                            @media only screen and (min-width: 468px)
                                border-bottom: 1px solid #E6E6E6
                            @media only screen and (min-width: 768px)
                                border-bottom: 1px solid #E6E6E6
                            @media only screen and (min-width: 992px)
                                border-bottom: 0
                            @media only screen and (min-width: 1551px)
                                border-bottom: 0