//offersPage
/************** ******* **************/
/************* offersPage *************/
/************** ******* **************/
.offersPage
    .inrCntSec
        padding-top: 40px
        padding-bottom: 40px
        @include mq('phablet')
            padding-top: 60px
            padding-bottom: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 110px
            padding-bottom: 110px
#offersSec
    .ofrCard
        display: block
        margin-bottom: 10px
        &:hover
            .cImg
                img
                    opacity: 0.90
                    -webkit-transform: scale(1.1)
                    transform: scale(1.1)
        .cImg
            position: relative
            overflow: hidden
            background-color: $basecolor
            img
                opacity: 1
                -webkit-transform: scale(1)
                transform: scale(1)
                -webkit-transition: .6s ease-in-out
                transition: .6s ease-in-out
                @include imgFit
        .cCnt
            padding: 10px 10px 10px 0
            height: auto
            @include mq('tablet-lg')
                padding: 30px 10px 20px 0
            .cTle
                line-height: 1.2
                font-weight: 400
                color: $black
                margin-bottom: 0
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
                display: block
                display: -webkit-box
                @include mq('tablet-lg')
                    margin-bottom: 15px
                    font-size: 22px
