//packagesPage
/************** ******* **************/
/************* packagesPage *************/
/************** ******* **************/

#packagesSec
    &.inrCntSec
        padding-top: 40px
        padding-bottom: 40px
        @include mq('phablet')
            padding-top: 60px
            padding-bottom: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        @include mq('desktop')
            padding-top: 100px
            padding-bottom: 100px
    .secTitleWrap
        margin-bottom: 0
        @include mq('tablet-lg')
            margin-bottom: 20px
        .secSubTitle
            @include mq('tablet-lg')
                font-size: 20px
                max-width: 1100px
                margin-left: auto
                margin-right: auto
    .pckgCard
        width: 100%
        height: 100%
        background-color: $white
        border: 1px solid #E2E2E2
        &:hover
            .cImg
                img
                    -webkit-transform: scale(1.1)
                    transform: scale(1.1)
        .cImg
            width: 100%
            height: 180px
            border-bottom: 1px solid #E2E2E2
            overflow: hidden
            @include mq('phablet')
                height: 200px
            @include mq('tablet-lg')
                height: 240px
            img
                -webkit-transform: scale(1)
                transform: scale(1)
                -webkit-transition: .6s ease-in-out
                transition: .6s ease-in-out
                @include imgFit
        .cCnt
            width: 100%
            height: auto
            padding: 15px
            @include mq('desktop')
                padding: 20px 24px
            .dName
                font-weight: 600
                font-family: $fontstack2
                color: $text
                margin-bottom: 2px
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
                display: block
                display: -webkit-box
                @include mq('tablet-lg')
                    margin-bottom: 15px
                    font-size: 20px
            .dDisc
                color: $black
                margin-bottom: 20px
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
                display: block
                display: -webkit-box
        .cBttm
            border-right: 1px solid $basecolor
            border-bottom: 1px solid $basecolor
            @include display
            .docBtn
                width: 100%
                font-size: 14px
                line-height: 1
                font-weight: 600
                color: $basecolor
                border-radius: 0
                border: 0
                border-top: 1px solid $basecolor
                border-left: 1px solid $basecolor
                padding: 0 2px
                height: 45px
                margin: 0
                text-transform: capitalize
                align-items: center
                display: flex
                white-space: nowrap
                @include mq('tablet-lg')
                    height: 50px
                    font-size: 16px
            .lftBtn
                width: 30%
                .docBtn
                    &:hover
                        color: $white
                    &::before
                        background-color: #B38D4F
            .rgtBtn
                width: 70%
                .docBtn
                    justify-content: start
                    padding-left: 20px
                    svg
                        width: 16px
                        height: 16px
                        margin-left: 10px
                        fill: $basecolor
                        -webkit-transition: .6s ease-in-out
                        transition: .6s ease-in-out
                    &:hover
                        color: $white
                        svg
                            margin-left: 15px
                            fill: $white
                    &::before
                        background-color: $basecolor
#packageDtlsSec
    .secWrap
        &>.container>.row
            margin: 0
            @include mq('tablet')
                margin: 0
        .ulList
            margin-bottom: 15px
            li
                font-size: 14px
                padding-left: 25px
                margin-bottom: 14px
                position: relative
                @include mq('tablet')
                    font-size: 15px
                @include mq('tablet-lg')
                    font-size: 16px
                &::before
                    content: ""
                    position: absolute
                    top: 5px
                    left: 0
                    width: 11px
                    height: 11px
                    border: 2px solid $basecolor
                    border-radius: 50%
                    margin-right: 10px
        .contentBx
            max-width: 100%
            @include mq('tablet-lg')
                max-width: 600px
            .secTitleWrap
                @include mq('tablet-lg')
                    margin-bottom: 15px
        .lftWrap
            position: relative
            padding-top: 40px
            padding-bottom: 40px
            @include mq('phablet')
                padding-top: 60px
                padding-bottom: 60px
            @include mq('tablet-lg')
                padding-top: 80px
                padding-bottom: 80px
            @include mq('desktop')
                padding-top: 110px
                padding-bottom: 110px
        .rgtWrap
            position: relative
            padding-top: 40px
            padding-bottom: 40px
            display: flex
            @include mq('phablet')
                padding-top: 60px
                padding-bottom: 60px
            @include mq('tablet-lg')
                padding-top: 80px
                padding-bottom: 80px
            @include mq('desktop')
                padding-top: 110px
                padding-bottom: 110px
    .topSec
        position: relative
        .designBxElemntOuter
            position: absolute
            top: 40px
            left: auto
            right: 2vw
            z-index: -1
            -webkit-animation: blinkAnim 12s ease infinite
            animation: blinkAnim 12s ease infinite
            @include mq('tablet-lg')
                left: 2vw
                right: auto
            .elementOne
                width: 26px
                height: 26px
                background-color: $basecolor2
            .elementTwo
                width: 26px
                height: 26px
                background-color: $basecolor
                margin-left: 26px
        .lftWrap
            p
                line-height: 1.5
                @include mq('desktop')
                    font-size: 20px
            .pckgprice
                width: 120px
                font-size: 16px
                line-height: 1
                font-weight: 600
                color: #006b8e
                border: 1px solid #006b8e
                padding: 0 2px
                height: 45px
                text-transform: capitalize
                align-items: center
                justify-content: center
                display: flex
                text-align: center
                @include mq('tablet-lg')
                    height: 50px
                    font-size: 20px
        .rgtWrap
            @include mq('tablet-lg', max)
                padding-top: 0
                padding-bottom: 0
            &::after
                content: ""
                background: #f8f9fb
                display: block
                position: absolute
                top: 0
                bottom: 0
                right: 15px
                left: 15px
                width: auto
                height: 180px
                z-index: -2
                @include mq('tablet-lg')
                    top: 0
                    right: 0
                    left: 0
                    bottom: 0
                    width: 50vw
                    height: 100%
            .contntImg
                width: 100%
                max-width: 100%
                height: auto
                position: relative
                @include mq('tablet-lg')
                    max-width: 680px
                @include mq('desktop')
                    transform: translateX(70px)
                .designBxElemntOuter
                    top: auto
                    left: auto
                    bottom: -26px
                    right: -26px
                    z-index: 1
                    transform: translateY(-50%)
                img
                    @include imgFit
    .bttmSec
        .lftWrap
            position: relative
            &::after
                content: ""
                background: #f8f9fb
                display: none
                position: absolute
                top: 0
                bottom: 0
                right: 15px
                left: 15px
                width: auto
                height: 100%
                z-index: -2
                @include mq('tablet-lg')
                    display: block
                    top: 0
                    right: 0
                    left: auto
                    bottom: 0
                    width: 50vw
                    height: 100%
        .rgtWrap
            background-color: #f8f9fb
            padding: 30px 20px
            @include mq('phablet')
                padding: 40px
            @include mq('tablet-lg')
                padding-top: 0
                padding-bottom: 0
                background-color: transparent
            .formOuter
                width: 100%
                @include mq('tablet-lg')
                    margin: auto
                .customForm
                    max-width: 100%
                    @include mq('tablet-lg')
                        max-width: 400px
                    .formTle
                        margin-bottom: 30px
                        @include mq('tablet-lg')
                            font-size: 35px
                    .form-group
                        .form-control
                            @include mq('tablet-lg')
                                background-color: #f8f9fb
    .mrPckgSec
        background-color: $white
        padding-top: 40px
        padding-bottom: 40px
        @include mq('phablet')
            padding-top: 60px
            padding-bottom: 60px
        @include mq('tablet-lg')
            padding-top: 80px
            padding-bottom: 80px
        .secTitleWrap
            margin-bottom: 0
            @include mq('phablet')
                margin-bottom: 30px
            .secTitle
                margin-bottom: 0
        .pckgCarousel
            .item
                padding-left: 2px
                .pckgCard
                    width: 100%
                    height: 100%
                    background-color: $white
                    border: 1px solid $white
                    &:hover
                        .cImg
                            img
                                -webkit-transform: scale(1.1)
                                transform: scale(1.1)
                    .cImg
                        width: 100%
                        height: 180px
                        border-bottom: 1px solid #E2E2E2
                        overflow: hidden
                        @include mq('phablet')
                            height: 200px
                        @include mq('tablet-lg')
                            height: 240px
                        img
                            -webkit-transform: scale(1)
                            transform: scale(1)
                            -webkit-transition: .6s ease-in-out
                            transition: .6s ease-in-out
                            @include imgFit
                    .cCnt
                        width: 100%
                        height: auto
                        padding: 15px
                        @include mq('desktop')
                            padding: 20px
                        .dName
                            font-weight: 600
                            font-family: $fontstack2
                            color: $text
                            margin-bottom: 2px
                            white-space: nowrap
                            overflow: hidden
                            text-overflow: ellipsis
                            @include mq('tablet-lg')
                                margin-bottom: 10px
                                font-size: 20px
                        .dDisc
                            color: $black
                            margin-bottom: 20px
                            -webkit-line-clamp: 2
                            -webkit-box-orient: vertical
                            overflow: hidden
                            text-overflow: ellipsis
                            display: block
                            display: -webkit-box
                    .cBttm
                        border-right: 1px solid $basecolor
                        border-bottom: 1px solid $basecolor
                        @include display
                        .docBtn
                            width: 100%
                            font-size: 14px
                            line-height: 1
                            font-weight: 600
                            color: $basecolor
                            border-radius: 0
                            border: 0
                            border-top: 1px solid $basecolor
                            border-left: 1px solid $basecolor
                            padding: 0 2px
                            height: 45px
                            margin: 0
                            text-transform: capitalize
                            align-items: center
                            display: flex
                            text-align: center
                            @include mq('tablet-lg')
                                height: 50px
                                font-size: 16px
                        .lftBtn
                            width: 30%
                            .docBtn
                                &:hover
                                    color: $white
                                &::before
                                    background-color: #B38D4F
                        .rgtBtn
                            width: 70%
                            .docBtn
                                svg
                                    width: 16px
                                    height: 16px
                                    margin-left: 10px
                                    fill: $basecolor
                                    -webkit-transition: .6s ease-in-out
                                    transition: .6s ease-in-out
                                &:hover
                                    color: $white
                                    svg
                                        margin-left: 15px
                                        fill: $white
                                &::before
                                    background-color: $basecolor
