//PATIENTS AND VISITORS_PAGE
/************** ******* **************/
/************* PATIENTS AND VISITORS_PAGE *************/
/************** ******* **************/
#Patient_Visitors
    padding: 40px 0 30px
    @media only screen and (min-width: 468px)
        padding: 50px 0 40px
    @media only screen and (min-width: 768px)
        padding: 60px 0 50px
    @media only screen and (min-width: 992px)
        padding: 70px 0 60px
    @media only screen and (min-width: 1200px)
        padding: 80px 0 70px
    @media only screen and (min-width: 1551px)
        padding: 90px 0 80px
    .row
        margin: 0
        &>*
            padding: 0
    .Main_Title
        .Main-Title
            font-family: $fontstack2
            color: $text
            font-size: 24px
            line-height: 26px
            font-weight: 700
            text-align: left
            margin-bottom: 10px
            @media only screen and (min-width: 468px)
                font-size: 26px
                line-height: 28px
                margin-bottom: 10px
            @media only screen and (min-width: 768px)
                font-size: 28px
                line-height: 30px
            @media only screen and (min-width: 992px)
                font-size: 32px
                line-height: 38px
                margin-bottom: 10px
            @media only screen and (min-width: 1200px)
                font-size: 36px
                line-height: 40px
                margin-bottom: 15px
            @media only screen and (min-width: 1551px)
                font-size: 40px
                line-height: 48px
                margin-bottom: 20px
        .Main-SubTitle
            font-size: 16px
            color: $black
            line-height: 25px
            text-align: left
            font-weight: 400
            @media only screen and (min-width: 468px)
                font-size: 18px
                line-height: 26px
            @media only screen and (min-width: 768px)
                font-size: 20px
                line-height: 28px
            @media only screen and (min-width: 1200px)
                font-size: 22px
                line-height: 30px
            @media only screen and (min-width: 1551px)
                font-size: 24px
                line-height: 34px
#Patient-Visitors
    .row
        margin: 0
        &>*
            padding: 0
        .Patient-Lft
            position: relative
            background: #F8F9FB
            padding: 50px 0
            @media only screen and (min-width: 468px)
                padding: 60px 0
            @media only screen and (min-width: 768px)
                padding: 80px 0
            @media only screen and (min-width: 992px)
                padding: 100px 30px 100px 0px
            @media only screen and (min-width: 1551px)
                padding: 125px 60px 125px 0px
            &::before
                content:''
                background: #F8F9FB
                display: block
                position: absolute
                top: 0
                bottom: 0
                right: 0
                width: 100vw
                z-index: -1
                @media only screen and (min-width: 1551px)
                    content:''
                    background: #F8F9FB
                    display: block
                    position: absolute
                    top: 0
                    bottom: 0
                    right: 0
                    width: 50vw
                    z-index: -1
            &::after
                @media only screen and (max-width: 991px)
                    content:''
                    background: #F8F9FB
                    display: block
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    width: 100vw
                    z-index: -1
            
            .Patient
                .P_title
                    font-family: $fontstack2
                    color: $text
                    font-size: 22px
                    line-height: 26px
                    font-weight: 600
                    margin-bottom: 10px
                    @media only screen and (min-width: 468px)
                        font-size: 24px
                        line-height: 26px
                        margin-bottom: 15px
                    @media only screen and (min-width: 768px)
                        font-size: 26px
                        line-height: 28px
                        margin-bottom: 20px
                    @media only screen and (min-width: 992px)
                        font-size: 28px
                        line-height: 30px
                        margin-bottom: 25px
                    @media only screen and (min-width: 1200px)
                        font-size: 32px
                        line-height: 38px
                        margin-bottom: 30px
                    @media only screen and (min-width: 1551px)
                        font-size: 35px
                        line-height: 42px
                        margin-bottom: 40px
                ul
                    li
                        color: $text
                        font-size: 14px
                        font-weight: 400
                        line-height: 28px
                        position: relative
                        padding-left: 42px
                        margin-bottom: 10px
                        @media only screen and (min-width: 468px)
                            font-size: 15px
                        @media only screen and (min-width: 768px)
                            font-size: 16px
                            line-height: 28px
                        @media only screen and (min-width: 992px)
                            font-size: 18px
                            line-height: 30px
                        @media only screen and (min-width: 1551px)
                            font-size: 20px
                            line-height: 40px
                            margin-bottom: 15px
                        &::before
                            content: ""
                            background: no-repeat center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cg id='Ellipse_19' data-name='Ellipse 19' fill='%23fff' stroke='%23006b8e' stroke-width='2'%3E%3Ccircle cx='5.5' cy='5.5' r='5.5' stroke='none'/%3E%3Ccircle cx='5.5' cy='5.5' r='4.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A")
                            background-size: contain
                            width: 8px
                            height: 8px
                            position: absolute
                            left: 0
                            top: 10px
                            @media only screen and (min-width: 468px)
                                width: 9px
                                height: 9px
                                top: 11px
                            @media only screen and (min-width: 768px)
                                width: 9px
                                height: 9px
                                top: 13px
                            @media only screen and (min-width: 992px)
                                width: 11px
                                height: 11px
                                top: 11px
                            @media only screen and (min-width: 1551px)
                                width: 11px
                                height: 11px
                                top: 15px
        .Patient-Rgt
            position: relative
            padding: 50px 0
            @media only screen and (min-width: 468px)
                padding: 60px 0
            @media only screen and (min-width: 768px)
                padding: 80px 0
            @media only screen and (min-width: 992px)
                padding: 100px 0 100px 50px
            @media only screen and (min-width: 1551px)
                padding: 125px 0 125px 60px
            .Visitors
                .V_title
                    font-family: $fontstack2
                    color: $text
                    font-size: 22px
                    line-height: 26px
                    font-weight: 600
                    margin-bottom: 10px
                    @media only screen and (min-width: 468px)
                        font-size: 24px
                        line-height: 26px
                        margin-bottom: 15px
                    @media only screen and (min-width: 768px)
                        font-size: 26px
                        line-height: 28px
                        margin-bottom: 20px
                    @media only screen and (min-width: 992px)
                        font-size: 28px
                        line-height: 30px
                        margin-bottom: 25px
                    @media only screen and (min-width: 1200px)
                        font-size: 32px
                        line-height: 38px
                        margin-bottom: 30px
                    @media only screen and (min-width: 1551px)
                        font-size: 35px
                        line-height: 42px
                        margin-bottom: 40px
                ul
                    li
                        color: $text
                        font-size: 14px
                        font-weight: 400
                        line-height: 28px
                        position: relative
                        padding-left: 42px
                        margin-bottom: 10px
                        @media only screen and (min-width: 468px)
                            font-size: 15px
                        @media only screen and (min-width: 768px)
                            font-size: 16px
                            line-height: 28px
                        @media only screen and (min-width: 992px)
                            font-size: 18px
                            line-height: 30px
                        @media only screen and (min-width: 1551px)
                            font-size: 20px
                            line-height: 40px
                            margin-bottom: 15px
                        &::before
                            content: ""
                            background: no-repeat center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%3E%3Cg id='Ellipse_19' data-name='Ellipse 19' fill='%23fff' stroke='%23006b8e' stroke-width='2'%3E%3Ccircle cx='5.5' cy='5.5' r='5.5' stroke='none'/%3E%3Ccircle cx='5.5' cy='5.5' r='4.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A")
                            background-size: contain
                            width: 8px
                            height: 8px
                            position: absolute
                            left: 0
                            top: 10px
                            @media only screen and (min-width: 468px)
                                width: 9px
                                height: 9px
                                top: 11px
                            @media only screen and (min-width: 768px)
                                width: 9px
                                height: 9px
                                top: 13px
                            @media only screen and (min-width: 992px)
                                width: 11px
                                height: 11px
                                top: 11px
                            @media only screen and (min-width: 1551px)
                                width: 11px
                                height: 11px
                                top: 15px
                            
          