//promotorsPage
/************** ******* **************/
/************* promotorsPage *************/
/************** ******* **************/
#promotorsCntSec
    padding-top: 40px
    padding-bottom: 40px
    @include mq('phablet')
        padding-bottom: 60px
        padding-top: 60px
    @include mq('tablet-lg')
        padding-top: 80px
        padding-bottom: 80px
    @include mq('desktop')
        padding-top: 110px
        padding-bottom: 110px
    .prmtrSecWrap
        margin-bottom: 40px
        @include mq('phablet')
            margin-bottom: 60px
        @include mq('tablet-lg')
            margin-bottom: 80px
        .prmtrWrap

            .cImg
                width: 100%
                max-width: 540px
                max-height: 360px
                overflow: hidden
                margin-left: auto
                margin-right: auto
                @include mq('tablet-lg')
                    max-width: 540px
                    height: 360px
                img
                    -webkit-transition: .6s ease-in-out
                    transition: .6s ease-in-out
                    @include imgFit
        .cntWrap
            margin-bottom: 30px
            text-align: center
            @include mq('tablet-lg')
                text-align: left
            .dName
                font-weight: 700
                font-family: $fontstack2
                color: $text
                margin-bottom: 10px
                @include mq('tablet-lg')
                    margin-bottom: 15px
                    font-size: 40px
            .dDprt
                font-weight: 600
                margin-bottom: 10px
                color: $basecolor
                @include mq('tablet-lg')
                    margin-bottom: 40px
                    font-size: 18px
            .dDisc
                line-height: 1.6
                color: $black
                margin-bottom: 0
                @include mq('tablet-lg')
                    font-size: 20px
        .accoWrap
            .accordion-button
                display: flex
                justify-content: space-between
                &::after
                    background-image: none
                    content: "+"
                    font-size: 30px
                    margin: 0
                    line-height: 15px
                    color: $black
                    width: 18px
                    text-align: center
                    height: 15px
                    -webkit-transform: rotate(90deg)
                    -ms-transform: rotate(90deg)
                    transform: rotate(90deg)
                    -webkit-transition: -webkit-transform .2s ease-in
                    transition: -webkit-transform .2s ease-in
                    -o-transition: transform .2s ease-in
                &:not(.collapsed)::after
                    background-image: none
                    content: "-"
                    font-size: 40px
                    -webkit-transform: rotate(0deg)
                    -ms-transform: rotate(0deg)
                    transform: rotate(0deg)
            .accordion-item
                background-color: transparent
                border-top: solid 1px #e8e8e8
                &:nth-last-child(1)
                    border-bottom: solid 1px #e8e8e8
                .accordion-header
                    .accordion-button
                        font-weight: 700
                        font-family: $fontstack2
                        color: $text
                        padding: 15px 0
                        font-size: 16px
                        gap: 10px
                        @include mq('phablet')
                            font-size: 18px
                        @include mq('tablet')
                            font-size: 24px
                        @include mq('tablet-lg')
                            font-size: 30px
                            padding: 30px 0
                        &:not(.collapsed)
                            background-color: transparent
                            box-shadow: none
                        &:focus
                            box-shadow: none
                .accordion-collapse
                    .accordion-body
                        padding: 0
                        padding-right: 15px
                        padding-bottom: 15px
                        p
                            color: $black
                            margin-bottom: 15px
                        ul
                            margin-bottom: 15px
                            li
                                font-size: 14px
                                padding-left: 20px
                                margin-bottom: 10px
                                position: relative
                                @include mq('tablet')
                                    font-size: 15px
                                    padding-left: 25px
                                    margin-bottom: 14px
                                @include mq('tablet-lg')
                                    font-size: 16px
                                &::before
                                    content: ""
                                    position: absolute
                                    top: 5px
                                    left: 0
                                    width: 11px
                                    height: 11px
                                    border: 2px solid $basecolor
                                    border-radius: 50%
                                    margin-right: 10px
                                