//QUALITY AND SAFETY_PAGE
/************** ******* **************/
/************* QUALITY AND SAFETY_PAGE *************/
/************** ******* **************/
#Quality_and_Safety
    padding: 40px 0
    position: relative
    @media only screen and (min-width: 468px)
        padding: 50px 0
    @media only screen and (min-width: 768px)
        padding: 60px 0
    @media only screen and (min-width: 992px)
        padding: 70px 0
    @media only screen and (min-width: 1200px)
        padding: 80px 0 90px
    @media only screen and (min-width: 1551px)
        padding: 120px 0 110px
    .designBxElemntOuter
        position: absolute
        left: auto
        right: 2vw
        top: 20px
        z-index: -1
        -webkit-animation: blinkAnim 12s ease infinite
        animation: blinkAnim 12s ease infinite
        
        @include mq('tablet-lg')
            left: 2vw
            right: auto
            top: 40px
        @media only screen and (min-width: 1300px)
            left: 2vw
            right: auto
            top: 70px
        .elementOne
            width: 16px
            height: 16px
            background-color: $basecolor2
            @include mq('tablet-lg')
                width: 16px
                height: 16px
            @media only screen and (min-width: 1300px)
                width: 26px
                height: 26px
        .elementTwo
            width: 16px
            height: 16px
            background-color: $basecolor
            margin-left: 16px
            @include mq('tablet-lg')
                width: 16px
                height: 16px
                margin-left: 16px
            @media only screen and (min-width: 1300px)
                width: 26px
                height: 26px
                margin-left: 26px
        
    .Quality_Icon
        position: absolute
        left: auto
        right: 2vw
        bottom: 20px
        top: auto
        z-index: -1
        -webkit-animation: blinkAnim 12s ease infinite
        animation: blinkAnim 12s ease infinite
        
        @include mq('tablet-lg')
            left: auto
            right: 2vw
            bottom: 40px
            top: auto
        @media only screen and (min-width: 1300px)
            left: auto
            right: 7vw
            bottom: 70px
            top: auto
        .elementOne
            width: 16px
            height: 16px
            background-color: $basecolor2
            @include mq('tablet-lg')
                width: 16px
                height: 16px
            @media only screen and (min-width: 1300px)
                width: 26px
                height: 26px
        .elementTwo
            width: 16px
            height: 16px
            background-color: $basecolor
            margin-left: 16px
            @include mq('tablet-lg')
                width: 16px
                height: 16px
                margin-left: 16px
            @media only screen and (min-width: 1300px)
                width: 26px
                height: 26px
                margin-left: 26px
    h1,h2
        font-family: $fontstack2
        color: $text
        font-size: 24px
        line-height: 26px
        font-weight: 700
        margin-bottom: 10px
        @media only screen and (min-width: 468px)
            font-size: 26px
            line-height: 28px
            margin-bottom: 15px
        @media only screen and (min-width: 768px)
            font-size: 28px
            line-height: 20px
        @media only screen and (min-width: 992px)
            font-size: 32px
            line-height: 38px
            margin-bottom: 25px
        @media only screen and (min-width: 1200px)
            font-size: 36px
            line-height: 40px
            margin-bottom: 30px
        @media only screen and (min-width: 1551px)
            font-size: 40px
            line-height: 48px
            margin-bottom: 40px
    h3,h4,h5,h6
        font-family: $fontstack2
        color: $black
        font-size: 20px
        line-height: 24px
        font-weight: 600
        margin-bottom: 15px
        @media only screen and (min-width: 468px)
            font-size: 22px
        @media only screen and (min-width: 768px)
            font-size: 24px
        @media only screen and (min-width: 992px)
            font-size: 26px
            line-height: 26px
        @media only screen and (min-width: 1200px)
            font-size: 28px
            line-height: 28px
        @media only screen and (min-width: 1551px)
            font-size: 30px
            line-height: 30px
    p
        color: $text
        font-size: 14px
        font-weight: 400
        line-height: 26px
        margin-bottom: 20px
        @media only screen and (min-width: 468px)
            font-size: 15px
        @media only screen and (min-width: 768px)
            font-size: 16px
            line-height: 26px
            margin-bottom: 25px
        @media only screen and (min-width: 992px)
            font-size: 18px
            line-height: 28px
            margin-bottom: 30px
        @media only screen and (min-width: 1551px)
            font-size: 20px
            line-height: 30px
            margin-bottom: 35px