//SANJEEVANI_PAGE
/************** ******* **************/
/************* SANJEEVANI_PAGE *************/
/************** ******* **************/
#Sanjeevani
    padding: 40px 0 30px
    @media only screen and (min-width: 468px)
        padding: 50px 0 40px
    @media only screen and (min-width: 768px)
        padding: 60px 0 50px
    @media only screen and (min-width: 992px)
        padding: 70px 0 60px
    @media only screen and (min-width: 1200px)
        padding: 80px 0 70px
    @media only screen and (min-width: 1551px)
        padding: 90px 0 80px
    .row
        margin: 0
        &>*
            padding: 0
    .Main_Title
        .Main-Title
            font-family: $fontstack2
            color: $text
            font-size: 24px
            line-height: 26px
            font-weight: 700
            text-align: center
            margin-bottom: 10px
            @media only screen and (min-width: 468px)
                font-size: 26px
                line-height: 28px
                margin-bottom: 10px
            @media only screen and (min-width: 768px)
                font-size: 28px
                line-height: 30px
            @media only screen and (min-width: 992px)
                font-size: 32px
                line-height: 38px
                margin-bottom: 10px
            @media only screen and (min-width: 1200px)
                font-size: 36px
                line-height: 40px
                margin-bottom: 15px
            @media only screen and (min-width: 1551px)
                font-size: 40px
                line-height: 48px
                margin-bottom: 20px
        .Main-SubTitle
            font-size: 16px
            color: $black
            line-height: 25px
            text-align: center
            font-weight: 400
            @media only screen and (min-width: 468px)
                font-size: 18px
                line-height: 26px
                text-align: center
            @media only screen and (min-width: 768px)
                font-size: 20px
                line-height: 28px
            @media only screen and (min-width: 1200px)
                font-size: 22px
                line-height: 30px
            @media only screen and (min-width: 1551px)
                font-size: 24px
                line-height: 34px
                text-align: center
#sanjeevani-Box
    padding: 0px 0 20px
    @media only screen and (min-width: 468px)
        padding: 0px 0 30px
    @media only screen and (min-width: 768px)
        padding: 0px 0 40px
    @media only screen and (min-width: 992px)
        padding: 0px 0 50px
    @media only screen and (min-width: 1200px)
        padding: 0px 0 60px
    @media only screen and (min-width: 1551px)
        padding: 0px 0 70px
    .Sanjeevani_Box-1
        background: $basecolor
        padding: 15px
        transition: all .3s
        @media only screen and (min-width: 468px)
            padding: 15px
        @media only screen and (min-width: 768px)
            padding: 20px
        @media only screen and (min-width: 992px)
            padding: 25px
        @media only screen and (min-width: 1200px)
            padding: 30px
        @media only screen and (min-width: 1551px)
            padding: 40px
        .IconBox
            background: #ffffff14
            padding: 10px 20px 20px 20px
            border: 1px solid #ffffff14
            display: flex
            align-items: flex-start
            justify-content: space-between
            .Icn_1
                padding-top: 10px
                svg
                    width: 35px
                    height: 44px
                    @media only screen and (min-width: 468px)
                        width: 35px
                        height: 44px
                    @media only screen and (min-width: 992px)
                        width: 45px
                        height: 54px
                    @media only screen and (min-width: 1200px)
                        width: 55px
                        height: 64px
                    @media only screen and (min-width: 1551px)
                        width: 65px
                        height: 74px
        
            .Values
                padding-left: 0px
                padding-top: 10px
                .value_1
                    font-family: $fontstack2
                    color: $white
                    font-size: 26px
                    font-weight: 600
                    line-height: 28px
                    @media only screen and (min-width: 468px)
                        font-size: 28px
                        line-height: 30px
                    @media only screen and (min-width: 768px)
                        font-size: 30px
                        line-height: 35px
                    @media only screen and (min-width: 992px)
                        font-size: 36px
                        line-height: 40px
                    @media only screen and (min-width: 1200px)
                        font-size: 42px
                        line-height: 45px
                    @media only screen and (min-width: 1551px)
                        font-size: 49px
                        line-height: 59px
                .value_Txt
                    color: $white
                    font-size: 14px
                    font-weight: 400
                    line-height: 20px
                    @media only screen and (min-width: 468px)
                        font-size: 15px
                    @media only screen and (min-width: 992px)
                        font-size: 16px
                    @media only screen and (min-width: 1200px)
                        font-size: 17px
                    @media only screen and (min-width: 1551px)
                        font-size: 18px
            .value_Arrow
                svg
                    width: 18px
                    height: 18px
                    transition: all .3s
                    @media only screen and (min-width: 468px)
                        width: 21px
                        height: 21px
                    @media only screen and (min-width: 992px)
                        width: 24px
                        height: 24px
                    @media only screen and (min-width: 1200px)
                        width: 28px
                        height: 28px
                    @media only screen and (min-width: 1551px)
                        width: 31px
                        height: 31px
        .Content_Box
            padding: 15px 0 0
            @media only screen and (min-width: 468px)
                padding: 15px 0 0
            @media only screen and (min-width: 992px)
                padding: 20px 0 0
            @media only screen and (min-width: 1200px)
                padding: 25px 0 0
            @media only screen and (min-width: 1551px)
                padding: 30px 0 0
            .Cnt_ttL
                font-family: $fontstack2
                font-size: 16px
                line-height: 25px
                font-weight: 500
                color: $white
                margin-bottom: 10px
                @media only screen and (min-width: 468px)
                    font-size: 18px
                    line-height: 25px
                @media only screen and (min-width: 768px)
                    font-size: 20px
                    line-height: 26px
                @media only screen and (min-width: 992px)
                    font-size: 24px
                    line-height: 28px
                @media only screen and (min-width: 1200px)
                    font-size: 26px
                    line-height: 32px
                @media only screen and (min-width: 1551px)
                    font-size: 28px
                    line-height: 34px
            .Cnt_DtL
                font-size: 14px
                color: $white
                line-height: 22px
                font-weight: 400
                @media only screen and (min-width: 468px)
                    font-size: 14px
                    line-height: 22px
                @media only screen and (min-width: 768px)
                    font-size: 15px
                    line-height: 22px
                @media only screen and (min-width: 992px)
                    font-size: 16px
                    line-height: 22px
                @media only screen and (min-width: 1200px)
                    font-size: 17px
                    line-height: 22px
                @media only screen and (min-width: 1551px)
                    font-size: 18px
                    line-height: 24px
        &:hover
            background: #0f6f8fdb
            .IconBox
                .value_Arrow
                    svg
                        transform: rotate(60deg)
    .Sanjeevani_Box-2
        background: $basecolor2
        padding: 15px
        transition: all .3s
        @media only screen and (min-width: 468px)
            padding: 15px
        @media only screen and (min-width: 768px)
            padding: 20px
        @media only screen and (min-width: 992px)
            padding: 25px
        @media only screen and (min-width: 1200px)
            padding: 30px
        @media only screen and (min-width: 1551px)
            padding: 40px
        .IconBox
            background: #ffffff14
            padding: 10px 20px 20px 20px
            border: 1px solid #ffffff14
            display: flex
            align-items: flex-start
            justify-content: space-between
            .Icn_1
                padding-top: 10px
                svg
                    width: 35px
                    height: 44px
                    @media only screen and (min-width: 468px)
                        width: 35px
                        height: 44px
                    @media only screen and (min-width: 992px)
                        width: 45px
                        height: 54px
                    @media only screen and (min-width: 1200px)
                        width: 55px
                        height: 64px
                    @media only screen and (min-width: 1551px)
                        width: 65px
                        height: 74px
        
            .Values
                padding-left: 0px
                padding-top: 10px
                .value_1
                    font-family: $fontstack2
                    color: $white
                    font-size: 26px
                    font-weight: 600
                    line-height: 28px
                    @media only screen and (min-width: 468px)
                        font-size: 28px
                        line-height: 30px
                    @media only screen and (min-width: 768px)
                        font-size: 30px
                        line-height: 35px
                    @media only screen and (min-width: 992px)
                        font-size: 36px
                        line-height: 40px
                    @media only screen and (min-width: 1200px)
                        font-size: 42px
                        line-height: 45px
                    @media only screen and (min-width: 1551px)
                        font-size: 49px
                        line-height: 59px
                .value_Txt
                    color: $white
                    font-size: 14px
                    font-weight: 400
                    line-height: 20px
                    @media only screen and (min-width: 468px)
                        font-size: 15px
                    @media only screen and (min-width: 992px)
                        font-size: 16px
                    @media only screen and (min-width: 1200px)
                        font-size: 17px
                    @media only screen and (min-width: 1551px)
                        font-size: 18px
            .value_Arrow
                svg
                    width: 18px
                    height: 18px
                    transition: all .3s
                    @media only screen and (min-width: 468px)
                        width: 21px
                        height: 21px
                    @media only screen and (min-width: 992px)
                        width: 24px
                        height: 24px
                    @media only screen and (min-width: 1200px)
                        width: 28px
                        height: 28px
                    @media only screen and (min-width: 1551px)
                        width: 31px
                        height: 31px
        .Content_Box
            padding: 15px 0 0
            @media only screen and (min-width: 468px)
                padding: 15px 0 0
            @media only screen and (min-width: 992px)
                padding: 20px 0 0
            @media only screen and (min-width: 1200px)
                padding: 25px 0 0
            @media only screen and (min-width: 1551px)
                padding: 30px 0 0
            .Cnt_ttL
                font-family: $fontstack2
                font-size: 16px
                line-height: 25px
                font-weight: 500
                color: $white
                margin-bottom: 10px
                @media only screen and (min-width: 468px)
                    font-size: 18px
                    line-height: 25px
                @media only screen and (min-width: 768px)
                    font-size: 20px
                    line-height: 26px
                @media only screen and (min-width: 992px)
                    font-size: 24px
                    line-height: 28px
                @media only screen and (min-width: 1200px)
                    font-size: 26px
                    line-height: 32px
                @media only screen and (min-width: 1551px)
                    font-size: 28px
                    line-height: 34px
            .Cnt_DtL
                font-size: 14px
                color: $white
                line-height: 22px
                font-weight: 400
                @media only screen and (min-width: 468px)
                    font-size: 14px
                    line-height: 22px
                @media only screen and (min-width: 768px)
                    font-size: 15px
                    line-height: 22px
                @media only screen and (min-width: 992px)
                    font-size: 16px
                    line-height: 22px
                @media only screen and (min-width: 1200px)
                    font-size: 17px
                    line-height: 22px
                @media only screen and (min-width: 1551px)
                    font-size: 18px
                    line-height: 24px
        &:hover
            background: #FFBE00db
            .IconBox
                .value_Arrow
                    svg
                        transform: rotate(60deg)
    .Sanjeevani_Box-3
        background: $hover
        padding: 15px
        transition: all .3s
        @media only screen and (min-width: 468px)
            padding: 15px
        @media only screen and (min-width: 768px)
            padding: 20px
        @media only screen and (min-width: 992px)
            padding: 25px
        @media only screen and (min-width: 1200px)
            padding: 30px
        @media only screen and (min-width: 1551px)
            padding: 40px
        .IconBox
            background: #ffffff14
            padding: 10px 20px 20px 20px
            border: 1px solid #ffffff14
            display: flex
            align-items: flex-start
            justify-content: space-between
            .Icn_1
                padding-top: 10px
                svg
                    width: 35px
                    height: 44px
                    @media only screen and (min-width: 468px)
                        width: 35px
                        height: 44px
                    @media only screen and (min-width: 992px)
                        width: 45px
                        height: 54px
                    @media only screen and (min-width: 1200px)
                        width: 55px
                        height: 64px
                    @media only screen and (min-width: 1551px)
                        width: 65px
                        height: 74px
        
            .Values
                padding-left: 0px
                padding-top: 10px
                .value_1
                    font-family: $fontstack2
                    color: $white
                    font-size: 26px
                    font-weight: 600
                    line-height: 28px
                    @media only screen and (min-width: 468px)
                        font-size: 28px
                        line-height: 30px
                    @media only screen and (min-width: 768px)
                        font-size: 30px
                        line-height: 35px
                    @media only screen and (min-width: 992px)
                        font-size: 36px
                        line-height: 40px
                    @media only screen and (min-width: 1200px)
                        font-size: 42px
                        line-height: 45px
                    @media only screen and (min-width: 1551px)
                        font-size: 49px
                        line-height: 59px
                .value_Txt
                    color: $white
                    font-size: 14px
                    font-weight: 400
                    line-height: 20px
                    @media only screen and (min-width: 468px)
                        font-size: 15px
                    @media only screen and (min-width: 992px)
                        font-size: 16px
                    @media only screen and (min-width: 1200px)
                        font-size: 17px
                    @media only screen and (min-width: 1551px)
                        font-size: 18px
            .value_Arrow
                svg
                    width: 18px
                    height: 18px
                    transition: all .3s
                    @media only screen and (min-width: 468px)
                        width: 21px
                        height: 21px
                    @media only screen and (min-width: 992px)
                        width: 24px
                        height: 24px
                    @media only screen and (min-width: 1200px)
                        width: 28px
                        height: 28px
                    @media only screen and (min-width: 1551px)
                        width: 31px
                        height: 31px
        .Content_Box
            padding: 15px 0 0
            @media only screen and (min-width: 468px)
                padding: 15px 0 0
            @media only screen and (min-width: 992px)
                padding: 20px 0 0
            @media only screen and (min-width: 1200px)
                padding: 25px 0 0
            @media only screen and (min-width: 1551px)
                padding: 30px 0 0
            .Cnt_ttL
                font-family: $fontstack2
                font-size: 16px
                line-height: 25px
                font-weight: 500
                color: $white
                margin-bottom: 10px
                @media only screen and (min-width: 468px)
                    font-size: 18px
                    line-height: 25px
                @media only screen and (min-width: 768px)
                    font-size: 20px
                    line-height: 26px
                @media only screen and (min-width: 992px)
                    font-size: 24px
                    line-height: 28px
                @media only screen and (min-width: 1200px)
                    font-size: 26px
                    line-height: 32px
                @media only screen and (min-width: 1551px)
                    font-size: 28px
                    line-height: 34px
            .Cnt_DtL
                font-size: 14px
                color: $white
                line-height: 22px
                font-weight: 400
                @media only screen and (min-width: 468px)
                    font-size: 14px
                    line-height: 22px
                @media only screen and (min-width: 768px)
                    font-size: 15px
                    line-height: 22px
                @media only screen and (min-width: 992px)
                    font-size: 16px
                    line-height: 22px
                @media only screen and (min-width: 1200px)
                    font-size: 17px
                    line-height: 22px
                @media only screen and (min-width: 1551px)
                    font-size: 18px
                    line-height: 24px
        &:hover
            background: #b38d4fdb
            .IconBox
                .value_Arrow
                    svg
                        transform: rotate(60deg)
#sanjeevani_Content
    padding: 0px 0 40px
    @media only screen and (min-width: 468px)
        padding: 0px 0 50px
    @media only screen and (min-width: 768px)
        padding: 0px 0 60px
    @media only screen and (min-width: 992px)
        padding: 0px 0 70px
    @media only screen and (min-width: 1200px)
        padding: 0px 0 80px
    @media only screen and (min-width: 1551px)
        padding: 0px 0 90px
    .Cnt_DtL
        p
            font-size: 14px
            color: $black
            line-height: 24px
            font-weight: 400
            margin-bottom: 10px
            @media only screen and (min-width: 468px)
                font-size: 14px
                line-height: 24px
                margin-bottom: 10px
            @media only screen and (min-width: 768px)
                font-size: 15px
                line-height: 24px
                margin-bottom: 15px
            @media only screen and (min-width: 992px)
                font-size: 16px
                line-height: 26px
                margin-bottom: 20px
            @media only screen and (min-width: 1200px)
                font-size: 18px
                line-height: 28px
                margin-bottom: 25px
            @media only screen and (min-width: 1551px)
                font-size: 20px
                line-height: 30px
                margin-bottom: 30px
            &:last-child
                margin-bottom: 0px
