//SANJEEVANI MEDICAL CAMP_PAGE
/************** ******* **************/
/************* SANJEEVANI MEDICAL CAMP_PAGE *************/
/************** ******* **************/
#Sanjeevani
    padding: 40px 0 30px
    @media only screen and (min-width: 468px)
        padding: 50px 0 40px
    @media only screen and (min-width: 768px)
        padding: 60px 0 50px
    @media only screen and (min-width: 992px)
        padding: 70px 0 60px
    @media only screen and (min-width: 1200px)
        padding: 80px 0 70px
    @media only screen and (min-width: 1551px)
        padding: 90px 0 80px
    .row
        margin: 0
        &>*
            padding: 0
    .Main_Title
        .Main-Title
            font-family: $fontstack2
            color: $text
            font-size: 24px
            line-height: 26px
            font-weight: 700
            text-align: center
            margin-bottom: 10px
            @media only screen and (min-width: 468px)
                font-size: 26px
                line-height: 28px
                margin-bottom: 10px
            @media only screen and (min-width: 768px)
                font-size: 28px
                line-height: 30px
            @media only screen and (min-width: 992px)
                font-size: 32px
                line-height: 38px
                margin-bottom: 10px
            @media only screen and (min-width: 1200px)
                font-size: 36px
                line-height: 40px
                margin-bottom: 15px
            @media only screen and (min-width: 1551px)
                font-size: 40px
                line-height: 48px
                margin-bottom: 20px
        .Main-SubTitle
            font-size: 16px
            color: $black
            line-height: 25px
            text-align: center
            font-weight: 400
            @media only screen and (min-width: 468px)
                font-size: 18px
                line-height: 26px
                text-align: center
            @media only screen and (min-width: 768px)
                font-size: 20px
                line-height: 28px
            @media only screen and (min-width: 1200px)
                font-size: 22px
                line-height: 30px
            @media only screen and (min-width: 1551px)
                font-size: 24px
                line-height: 34px
                text-align: center
        .Main-Cnt
            padding: 15px 0 0
            @media only screen and (min-width: 468px)
                padding: 20px 0 0
            @media only screen and (min-width: 768px)
                padding: 30px 0 0
            @media only screen and (min-width: 992px)
                padding: 40px 0 0
            @media only screen and (min-width: 1200px)
                padding: 50px 0 0
            @media only screen and (min-width: 1551px)
                padding: 60px 0 0
            p
                font-size: 14px
                color: $black
                line-height: 24px
                font-weight: 400
                margin-bottom: 0px
                @media only screen and (min-width: 468px)
                    font-size: 14px
                    line-height: 24px
                    margin-bottom: 0px
                @media only screen and (min-width: 768px)
                    font-size: 15px
                    line-height: 24px
                @media only screen and (min-width: 992px)
                    font-size: 16px
                    line-height: 26px
                @media only screen and (min-width: 1200px)
                    font-size: 18px
                    line-height: 28px
                @media only screen and (min-width: 1551px)
                    font-size: 20px
                    line-height: 30px

#MedicalCamp
    padding: 0 0 20px
    @media only screen and (min-width: 468px)
        padding: 0 0 40px
    @media only screen and (min-width: 768px)
        padding: 0 0 60px
    @media only screen and (min-width: 992px)
        padding: 0 0 80px
    @media only screen and (min-width: 1200px)
        padding: 0 0 90px
    @media only screen and (min-width: 1551px)
        padding: 0 0 115px
    .row
        margin: 0
        &>*
            padding: 0
        .grid-section

            padding: 0 0px
            @media only screen and (min-width: 468px)
                padding: 0 0px
            @media only screen and (min-width: 1200px)
                padding: 0 0px
            @media only screen and (min-width: 1551px)
                padding: 0 0px
            .grid-products
                margin: -4px
                @include display
                @media only screen and (min-width: 468px)
                    margin: -4px
                @media only screen and (min-width: 768px)
                    margin: -4px
                @media only screen and (min-width: 992px)
                    margin: -7px
                @media only screen and (min-width: 1200px)
                    margin: -7px
                @media only screen and (min-width: 1551px)
                    margin: -7px
                .product-grid
                    width: calc(100% / 2)
                    padding: 4px
                    @media only screen and (min-width: 468px)
                        width: calc(100% / 2)
                        padding: 4px
                    @media only screen and (min-width: 768px)
                        width: calc(100% / 3)
                        padding: 4px
                    @media only screen and (min-width: 992px)
                        width: calc(100% / 3)
                        padding: 7px
                    @media only screen and (min-width: 1200px)
                        width: calc(100% / 4)
                        padding: 7px
                    @media only screen and (min-width: 1551px)
                        width: calc(100% / 4)
                        padding: 7px
                    .product_img
                        height: 155px
                        overflow: hidden
                        background: $black
                        @media only screen and (min-width: 468px)
                            height: 250px
                        @media only screen and (min-width: 768px)
                            height: 250px
                        @media only screen and (min-width: 992px)
                            height: 280px
                        @media only screen and (min-width: 1200px)
                            height: 270px
                        @media only screen and (min-width: 1551px)
                            height: 350px
                        img
                            @include imgFit
                            -webkit-transform: scale(1)
                            transform: scale(1)
                            -webkit-transition: .7s ease-in-out
                            transition: .7s ease-in-out
                    &:hover
                        .product_img
                            img
                                background: $black
                                opacity: 0.5
                                -webkit-transform: scale(1.2)
                                transform: scale(1.2)
                            
