//servicesPage
/************** ******* **************/
/************* servicesPage *************/
/************** ******* **************/
.servicesPage
    .inrCntSec
        padding-top: 40px
        @include mq('phablet')
            padding-top: 60px
        @include mq('tablet-lg')
            padding-top: 80px
        @include mq('desktop')
            padding-top: 110px
    #servicesSec
        .servCard
            display: block
            margin-bottom: 10px
            &:hover
                .cImg
                    img
                        opacity: 0.55
                        -webkit-transform: scale(1.1)
                        transform: scale(1.1)
                    .hoverRdMr
                        opacity: 1
                        transform: translate(-50%, -50%)
                        .rdMrIcon, .rdMrTxt
                            transform: scale(1)

            .cImg
                position: relative
                overflow: hidden
                height: 200px
                background-color: $basecolor
                @include mq('tablet-lg')
                    height: 220px
                img
                    opacity: 1
                    -webkit-transform: scale(1)
                    transform: scale(1)
                    -webkit-transition: .6s ease-in-out
                    transition: .6s ease-in-out
                    @include imgFit
                .hoverRdMr
                    position: absolute
                    top: 50%
                    left: 50%
                    text-align: center
                    transform: translate(-50%, 0)
                    -webkit-transition: all .4s ease-in-out
                    transition: .4s ease-in-out
                    opacity: 0
                    -webkit-backface-visibility: hidden
                    .rdMrIcon
                        transform: scale(0.8)
                        -webkit-transition: all .4s ease-in-out
                        transition: .4s ease-in-out
                        svg
                            width: 40px
                            height: 40px
                            fill: $white
                    .rdMrTxt
                        color: $white
                        text-transform: capitalize
                        margin-bottom: 0
                        transform: scale(0.8)
                        -webkit-transition: all .4s ease-in-out
                        transition: .4s ease-in-out
            .cCnt
                padding: 20px 10px 20px 0
                border-bottom: 1px solid #E6E6E6
                height: auto
                display: flex
                flex-direction: column
                justify-content: center
                @include mq('phablet')
                    height: 170px
                @include mq('tablet-lg')
                    height: 210px
                .cTle
                    line-height: 1.2
                    font-weight: 600
                    font-family: $fontstack2
                    color: $text
                    margin-bottom: 2px
                    -webkit-line-clamp: 2
                    -webkit-box-orient: vertical
                    overflow: hidden
                    text-overflow: ellipsis
                    display: block
                    display: -webkit-box
                    @include mq('tablet-lg')
                        margin-bottom: 15px
                        font-size: 26px
                .cDisc
                    color: $black
                    margin-bottom: 0
                    -webkit-line-clamp: 3
                    -webkit-box-orient: vertical
                    overflow: hidden
                    text-overflow: ellipsis
                    display: block
                    display: -webkit-box
    #serviceDtlsSec        
        .topSec
            position: relative
            margin-bottom: 40px
            @include mq('phablet')
                margin-bottom: 60px
            @include mq('tablet-lg')
                margin-bottom: 80px
            @include mq('desktop')
                margin-bottom: 110px
            &>.container>.row
                align-items: center
            .designBxElemntOuter
                position: absolute
                top: 0
                left: auto
                right: 2vw
                z-index: -1
                max-width: 52px
                padding: 0
                -webkit-animation: blinkAnim 12s ease infinite
                animation: blinkAnim 12s ease infinite
                @include mq('tablet-lg')
                    left: 3vw
                    right: auto
                &.rgt
                    left: auto
                    right: 2vw
                    top: auto
                    bottom: 0
                .elementOne
                    width: 26px
                    height: 26px
                    background-color: $basecolor2
                .elementTwo
                    width: 26px
                    height: 26px
                    background-color: $basecolor
                    margin-left: 26px
            .contentBx
                max-width: 100%
                @include mq('tablet-lg')
                    max-width: 510px
                    margin: 0 auto
                .secTitleWrap
                    @include mq('tablet-lg')
                        margin-bottom: 35px
                p
                    line-height: 1.6
                    margin-bottom: 10px
                    @include mq('desktop-lg')
                        font-size: 20px
            .contntImg
                width: 100%
                max-width: 100%
                height: 270px
                position: relative
                @include mq('phablet')
                    height: 360px
                @include mq('tablet-lg')
                    max-width: 480px
                    height: 570px
                &:hover
                    .circleElmt
                        animation-duration: 0.5s !important
                        
                img
                    border-radius: 0 100px 100px 0
                    @include imgFit
                    @include mq('tablet-lg')
                        border-radius: 0 50% 50% 0
                .circleElmt
                    position: absolute
                    top: 10%
                    left: -30px
                    background-color: $white
                    width: 60px
                    height: 60px
                    border-radius: 50%
                    -webkit-box-shadow: 0px 10px 31px 0px rgba(0,107,142,0.1)
                    -moz-box-shadow: 0px 10px 31px 0px rgba(0,107,142,0.1)
                    box-shadow: 0px 10px 31px 0px rgba(0,107,142,0.1)
                    animation: beat .30s infinite alternate
                    @include center
                    @include mq('tablet-lg')
                        left: -40px                       
                        width: 90px
                        height: 90px
                    svg
                        width: 25px
                        height: 30px
                        fill: $basecolor
                        @include mq('tablet-lg')
                            width: 40px
                            height: 50px
                    &:nth-child(2)
                        animation-duration: 2s
                        left: auto
                        right: -30px
                        top: calc( 50% - 30px )
                        background-color: $basecolor2
                        @include mq('tablet-lg')
                            top: calc( 50% - 45px )
                            right: -45px
                .bookAppoiBtn
                    position: absolute
                    left: 0
                    bottom: 0
                    width: 130px
                    height: 120px
                    padding: 20px 20px 20px 0
                    background-color: $white
                    display: inline-block
                    -webkit-transition: all .4s ease-in-out
                    transition: .4s ease-in-out
                    flex-direction: column
                    justify-content: space-between
                    @include display
                    @include mq('phablet')
                        width: 140px
                        height: 140px
                    @include mq('tablet-lg')
                        width: 180px
                        height: 180px
                    svg
                        width: 40px
                        height: 40px
                        fill: $basecolor2
                        text-align: right
                        margin-left: auto
                        transition: 0.5s all
                    .btnTxt
                        line-height: 1.3
                        font-weight: 600
                        color: $text
                        text-transform: capitalize
                        margin-bottom: 0
                        transform: scale(1)
                        -webkit-transition: all .4s ease-in-out
                        transition: .4s ease-in-out                        
                        @include mq('tablet-lg')
                            font-size: 24px
                    &:hover
                        svg
                            transform: rotate(62deg)
                        .btnTxt
                            transform: scale(0.9)

        .expertSec
            background-color: #F8F9FB
            padding-top: 40px
            padding-bottom: 40px
            @include mq('phablet')
                padding-top: 60px
                padding-bottom: 60px
            @include mq('tablet-lg')
                padding-top: 80px
                padding-bottom: 80px
            .secTitleWrap
                margin-bottom: 0
                @include mq('phablet')
                    margin-bottom: 40px
                .secTitle
                    margin-bottom: 0
            .docCarousel
                .item
                    padding-left: 2px
                    .docCard
                        width: 100%
                        background-color: $white
                        border: 1px solid #E2E2E2
                        &:hover
                            .cImg
                                img
                                    -webkit-transform: scale(1.1)
                                    transform: scale(1.1)
                        .cImg
                            width: 100%
                            height: 260px
                            border-bottom: 1px solid #E2E2E2
                            overflow: hidden
                            @include mq('tablet-lg')
                                height: 380px
                            img
                                -webkit-transform: scale(1)
                                transform: scale(1)
                                -webkit-transition: .6s ease-in-out
                                transition: .6s ease-in-out
                                @include imgFit
                        .cCnt
                            width: 100%
                            height: auto
                            padding: 15px
                            border-bottom: 1px solid #E2E2E2
                            @include mq('tablet-lg')
                                padding: 20px
                            .dName
                                font-weight: 600
                                font-family: $fontstack2
                                color: $text
                                margin-bottom: 2px
                                white-space: nowrap
                                text-overflow: ellipsis
                                overflow: hidden
                                @include mq('tablet-lg')
                                    margin-bottom: 15px
                                    font-size: 25px
                            .dDprt
                                font-weight: 600
                                margin-bottom: 5px
                                color: $basecolor
                                @include mq('tablet-lg')
                                    margin-bottom: 10px
                                    font-size: 18px
                            .dDisc
                                color: $black
                                margin-bottom: 0
                                -webkit-line-clamp: 2
                                -webkit-box-orient: vertical
                                overflow: hidden
                                text-overflow: ellipsis
                                display: block
                                display: -webkit-box
                        .cBttm
                            @include display
                            .docBtn
                                width: 100%
                                font-size: 14px
                                line-height: 1
                                font-weight: 600
                                color: #8B8B8B
                                border-radius: 0
                                border: 0
                                padding: 0 10px
                                height: 45px
                                margin: 0
                                text-align: center
                                text-transform: capitalize
                                justify-content: center
                                align-items: center
                                display: flex
                                @include mq('tablet-lg')
                                    height: 60px
                                    font-size: 18px
                            .lftBtn
                                width: 30%
                                border-right: 1px solid #E2E2E2
                                .docBtn
                                    &:hover
                                        color: $white
                                    &::before
                                        background-color: #B38D4F
                            .rgtBtn
                                width: 70%
                                .docBtn
                                    &:hover
                                        color: $white
                                    &::before
                                        background-color: $basecolor
