//VISION MISSION_PAGE
/************** ******* **************/
/************* VISION MISSION_PAGE *************/
/************** ******* **************/
#Breadcrumb-Nav
    .row
        margin: 0
        &>*
            padding: 0
        .breadcrumb
            padding: 30px 0px
            // margin-bottom: 0px
            margin: 0 -22.5px
            list-style: none
            @media only screen and (min-width: 568px)
                padding: 40px 0px
            @media only screen and (min-width: 1200px)
                padding: 50px 0px 45px
            li
                display: inline-block
                // padding-right: 20px
                color: #262626
                font-size: 16px
                font-family: $fontstack2
                padding: 0 22.5px
                position: relative
                @media only screen and (min-width: 1200px)
                    font-size: 20px
                a
                    color: #262626
                    font-size: 16px
                    @media only screen and (min-width: 1200px)
                        font-size: 20px
                    &:hover
                        color: $hover
                &:not(:last-of-type)
                    &::after
                        content: ""
                        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.389 14.28'%3e%3cg id='Group_1937' data-name='Group 1937' transform='translate(0 0)'%3e%3cpath id='Path_1006' data-name='Path 1006' d='M107.05%2c7.143%2c101.708%2c1.8a.783.783%2c0%2c0%2c1%2c0-1.1l.468-.468a.782.782%2c0%2c0%2c1%2c1.1%2c0l6.361%2c6.36a.788.788%2c0%2c0%2c1%2c0%2c1.109l-6.355%2c6.354a.783.783%2c0%2c0%2c1-1.1%2c0l-.468-.468a.782.782%2c0%2c0%2c1%2c0-1.1Z' transform='translate(-101.48 0)' fill='%23a7a7a7'/%3e%3c/g%3e%3c/svg%3e")
                        background-repeat: no-repeat
                        width: 6px
                        height: 14px
                        position: absolute
                        right: -4px
                        top: 5px
                        @media only screen and (min-width: 568px)
                            width: 6px
                            height: 14px
                        @media only screen and (min-width: 1200px)
                            width: 8px
                            height: 14px

            .active
                color: #000000 !important
                font-family: $fontstack2
                font-size: 16px
                @media only screen and (min-width: 1200px)
                    font-size: 20px
#vision-mission
    padding: 0 0 40px
    @media only screen and (min-width: 468px)
        padding: 0 0 50px
    @media only screen and (min-width: 768px)
        padding: 0 0 60px
    @media only screen and (min-width: 992px)
        padding: 0 0 80px
    @media only screen and (min-width: 1200px)
        padding: 0 0 100px
    @media only screen and (min-width: 1551px)
        padding: 0 0 140px

    .visionmission-sec
        display: flex
        -ms-flex-wrap: wrap
        flex-wrap: wrap
        align-items: center  
        .Lft-side
            width: 100%
            @media only screen and (min-width: 992px)
                width: 420px
            @media only screen and (min-width: 1200px)
                width: 613px
            @media only screen and (min-width: 1551px)
                width: 613px
            .Vision
                padding: 20px 0 20px
                @media only screen and (min-width: 468px)
                    padding: 20px 0 20px
                @media only screen and (min-width: 768px)
                    padding: 30px 0 30px
                @media only screen and (min-width: 992px)
                    padding: 40px 0 40px
                @media only screen and (min-width: 1200px)
                    padding: 60px 0 50px
                @media only screen and (min-width: 1551px)
                    padding: 70px 0 60px
                .v_m-ttl
                    font-size: 24px
                    font-family: $fontstack2
                    line-height: 26px
                    margin-bottom: 10px
                    color: $text
                    font-weight: 800
                    @media only screen and (min-width: 468px)
                        font-size: 26px
                        line-height: 30px
                        margin-bottom: 10px
                    @media only screen and (min-width: 768px)
                        font-size: 28px
                        line-height: 30px
                    @media only screen and (min-width: 992px)
                        font-size: 30px
                        line-height: 38px
                    @media only screen and (min-width: 1200px)
                        font-size: 32px
                        line-height: 40px
                        margin-bottom: 20px
                    @media only screen and (min-width: 1551px)
                        font-size: 34px
                        line-height: 46px
                        margin-bottom: 30px
                .v_m-content
                    font-size: 14px
                    color: $black
                    line-height: 26px
                    font-weight: 400
                    @media only screen and (min-width: 468px)
                        font-size: 15px
                        line-height: 26px
                    @media only screen and (min-width: 768px)
                        font-size: 16px
                        line-height: 28px
                    @media only screen and (min-width: 992px)
                        font-size: 18px
                        line-height: 28px
                    @media only screen and (min-width: 1200px)
                        font-size: 20px
                        line-height: 30px
                    @media only screen and (min-width: 1551px)
                        font-size: 20px
                        line-height: 30px
            .Mission
                padding: 0 0 20px
                @media only screen and (min-width: 468px)
                    padding: 0 0 30px
                @media only screen and (min-width: 768px)
                    padding: 0 0 40px
                @media only screen and (min-width: 992px)
                    padding: 0 0 50px
                @media only screen and (min-width: 1200px)
                    padding: 0 0 55px
                @media only screen and (min-width: 1551px)
                    padding: 0 0 60px
                .v_m-ttl
                    font-size: 24px
                    font-family: $fontstack2
                    line-height: 26px
                    margin-bottom: 10px
                    color: $text
                    font-weight: 800
                    @media only screen and (min-width: 468px)
                        font-size: 26px
                        line-height: 30px
                        margin-bottom: 10px
                    @media only screen and (min-width: 768px)
                        font-size: 28px
                        line-height: 30px
                    @media only screen and (min-width: 992px)
                        font-size: 30px
                        line-height: 38px
                    @media only screen and (min-width: 1200px)
                        font-size: 32px
                        line-height: 40px
                        margin-bottom: 20px
                    @media only screen and (min-width: 1551px)
                        font-size: 34px
                        line-height: 46px
                        margin-bottom: 30px
                .v_m-content
                    font-size: 14px
                    color: $black
                    line-height: 26px
                    font-weight: 400
                    @media only screen and (min-width: 468px)
                        font-size: 15px
                        line-height: 26px
                    @media only screen and (min-width: 768px)
                        font-size: 16px
                        line-height: 28px
                    @media only screen and (min-width: 992px)
                        font-size: 18px
                        line-height: 28px
                    @media only screen and (min-width: 1200px)
                        font-size: 20px
                        line-height: 30px
                    @media only screen and (min-width: 1551px)
                        font-size: 20px
                        line-height: 30px
        .Rgt-side
            width: 100%
            display: flex
            flex-wrap: wrap
            margin: -8px
            justify-content: center
            @media only screen and (min-width: 700px)
                margin: -15px
            @media only screen and (min-width: 768px)
                font-size: 16px
                line-height: 28px
            @media only screen and (min-width: 992px)
                width: calc(100% - 420px)
                padding-left: 50px
            @media only screen and (min-width: 1200px)
                width: calc(100% - 613px)
                padding-left: 67px
                margin: -10px
            @media only screen and (min-width: 1551px)
                padding-left: 87px
                margin: -15px
            &>*
                padding: 8px
                @media only screen and (min-width: 700px)
                    padding: 10px
                @media only screen and (min-width: 1200px)
                    padding: 10px
                @media only screen and (min-width: 1551px)
                    padding: 15px
            .v_m-ImgBox3
                display: flex
                align-items: center
                width: 100%
                position: relative
                overflow: hidden
                max-width: 50%
                img
                    @media only screen and (max-width: 699px)
                        @include imgFit
                @media only screen and (min-width: 700px)
                    width: 280px
                @media only screen and (min-width: 992px)
                    width: 200px
                @media only screen and (min-width: 1200px)
                    width: 215px
                @media only screen and (min-width: 1551px)
                    width: 280px
                
                .shine
                    display: block
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    background: $white
                    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.8)),to(rgba(255,255,255,0)))
                    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 50%,rgba(255,255,255,0) 100%)
                    pointer-events: none
                    z-index: 3
                    opacity: 0
                    transform: skew(30deg)
                    animation: shine 1.2s linear infinite
                    @keyframes shine
                        0%
                            left: -50%
                            opacity: 0
                        50%
                            left: 25%
                            opacity: .5
                        100%
                            left: 100%
                            opacity: 0
            .vision_mission-img
                margin: -8px
                display: flex
                flex-wrap: wrap
                @media only screen and (min-width: 700px)
                    width: calc(100% - 280px)
                    margin: -15px
                @media only screen and (min-width: 992px)
                    width: calc(100% - 200px)
                @media only screen and (min-width: 1200px)
                    width: calc(100% - 215px)
                    margin: -10px
                @media only screen and (min-width: 1551px)
                    width: calc(100% - 280px)
                    margin: -15px
                &>*
                    padding: 8px
                    @media only screen and (min-width: 700px)
                        padding: 15px
                    @media only screen and (min-width: 1200px)
                        padding: 10px
                    @media only screen and (min-width: 1551px)
                        padding: 15px
                .v_m-ImgBox1
                    width: 50%
                    position: relative
                    overflow: hidden
                    img
                        @media only screen and (max-width: 699px)
                            @include imgFit
                    @media only screen and (min-width: 700px)
                        width: 100%
                    @media only screen and (min-width: 1200px)
                        width: 100%
                    @media only screen and (min-width: 1551px)
                        width: 100%
                    
                    .shine
                        display: block
                        position: absolute
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        background: $white
                        background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.8)),to(rgba(255,255,255,0)))
                        background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 50%,rgba(255,255,255,0) 100%)
                        pointer-events: none
                        z-index: 3
                        opacity: 0
                        transform: skew(30deg)
                        animation: shine 1.2s linear infinite
                        @keyframes shine
                            0%
                                left: -50%
                                opacity: 0
                            50%
                                left: 25%
                                opacity: .5
                            100%
                                left: 100%
                                opacity: 0
                .v_m-ImgBox2
                    width: 50%
                    position: relative
                    overflow: hidden
                    img
                        @media only screen and (max-width: 699px)
                            @include imgFit
                    @media only screen and (min-width: 700px)
                        width: 75%
                    @media only screen and (min-width: 1200px)
                        width: 75%
                    @media only screen and (min-width: 1551px)
                        width: 75%
                    
                    .shine
                        display: block
                        position: absolute
                        left: 0
                        top: 0
                        width: 100%
                        height: 100%
                        background: $white
                        background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.8)),to(rgba(255,255,255,0)))
                        background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 50%,rgba(255,255,255,0) 100%)
                        pointer-events: none
                        z-index: 3
                        opacity: 0
                        transform: skew(30deg)
                        animation: shine 1.2s linear infinite
                        @keyframes shine
                            0%
                                left: -50%
                                opacity: 0
                            50%
                                left: 25%
                                opacity: .5
                            100%
                                left: 100%
                                opacity: 0
                    


                    



#our_values
    background: #F8F9FB
    padding: 30px 0
    @media only screen and (min-width: 468px)
        padding: 40px 0
    @media only screen and (min-width: 768px)
        padding: 60px 0
    @media only screen and (min-width: 992px)
        padding: 90px 0
    @media only screen and (min-width: 1200px)
        padding: 100px 0
    @media only screen and (min-width: 1551px)
        padding: 130px 0
    .row
        margin: 0 -15px
        @media only screen and (min-width: 768px)
            margin: 0 -15px
        @media only screen and (min-width: 1551px)
            margin: 0 -30px
            
        &>*
            padding: 0 15px
            @media only screen and (min-width: 768px)
                padding: 0 15px
            @media only screen and (min-width: 1551px)
                padding: 0 30px
        .value_box
            @media (min-width: 320px) and (max-width: 991px)
                margin-bottom: 30px
            .imG-Box
                overflow: hidden
                width: 100%
                height: 180px
                @media only screen and (min-width: 468px)
                    height: 210px
                @media only screen and (min-width: 768px)
                    height: 250px
                @media only screen and (min-width: 1200px)
                    height: 280px
                @media only screen and (min-width: 1551px)
                    height: 310px
                img
                    @include imgFit
                    -webkit-transform: scale(1)
                    transform: scale(1)
                    -webkit-transition: .7s ease-in-out
                    transition: .7s ease-in-out
            .CnT_Box
                padding: 25px 0 0
                -webkit-transition: .3s ease-in-out
                transition: .3s ease-in-out
                @media only screen and (min-width: 468px)
                    padding: 30px 0 0
                @media only screen and (min-width: 768px)
                    padding: 35px 0 0
                @media only screen and (min-width: 992px)
                    padding: 40px 0 0
                @media only screen and (min-width: 1200px)
                    padding: 50px 0 0
                .value_TtL
                    font-family: $fontstack2
                    color: $text
                    font-weight: 800
                    font-size: 18px
                    line-height: 26px
                    margin-bottom: 15px
                    @media only screen and (min-width: 468px)
                        font-size: 24px
                        line-height: 30px
                    @media only screen and (min-width: 768px)
                        font-size: 28px
                        line-height: 36px
                    @media only screen and (min-width: 992px)
                        font-size: 30px
                        line-height: 40px
                    @media only screen and (min-width: 1200px)
                        font-size: 34px
                        line-height: 46px
                .value_DtL
                    color: $text
                    font-size: 14px
                    font-weight: 400
                    line-height: 26px
                    margin-bottom: 25px
                    @media only screen and (min-width: 468px)
                        font-size: 15px
                    @media only screen and (min-width: 768px)
                        font-size: 16px
                        line-height: 26px
                    @media only screen and (min-width: 992px)
                        font-size: 18px
                        line-height: 28px
                    @media only screen and (min-width: 1551px)
                        font-size: 20px
                        line-height: 30px
                .value_Btn
                    a
                        .KnowMore_Btn
                            color: $text
                            font-size: 14px
                            font-weight: 400
                            line-height: 26px
                            margin-bottom: 25px
                            margin-right: 25px
                            transition: all .3s
                            @media only screen and (min-width: 468px)
                                font-size: 16px
                            @media only screen and (min-width: 768px)
                                font-size: 18px
                                line-height: 26px
                            @media only screen and (min-width: 992px)
                                font-size: 20px
                                line-height: 28px
                            @media only screen and (min-width: 1551px)
                                font-size: 22px
                                line-height: 30px

                        svg
                            width: 16px
                            fill: $basecolor2
                            vertical-align: middle
                            @media only screen and (min-width: 468px)
                                width: 18px
                            @media only screen and (min-width: 768px)
                                width: 20px
                            @media only screen and (min-width: 992px)
                                width: 25px
                            @media only screen and (min-width: 1551px)
                                width: 31px

            &:hover
                padding: 0px
                .CnT_Box
                    // background: $white
                    // padding: 50px 20px
                    .value_Btn
                        a
                            // padding: 15px 20px
                            // background: $basecolor2
                            .KnowMore_Btn
                                color: $basecolor2
                                letter-spacing: 1px
                            svg
                                fill: $basecolor2
                                animation: arrow-right .8s cubic-bezier(.36,.07,.57,.99) infinite
                                @keyframes arrow-right
                                    0%
                                        transform: scale(1) translateX(0)
                                    33%
                                        transform: scale(1) translateX(-5px)
                                    66%
                                        transform: scale(1) translateX(5px)
                                    100%
                                        transform: scale(1) translateX(0)
                .imG-Box
                    img
                        -webkit-transform: scale(1.2)
                        transform: scale(1.2)
