//MISINS

@mixin display
    display: -ms-flexbox
    display: flex
    -ms-flex-wrap: wrap
    flex-wrap: wrap

@mixin center
    display: -ms-flexbox
    display: flex
    align-items: center
    justify-content: center

@mixin imgFit
    width: 100%
    height: 100%
    object-fit: cover

@mixin userselect
    -webkit-user-select: none !important
    -moz-user-select: none !important
    -ms-user-select: none !important
    user-select: none !important

$breakpoints: ("phone": 400px, "phone-lg":480px, "phablet":576px, "tablet":768px, "tablet-lg":992px, "laptop":1024px, "desktop":1248px, "desktop-lg":1440px)
@mixin mq($width, $type: min)
    @if map_has_key($breakpoints, $width)
        $width: map_get($breakpoints, $width)
        @if $type == max
            $width: $width - 1px
        @media only screen and (#{$type}-width: $width)
            @content
    @else 
        @media only screen and (#{$type}-width: $width)
            @content

@mixin keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content

