/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 24, 2018, 8:33:03 PM
    Author     : manu ko
*/
#login {
    background-image: linear-gradient(#0d2c50, #255d8b);
}
#login .site-login{
    margin-top: 75px;
    margin: auto;
    width: 450px;
    border-radius: 5px;
    background: #ffffff;
    -moz-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.31);
    padding: 25px;
    margin-top: 80px;
}
#login .site-login .head{
    text-align: center;
    margin-bottom: 20px;
}
#login .form-control {
    border-radius: 3px;
    padding: 22px 10px;
}
#login .form-group .btn-primary {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #005ca7;
    border-color: #005ca7;
    outline: none;
    padding: 12px 12px;
    font-size: 18px;
    font-weight: 600;
}
#login .form-group .btn-primary:hover {
    background-color: #005ca7;
    border-color: #005ca7;
}
.logo-lg img{
    width: 59px;
}
.fixed .main-header {
    border-bottom: 3px solid #19456e;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #222d32;
}
.signout-btn {
    padding: 13px 18px;
    background: #222d32;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    outline: none;
}
.alert-success {
    border-color: #008d4c;
    padding: 5px 10px;
}
.alert-danger, .alert-error {
    border-color: #d73925;
    padding: 5px 10px;
}
.alert-dismissable .close, .alert-dismissible .close {
    right: 0px;
}
.form-control {
    border-radius: 4px;
}
.grid-view .action-column{
    width: 65px;
}
.grid-view table th{
    white-space: nowrap;
}
.grid-view .glyphicon{
    padding: 0px 5px;
}
.panel-default>.panel-heading {
    color: #636161;
    background-color: #ffffff;
    border-color: #ddd;
}
.panel-title{
    font-weight: 600;
}
.form-group{
    width: 100%;
    margin-bottom: 8px !important;

}

.form-group .control-label{
    width: 100%;
}
.form-group .form-control{
    width: 100%;
}

.btn-info {
    background-color: #00c0ef;
    border-color: #00acd6;
    width: fit-content;
    margin-bottom: 30px;
}
.btn-success{
    float: right;
    width: auto;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 15px;
}
.skin-blue .main-header .logo {
    background-color: #192124;
}
.skin-blue .main-header .logo:hover {
    background-color: #192124;
}
.skin-blue .main-header .navbar {
    background-color: #222d32;
}
.gal-img{
    border: 1px solid #d6d6d6;
    padding: 12px;
    margin-bottom: 30px;
}
.gal-img img{
    width: 150px;
    height: 75px;
}
.gal-img .gal-remove{
    position: absolute;
    top: 5px;
    right: 21px;
    color: red;
    cursor: pointer;
}

.CodeMirror { height: auto; border: 1px solid #ddd; }
.CodeMirror-scroll { max-height: 200px; }
.CodeMirror pre { padding-left: 7px; line-height: 1.25; }
.banner { background: #ffc; padding: 6px; border-bottom: 2px solid silver;  }
.banner div { margin: 0 auto; max-width: 700px; text-align: center; }
.CodeMirror {
    height: 135px !important;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 24px;
    color: #005da9;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    padding-left: 18px;
}
.treeview-menu .fa-circle-o {
    color: #005da9;
}
/******************** TAB CSS **********************************/

#tabs2 {
    background: #0f2852;
}
#tabs2 .nav-tabs {
    border-bottom: 0px solid #9c1b32;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}
#tabs2 .card1 .nav-tabs>li {
    width: calc(100%/2);
    flex-basis: 0;
    flex-grow: 1;
    display: inline-block;
}
#tabs2 .nav-tabs>li>a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #fff;
    margin-right: 0px;
    background: #0f2852;
    color: #fff;
}
#tabs2 .nav-tabs>li.active>a {
    background: #2fb3ff;
    color: #fff;
    border-color: #fff;
}
#tabs2 .nav-tabs>li>a:hover {
    background: #2fb3ff;
    border-color: #2fb3ff;
}